[2019-06-17 21:47] matulekpl commented on #269
great:) !
looking forward to try new version:)

[2019-06-22 15:25] weakfl commented on #214
@Mr-iX see #270

[2019-06-22 15:29] Mr-iX commented on #214
@weakfl Great work 👍🏻
Looking forward to try this on the new beta.

[2019-06-26 13:53] weakfl commented on #214
@timbms I was actually looking into #269, but since charts are more or less images, I had similar problems as described here.

A couple of observations:

There's a race condition in `NewImageUITableViewCell.loadImage()`:

[code]

The delegate function `self?.delegate?.didLoadImageOf(self)` is called before `self?.widget?.image = image` is set. This triggers a second call of `loadImage()` when `rel

[2019-06-27 14:16] weakfl commented on #214
@timbms Took another look, but couldn't get it to work properly the way it was implemented. So I've refactored `NewImageUITableViewCell` to use a constraint based approach for the image view.

I didn't notice any layout issues on rotation or otherwise after refactoring. Hope this is fixed now.

@Mr-iX Pease report back once this has been merged and a new build is available via TestFlight (probably

[2019-06-27 19:39] timbms commented on #269
@matulekpl Please try latest TestFlight beta. It should work now

[2019-06-27 20:11] timbms commented on #214
well done. Hopefully we can close this issue for good

[2019-06-27 23:10] matulekpl commented on #269
Yeah!!:) everything now works fine!!
Thank You!!
:)

[2019-06-27 23:10] #269 closed

[2019-06-30 07:33] maniac103 commented on #206
Where do these (suspected) requests by the Android app go to? If it's `/rest/bindings` I suspect those requests come from neither app, as the Android app certainly doesn't request those.

[2019-06-30 07:37] maniac103 commented on #236
@timbms I think this is the same issue as https://github.com/openhab/openhab-android/issues/1281

[2019-07-01 15:00] #214 closed

[2019-07-01 18:10] Mr-iX commented on #214
@weakfl Today I tried the VPN check and the image reload and both are working perfectly.
Thanks!

[2019-07-01 18:17] weakfl commented on #214
@Mr-iX Welcome, glad it works as expected 👍

[2019-07-02 11:31] weakfl commented on #246
@timbms FYI: I've already fixed this, will submit a PR after work. I've also noticed a retain cycle on refresh, which should be fixed with the upcoming PR as well...

[2019-07-02 11:47] timbms commented on #246
Great @weakfl
I will merge asap and build a new release

[2019-07-02 18:25] timbms commented on #246
@suntribe : Please give the beta release 273 a try.

[2019-07-02 18:26] #39 closed

[2019-07-02 18:27] #111 closed

[2019-07-02 18:28] #77 closed

[2019-07-02 18:29] #64 closed

[2019-07-02 18:30] #133 closed

[2019-07-02 18:31] #199 closed

[2019-07-02 18:31] #183 closed

[2019-07-02 18:57] timbms commented on #72
Please try with new beta

[2019-07-02 18:58] timbms commented on #56
implemented in new beta. @mrguessed  Please give it a try

[2019-07-02 18:58] #56 closed

[2019-07-03 02:33] dome2048 opened #275 "Apple Watch Complication"
I’ve been using the test builds of the iOS app on TestFlight. Overall, it’s fantastic work and I’m grateful for everyone’s work!

I’m trying to place the openHAB app as a complication on my watch. I’ve tried setting the complication on the companion iPhone and on the watch itself. The app does show up in my app launcher and work as expected.

I’ve tried uninstalling and reinstalling the beta app b

[2019-07-03 04:35] dastrix80 opened #276 "BETA App??"
Hi All, how do I obtain the beta of this IOS app?

Thanks

[2019-07-03 04:39] Mr-iX commented on #276
The links stands in the readme file.

https://testflight.apple.com/join/563WBakc

[2019-07-03 15:10] suntribe commented on #246
@timbms @weakfl works like a charm :) thanks

[2019-07-03 18:01] timbms commented on #246
Will close issue

[2019-07-03 18:01] #246 closed

[2019-07-03 19:27] #153 closed

[2019-07-03 19:29] #97 closed

[2019-07-04 02:41] dastrix80 commented on #276
Does the BETA have a link to the HabPanel UI inside the app? like the Android version does.

The Apple version is very lacking compared to Android.

[2019-07-04 23:27] dome2048 commented on #276
The iOS app has been lagging behind other components of openHAB for a long time. I’m not much of a developer but it sounds as though a major hurdle has been an outdated code base. A lot of work is currently going in to re-writing the app for Swift. Compared to the current release, it’s a huge step in the right direction.

HABpanel is not currently accessible from the app.

If you have specific fea

[2019-07-04 23:34] dastrix80 commented on #276
If I could write one I would ;)

[2019-07-05 21:28] dastrix80 commented on #123
@digitaldan  can you tell me if to make use of ios notifications you need a) private openhab cloud b) developer account and c) this configuration inside config.json along with the certs? Am I right in saying IOS makes NO use of firebase?

 "apn" : {
      "gateway": "gateway.push.apple.com",
      "cert": "certs/aps/aps_production_cert.pem",
      "key": "certs/aps/aps_production_key.pem",
      "

[2019-07-07 06:56] Mr-iX opened #279 "Notification time"
I noticed that the time which is displayed for notifications in the Notifications tab is two hours ahead.
I think the bug is that when the app receives a time it adds two hours because it thinks that the time is in UTC, but in real the time is already in the users time zone.

[2019-07-07 18:45] timbms commented on #279
@Mr-iX Thanks for the hint. You are totally this is not incorrect. I will fix this

[2019-07-07 19:10] timbms commented on #279
Fixed with #278

[2019-07-07 19:10] #279 closed

[2019-07-07 19:54] Mr-iX commented on #279
@timbms Great the notification fix works, but there is a bug on the Apple Watch so the Sitemap cannot be read anymore.

[2019-07-08 03:02] timbms commented on #279
Thanks for your quick testing
Please file a new issue with clear description of watchOS app bug. Thank you

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-08 05:28] Mr-iX opened #280 "Apple Watch app bugs"
When installing the application for the first time, it’s a bit difficult to get the url settings to the watch. After installation it uses the default parameters and only after saving the settings in the iOS app and closing the watch app, the settings get transferred. But this takes sometimes more than one try.
![9FBD562F-01CD-4B90-A3FE-D1540FD70EE7](https://user-images.githubusercontent.com/253603

[2019-07-08 06:09] timbms commented on #280
Thanks for the precise observations.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-08 07:18] domotica-undici commented on #123
@dastrix80 answer is yes to all of your points. not only: in cloud code you must find and replace "myopenhab.org" with the url of your own server

[2019-07-08 08:01] dastrix80 commented on #123
There is no references to myopenhab.org inside the cloud code.

[2019-07-08 08:09] domotica-undici commented on #123
sorry..my mistake, not in the cloud code but in the ios app code

[2019-07-08 08:14] dastrix80 commented on #123
What is the ios app code?

[2019-07-08 08:24] domotica-undici commented on #123
this code https://github.com/openhab/openhab-ios

search for valueForKey:@"remoteUrl"
you will find somwthing like
if ([[prefs valueForKey:@"remoteUrl"] rangeOfString:@"openhab.org"].location != NSNotFound) {

change that references accoirding to your server. for sure your location will not be @"openhab.org"
for instance mine is @"domoticaundici.it"

[2019-07-08 08:25] dastrix80 commented on #123
So, this is inside the IOS Apple app youre talking about or in the OpenHab Cloud code?

[2019-07-08 08:27] domotica-undici commented on #123
IOS Apple app

[2019-07-08 12:56] gonzechevnublit commented on #123
Hi Kris, if you compile the app check you certificate and check the ios code. see messages posted by @domotica-undici

In config.json, section app use:

Gateway: gateway.push.apple.com
Cert: “certs/aps/aps.pem”
Key: “certs/aps/aps.key”
Passphrase: “your password”

Check if you certificate is valid, use openssl command from your cloud server:
openssl s_client -connect gateway.push.apple.com:2195 -c

[2019-07-08 19:17] dhermanns commented on #255
I think apple has a very strict policy allowing apps for CarPlay. But that would be a very nice feature. I would love to open up my garage door from my car screen ;-)

[2019-07-08 20:49] danricho commented on #255
They even have a HomeKit garage door button on the ios13 preview site!
![92F21B1B-8A60-43B1-8721-8530629730E9](https://user-images.githubusercontent.com/2055561/60841615-9471a700-a215-11e9-8530-4c75d9c463ba.png)

[2019-07-08 21:13] timbms commented on #275
#281 will fix this

[2019-07-08 21:16] timbms opened #282 "sidemenu is offset"
As notice by @Mr-iX the Side menu is offset

I noticed one more thing, maybe a layout issue, but I think that’s not a problem, only FYI.
In the previous side menu (C Version) the sitemaps began from the top and now there is a little bit white space.

Old version:
![11728ECA-4450-49A6-8A0B-E9B026301452](https://user-images.githubusercontent.com/25360303/58378534-8af9eb80-7f95-11e9-9276-a7606c3429cf

[2019-07-08 21:18] timbms opened #283 "Reduce annoyance of connection notifications"
As noted by @Mr-iX it would be great to reduce the annoyance of connection notifications:
For example displaying only if there is delay ...

One more thing: would it be possible to add an option to turn off the connecting notifications?

_Originally posted by @Mr-iX in https://github.com/openhab/openhab-ios/issues/256#issuecomment-495977106_

[2019-07-08 21:19] timbms commented on #256
Created new issues out of side remarks.

[2019-07-08 21:19] #256 closed

[2019-07-08 21:24] #125 closed

[2019-07-08 21:28] #13 closed

[2019-07-08 21:29] #14 closed

[2019-07-08 21:29] #9 closed

[2019-07-08 21:29] chr151ux commented on #206
I have the same problem.

When I use the "Username" and "Password" fields authentication will fail. If I change the "Remote URL" to the form "https://**user**:**password**@mydomain" everything works fine. It seems that the content of the "Username" and "Password" fields are not added to each API request.

[2019-07-08 21:30] #24 closed

[2019-07-08 21:30] #59 closed

[2019-07-08 21:32] timbms commented on #89
Can you test this with beta swift app?

[2019-07-09 04:22] Mr-iX commented on #160
This issue is solved in the beta.

@timbms Please close this issue.

[2019-07-09 05:03] timbms commented on #160
Another one closed

[2019-07-09 05:03] #160 closed

[2019-07-09 05:05] timbms commented on #206
Should be fixed in beta. Please try it out

[2019-07-09 05:23] dastrix80 commented on #123
After a change to the certs and an update of the app, things are now working for IOS notifications! Thanks

[2019-07-09 07:43] Clifford-Foster commented on #206
I tried this in Test Flight and still having problems with https connections.  Everything else works like a dream.

Interesting the connections works fine using https://user:password@mydomain in Chrome but in Safari it still prompts for the username and password.  Don't know if that helps or is irrelevant.

[2019-07-09 07:57] weakfl commented on #282
@timbms Do you want it like this? Or is some space at the top intentional?

![menu](https://user-images.githubusercontent.com/614985/60869755-da3b6900-a22f-11e9-80da-574914c6b6f9.png)

[2019-07-09 08:58] timbms commented on #282
Space at top is non-intentional. If you can get rid of it, pleas do so

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-09 09:00] weakfl commented on #282
See #284…

[2019-07-09 09:06] timbms commented on #206
Can you please describe the problems you have with https

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-09 10:38] Clifford-Foster commented on #206
With https on my Remote URL in the form of https://domain with username and password set I get error message "the request timed out".  I have tried setting "ignore ssl certs" but that doesn't make a difference.

If I open a browser url to https://domain/rest/items (for example) then my nginx proxy prompts me to enter the username and password; and everything works.

[2019-07-09 10:48] Mr-iX commented on #206
For me this works perfectly fine

[2019-07-09 13:56] chr151ux commented on #206
Where can I get an invite for TestFlight. I would be happy to test it.

[2019-07-09 14:23] chr151ux commented on #206
I tested it now on the Beta. Here it works fine. Thanks!

[2019-07-09 14:59] timbms commented on #206
I will close the ticket

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-09 15:12] weakfl commented on #255
Exactly, it's limited to Messaging, VoIP and Navigation Apps. So, unfortunately, no dice ;)

That's probably the way to go. Homekit binding + Apple TV / HomePod for remote access.

[2019-07-09 16:48] Mr-iX commented on #276
@timbms Can be closed

[2019-07-09 17:00] #276 closed

[2019-07-09 17:01] timbms commented on #282
closed

[2019-07-09 17:01] #282 closed

[2019-07-09 17:06] Mr-iX commented on #124
@timbms I think this issue still persists. I had it still in a previous beta.

[2019-07-09 17:06] #116 closed

[2019-07-09 17:08] #155 closed

[2019-07-09 19:11] Mr-iX commented on #255
@timbms Please close, because technically not possible

[2019-07-09 19:15] Mr-iX commented on #114
Haven’t seen this behavior in the beta.
You could also try the beta.

@timbms think you can close this. Is it helpful when I check some issues and notify you?

[2019-07-09 19:18] Mr-iX commented on #109
@timbms I think this is the wrong place for this issue, OpenHAB core must implement it first, because it triggers the notification

[2019-07-09 19:27] #255 closed

[2019-07-09 19:34] #109 closed

[2019-07-09 19:35] #114 closed

[2019-07-09 19:58] Mr-iX commented on #280
Sitemap still fails to load (279)

[2019-07-09 20:11] timbms commented on #280
@dhermanns can you please have a look

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-09 20:13] timbms commented on #282
Released on build 279 In TestFlight

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-09 20:14] matulekpl commented on #280
Sitemap needs to be named “watch” to see anything on watch?

[2019-07-09 20:28] dhermanns commented on #280
Yes - right now this has to be hardcoded watch.

[2019-07-09 20:38] #275 closed

[2019-07-09 20:45] timbms opened #285 "sidemenu is slow in simulator"
When SideMenu appears and takes over right part of screen, the responsiveness is terrible.
This only occurs when testing in simulator not in iPhone.
Do you experience the same behaviour?

[2019-07-09 22:09] Clifford-Foster commented on #206
Are you accessing through something like nginx?

[2019-07-10 00:50] dome2048 commented on #280
I’m having this issue on the current build (279). I do have a “watch” site map but it’s not accessible.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-10 00:51] dome2048 commented on #275
Tested and works in 279. Thanks!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-10 01:30] Clifford-Foster commented on #206
What's unusual is that the app retrieves the sitemap via https but it time-outs on displaying the contents.  Not sure if there is a setting in my nginx config that is causing issues.

[2019-07-10 04:06] dhermanns commented on #280
Did you build it like in this example?

https://github.com/dhermanns/openhabwatch/blob/master/README.md

[2019-07-10 04:19] Mr-iX commented on #280
My Sitemap is also configured like the example, named watch.sitemap and only containing switches.

[2019-07-10 04:22] Mr-iX commented on #206
Yes I’m running multiple applications behind nginx. Each of them (OpenHAB is one of them) is accessible through its own url.

[2019-07-10 04:25] dhermanns commented on #280
I noticed that you have to select “Ignore Ssl Certificates” in Build 279. Even if you have a valid certificate. After that, the watch is able to load the sitemap for me.

[2019-07-10 04:27] Mr-iX commented on #280
You are right, after disabling ssl verification it works

[2019-07-10 06:34] weakfl commented on #285
Not at all, what hardware are you using?

And maybe profile it to see what's lagging?

[2019-07-10 07:00] chr151ux commented on #206
Make sure that you enabled headers in your nginx/apache configuration, particularly forwarding the scheme.

For apache:
`RequestHeader set X-Forwarded-Proto "https"`

For nginx:
`X-Forwarded-Proto: https`

[The issue was discussed here](https://community.openhab.org/t/basicui-mixed-content-requests-https-and-http/34727/3)

[2019-07-10 07:08] timbms commented on #285
This is reassuring. I will investigate this further

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-10 08:41] Clifford-Foster commented on #206
Thanks - I added a specific location for /rest as below and it works.  Appreciate the help

`        location /rest {
                proxy_pass                            http://localhost:8080/rest;
                proxy_set_header Host                 $http_host;
                proxy_set_header X-Real-IP            $remote_addr;
                proxy_set_header X-Forwarded-For      $proxy_add_x

[2019-07-10 09:23] weakfl commented on #280
@timbms

Could you elaborate a bit on what your plan regarding the first release of the Swift App is (I guess it will be v2.1.0)?

Maybe you can add all pending issues to the [Migrate openhab-ios to swift](https://github.com/openhab/openhab-ios/projects/1) project or the [SwiftRelease](https://github.com/openhab/openhab-ios/issues?q=is%3Aopen+is%3Aissue+milestone%3ASwiftRelease) milestone (whichev

[2019-07-10 10:32] weakfl commented on #283
dupe of #231

[2019-07-10 11:06] weakfl commented on #52
Imho the better choice is to use the [iCloud binding](https://www.openhab.org/addons/bindings/icloud/) for presence detection. The battery impact is much lower than you'll ever be able to achieve within an App (it's a system service after all and hasn't to deal with all the overhead).

[2019-07-10 17:47] weakfl opened #287 "Video enhancements"
@timbms

I've taken a look at Video elements and made the cells `.automaticDimension` with size depending on the aspect ratio of the video. I've also removed the border (see screenshot below).

**Question:** in the current implementation, the video is paused when the cell goes out of view. Since videos will probably be used for security cams most of the time, I'm wondering if it wouldn't be more a

[2019-07-10 18:34] suntribe commented on #280
is there any minimal required watchos version as i’m not able to install it on the watch, or at least i don’t know how. my watchos is 4.3.2

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-10 19:29] dhermanns commented on #280
No it should work with watchos 4. Do you see the install button. Or nothing
at all?

[2019-07-10 20:27] suntribe commented on #280
no, i don't see an install button..

[2019-07-10 21:21] The-Elk-GH commented on #115
I have the same problem.
Image is only show when I was connecting to myopenhab.org.

I have this problem with the Stable iOS App 2.03 and also with Test Flight 279

[2019-07-10 21:34] The-Elk-GH opened #288 "Webview to small in Sitemap"
Hello everybody,

My Webviews are to small in the Sitemap.
Here you can see the difference between iOS App Version 2.03 and 2.04 (279).

iOS App 2.03:

![FCEDA765-F449-437C-9977-ECD83203046A](https://user-images.githubusercontent.com/52762488/61006527-d3fdd780-a36a-11e9-9998-f435e147f1ab.jpeg)

iOS App 2.04 (279):

![228334A0-9254-4066-A9C3-88AA894B7A61](https://user-images.githubusercontent.com/5

[2019-07-11 05:02] timbms commented on #288
This would require changing the default size.
Should be in line with behaviour on other platforms.
Somebody wants to take care?

[2019-07-11 05:05] timbms commented on #287
Is the video stream still consuming network data, when it goes out of sight?

[2019-07-11 05:06] #283 closed

[2019-07-11 05:10] timbms commented on #285
I had "Slow Animations" switched on (;-)

[2019-07-11 05:10] #285 closed

[2019-07-11 05:29] timbms opened #289 "Release the Swift app"
Dear all,

IMHO iOS app based on Swift is sufficiently mature for release: Stability has been reached, and features are sufficiently complete. I would like to release it as soon as possible. I take your opinion on the topic: what issues still block a release? What needs to be improved or touched?

Also we need to have a plan on how to proceed to make the release a success:
Prepare release notes
Re

[2019-07-11 06:19] weakfl commented on #287
When muted, yes.

When paused, I'll have to check if it keeps buffering.

[2019-07-11 08:17] weakfl commented on #287
@timbms

As it turns out, the answer is more complicated than I thought :)

1. It is not possible to stop buffering of a HTTP live stream
2. As currently implemented, the AVPlayer will be disposed and re-initialized if another item's state is updated via long polling. That's really bad UX imho, as it might occur quite frequently.

Proposed solution:

1. Determine if cell is visible on `didEndDispl

[2019-07-11 10:03] timbms commented on #287
Sounds absolutely reasonable
I haven’t looked into video cells at all

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-11 10:08] weakfl commented on #287
I've tested video files and live streams and both seem to work reasonably well. I'll submit a PR later...

[2019-07-11 14:02] weakfl opened #290 "SideMenu is empty"
If the SideMenu is triggered by a gesture before it has been initialized by a `UIStoryboardSegue`, it remains empty. The reason is that the `delegate` and `openHABRootUrl` properties are not set.

@timbms I've already fixed this and will submit a PR later.

[2019-07-11 14:06] weakfl commented on #206
@timbms I think you can close this issue

[2019-07-11 14:28] weakfl commented on #124
Code looks ok (if you ignore the not so Swifty brackets):

https://github.com/openhab/openhab-ios/blob/4152a27cb8ad30dc1da108a2a7317fc2e86254e7/openHAB/OpenHABViewController.swift#L387-L389

@Mr-iX Are you sure it's not working?

[2019-07-11 14:31] weakfl commented on #289
I'd second this.

Suggested issues to look into before release: #290, #288, #287, #147, #124, #115
Would be nice: #231, #197, #182 (is #236 a dupe?), #89

[2019-07-11 18:45] timbms commented on #290
Great

[2019-07-11 18:45] #290 closed

[2019-07-11 18:47] #107 closed

[2019-07-11 18:47] #16 closed

[2019-07-11 18:47] #287 closed

[2019-07-11 18:48] Mr-iX commented on #124
Yes, just tested it right now:

sitemap:
`Switch item=gRollladen_EG`

item:
`Group:Rollershutter gRollladen_EG "Rollladen Erdgeschoss" <blinds>`

![IMG_3869](https://user-images.githubusercontent.com/25360303/61076737-33b4bb00-a41d-11e9-8fca-277359982e89.jpg)

[2019-07-11 18:52] weakfl commented on #124
Ok, we'll have to look into it then. Thx for testing @Mr-iX!

[2019-07-11 19:01] timbms opened #293 "Temporary exclusion of watchOS app from build"
While we prepare the release of the iOS app built on swift, we should exclude the watchOS app from the build. As soon as we are done with it, we should focus the attention on the watchOS app.
Can somebody propose a toggle for the build process?

[2019-07-11 19:45] timbms commented on #124
This is not a valid item definition: OR accepts only 2 arguments:  I get the following error
` Group function 'OR' requires two arguments. Using Equality instead`

[2019-07-11 19:57] timbms commented on #124
Works for me:

[code]
![IMG_BCAF08587E40-1](https://user-images.githubusercontent.com/5411131/61081100-b7bf7080-a426-11e9-9d7b-52e977b222c8.jpeg)

[2019-07-11 20:01] timbms commented on #103
@weakfl: can you have a look?

[2019-07-11 20:05] weakfl commented on #103
Sure, I'll look at #288 too while I'm at it.

[2019-07-11 20:41] timbms commented on #1
Somebody willing to implement the feature?
As of iOS 11 this would require implementing the UISearchResultsUpdating protocol.

[2019-07-12 08:58] weakfl commented on #288
I can' reproduce this issue, the `Webview` is working just fine and even respecting the height property:

`Webview url="http://www.openhab.org" height=5`:

![height5](https://user-images.githubusercontent.com/614985/61115845-afe9e580-a493-11e9-9715-48e236c8364d.png)

`Webview url="http://www.openhab.org" height=10`:

![height10](https://user-images.githubusercontent.com/614985/61115867-bb3d1100-a4

[2019-07-12 08:59] weakfl commented on #76
@timbms I think this can be closed, Switches are working just fine and this issue is quite old ;)

[2019-07-12 09:00] weakfl commented on #289
/offtopic

Maybe a stale bot for this repo wouldn't hurt...

[2019-07-12 09:28] weakfl commented on #103
@timbms

This issue has nothing to do with `Webview`s per se. The problem is related to atmosphere long-polling, it just doesn't work as it should.

First, it looks like there's a bug setting the request headers:

https://github.com/openhab/openhab-ios/blob/65b76402f6299700105f2e71e987af15a4813645/openHAB/OpenHABViewController.swift#L703-L716

According to the [docs](https://github.com/Atmosphere/

[2019-07-12 12:11] #76 closed

[2019-07-12 13:31] The-Elk-GH commented on #288
Webview url="http://192.168.0.101:8080/static/Maps/map.html" height=10

[2019-07-12 13:35] weakfl commented on #288
Can you also post the `map.html` source please?

[2019-07-12 14:18] The-Elk-GH commented on #288
What I find in the map.html:

<style type="text/css">
.Flexible-container {
  position: relative;
  padding-bottom: 0px;
  padding-top   : 0px;
  height        : 420px ;
  overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
When I change
height : 420px
To 1000px it looks

[2019-07-12 14:34] weakfl commented on #288
2.0.4 has been ported to Swift. And while 2.0.3 used a `UIWebView` (which has been deprecated by Apple), 2.0.4 is using a `WKWebView `.

If you want to keep things simple, you should be able to just use an `<iframe/>` embed with width and height set to 100%.

That being said, I just noticed that there is an issue on rotation which looks a lot like the screenshot you have posted. I'll have to look

[2019-07-12 15:01] weakfl commented on #288
Just tried again and it wasn't an issue of the app, I was just too lazy to make a proper HTML page for the gmaps iframe 😂

All good, @timbms think you can close here...

[2019-07-12 15:06] #288 closed

[2019-07-14 10:18] weakfl commented on #103
@timbms

Small update: I've noticed that the long-polling request sometimes responds earlier than 30 seconds, but never later (and least in my tests). So long-polling seems to work to some degree.
It looks like there's some kind of server-side timeout and all requests will be responded to within 30 seconds. That's of course just an assumption as I don't know anything about how this is implemented

[2019-07-14 11:06] timbms commented on #289
Yes, the legacy issue also need a cleanup

[2019-07-14 11:12] timbms commented on #103
@digitaldan : Can you or someone in core team comment on the implementation in openhab core?
How is the X-Atmosphere transport implemented? How are timeouts handled?

SSE: Would be interesting but for an upcoming release only

[2019-07-14 16:49] #293 closed

[2019-07-16 07:37] weakfl commented on #103
@timbms I've submitted PR #297 for (1), probably won't hurt.

But I'd still like to hear from @digitaldan about the implementation in openhab core...

[2019-07-17 13:21] weakfl opened #300 "Remote images with https URLs not working"
Doesn't work:
`Image url="https://raw.githubusercontent.com/wiki/openhab/openhab/images/features.png"`

Works:
`Image url="http://lorempixel.com/400/200/"`

Haven't looked into it yet, but `sd_setImage` fails with `SDWebImageErrorDownloadStatusCodeKey : 404`

/cc @timbms
refs #289

[2019-07-17 14:11] timbms commented on #300
Ouch. One of the reasons why I wanted to harmonize the download to one library. Currently we are on URLResponse based afnetworking. Should ideally be on URLSession either pure or Alamofire

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-18 19:02] timbms commented on #1
closed by #298

[2019-07-18 19:02] #1 closed

[2019-07-18 19:09] timbms opened #301 "Bump app version built on swift to 2.1"

[2019-07-18 20:02] timbms opened #302 "Upgrade to SideMenu 6.x"

[2019-07-18 20:20] timbms commented on #300
Both URL work for me

[2019-07-18 20:22] timbms commented on #289
Included #295 #298 #299

[2019-07-18 20:32] timbms opened #303 "Upgrade to Swift UI"

[2019-07-18 21:45] timbms commented on #146
Addressed with #304

[2019-07-18 21:45] #146 closed

[2019-07-18 21:50] timbms commented on #103
@weakfl: shall we close this issue ?

[2019-07-19 05:06] timbms commented on #86
Please validate with built 2.1.0(1)

[2019-07-19 06:01] timbms commented on #42
Not understandable language

[2019-07-19 06:01] #42 closed

[2019-07-19 06:02] #72 closed

[2019-07-19 06:22] weakfl commented on #103
Sure, let's close. @digitaldan can still comment either way…

[2019-07-19 06:29] #103 closed

[2019-07-19 06:31] timbms commented on #300
Seems to be linked to different handling of „ignore SSL certificates“

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-19 06:34] weakfl commented on #300
Can you elaborate? Tbh I have no idea what the problem is, but it's not working for me sure enough.

[2019-07-19 06:44] weakfl commented on #302
Unfortunately #291 didn't fix all of the issues with gestures. If you navigate to a sub-page, then back to the main page, and then open the menu via a gesture it still doesn't work.

The better way to fix this is using the `UISideMenuNavigationControllerDelegate` protocol.

I can look into upgrading to `6.0` as well, or just submit a new PR for #291. Just lmk...

[2019-07-19 06:53] weakfl commented on #302
Looks like `6.0` is still a bit buggy, so I'll just submit a PR to fix the current issues and lock the version in the Podfile.

[2019-07-19 07:02] timbms commented on #300
Https validates by default the identity of the server unless „ignoreSSL“ is set in Settings or the certificate is in the certificate storage. As this exception handling is done differently for sdwebimage and for afnetworking and for watch app we face weird behavior.
Best would be aligning them. We could start by disentangling sdwebimage and svgkit and then get rid of sdwebimage

<sub>Sent with <a

[2019-07-19 07:32] timbms commented on #302
Agree. I want to delay 6.0 upgrade

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-19 07:41] weakfl commented on #232
@timbms Should we automate screenshot generation with fastlane snapshot? I have no experience with bitrise, but looks like it could be integrated.

[2019-07-19 08:56] timbms commented on #232
Good idea to automate screen shots with fastlane
@digitaldan : could you integrate it then on the bitrise platform?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-19 13:36] timbms commented on #302
@weakfl it took me some time to reproduce error. But I can confirm that siedemenu is still empty in 2.1.0 (1) . I will build with your latest PR

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-19 14:16] Mr-iX commented on #302
@timbms
Are new builds on TestFlight automatically published or when will the new build with the search be available?

[2019-07-19 14:20] timbms commented on #302
@Mr-iX CI is currently broken. Therefore give me some time for a local build.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-20 07:09] The-Elk-GH opened #306 "4h and 8h charts only show after refresh"
4h and 8h charts only show after site refresh.

![73EDCCAE-11C3-48D5-9645-13F1DA28C01C](https://user-images.githubusercontent.com/52762488/61575608-fb247980-aacd-11e9-8b50-c72a768ba7e8.jpeg)
![71D3B99B-FE15-4848-A384-17ACCE5DB942](https://user-images.githubusercontent.com/52762488/61575609-fb247980-aacd-11e9-9255-d9139c8e984b.jpeg)

[2019-07-20 07:37] timbms commented on #306
@The-Elk-GH Thank you for your test results.
Which version are you running?
Can you please provide your sitemap?

[2019-07-20 10:00] The-Elk-GH commented on #306
I tested since Version 2.04 (271). I have this problem since I tested.

Here is the relevant part of my sitemap:

`Text 	item=ZWaveS21	label="Spülmaschine [MAP(Schalter.map):%s]"	icon="spuelmaschine"	valuecolor=[OFF="#ff0000",ON="#008000"] {
					Frame label="" {
						Switch 	item=ZWaveS21				label="Ein/Aus"
						Text	item=Spuel_State			label="Status [MAP(status.map):%s]"	icon="spuelmaschine"	va

[2019-07-20 10:00] weakfl commented on #306
Working fine for me.

[code]

![chart_mapping](https://user-images.githubusercontent.com/614985/61577297-c45a5d80-aae5-11e9-9200-24c5ddcdc910.gif)

[2019-07-20 10:06] The-Elk-GH commented on #306
I think the reason is: refresh=300
If I change the refresh to 3000 it works.

In the stable Version it works with refresh=300

[2019-07-20 10:12] weakfl commented on #306
@The-Elk-GH refresh is defined in **milliseconds**, so 300 is 0.3 seconds!

But I don't think that's the problem, please try to change:

[code]

to

[code]

[2019-07-20 10:15] The-Elk-GH commented on #306
same Problem.

changed refresh to 3000 it works.

[2019-07-20 10:17] weakfl commented on #306
Maybe it just doesn't finish loading within 0.3 seconds? So you're basically in a reload loop that never finishes.

[2019-07-20 10:22] weakfl commented on #306
FWIW, it works for me with 300 as well, but probably just because my system responds within 300 milliseconds.

Either way, I don't think it's a bug. Please raise your refresh interval to a reasonable value.

[2019-07-20 10:23] The-Elk-GH commented on #306
the reason why I opend a issue was, that in the stable it works fine.

I raised up my refresh rate to 3000 now.

[2019-07-20 14:15] Mr-iX opened #308 "Appearance of switches"
Since version 2.1.0 (2) some (but not all) of my switches show the status as text label.
I think the value should only be visible if there is a [%s] in the item name.

![IMG_3893](https://user-images.githubusercontent.com/25360303/61579708-fcbf6300-ab08-11e9-976a-01de02216829.jpg)

Items:
[code]

Sitemap:
[code]

[2019-07-21 09:50] timbms commented on #308
@Mr-iX thanks for reporting. I can’t reproduce error so far: Value is visualized when there is bracketed text. Can you intercept the json and publish it here?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-21 12:08] Mr-iX commented on #308
@timbms
I created a new sitemap and accessed it via the rest api

sitemap:
[code]

Json response:
[code]

I also noticed that the basic ui has the same behaviour like the iOS app. So I think there is a OpenHAB internal bug?

[2019-07-21 12:19] timbms commented on #308
Thank you: look at `"label": "Deckenlicht [OFF ]"`. The bracketed OFF is rendered.

[2019-07-21 12:20] Mr-iX commented on #308
Found the solution: https://community.openhab.org/t/solved-switch-text-displayed-next-to-the-buttons/72620

[2019-07-21 12:20] #308 closed

[2019-07-21 12:23] Mr-iX opened #309 "glitchy Submenus and refresh"
@timbms Since the search bar was implemented, it looks a bit buggy when entering sub menus while the search bar is visible (first item behind grey bar). Also the pull to refresh doesn't show the circle and is a bit buggy.

[video.mp4.zip](https://github.com/openhab/openhab-ios/files/3414581/video.mp4.zip)

[2019-07-21 12:27] Mr-iX commented on #309
Also could the information in Settings --> Info be removed. Since I use the iOS app openHAB Version/UUID/Secret always just show "-".

[2019-07-21 12:55] FrankR59 opened #310 "Some sliders do not work correctly from beta iOS app"
Issue has been described here: https://community.openhab.org/t/some-sliders-dont-work-with-latetest-ios-app/78264?u=frankr

[2019-07-21 14:35] timbms commented on #310
@FrankR59 Thanks for reporting
Sliders were reworked some time ago to allow for min, max and step handling.
If values sent back are not in format, range expected in URL, we can get into trouble.

[2019-07-21 14:37] timbms commented on #309
Seems fine for me.

Seems fine to me

[2019-07-21 14:38] timbms opened #311 "Reworking Settings viewController"
Also could the information in Settings --> Info be removed. Since I use the iOS app openHAB Version/UUID/Secret always just show "-".

_Originally posted by @Mr-iX in https://github.com/openhab/openhab-ios/issues/309#issuecomment-513549688_

[2019-07-21 14:57] Mr-iX commented on #309
I think the content should be displayed under the grey bar or the grey bar should be instantly invisible when you open the menu

[2019-07-21 18:51] FrankR59 commented on #310
@timbms it’s not a question of values sent back. The sliders receive and show correct values. The problem is that they do not send values.

[2019-07-21 19:06] timbms commented on #310
Sliders work for me in beta 2.1.0(2). They send the value and allow me to dim.
My suspicion is that certain bindings expect a certain format

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-21 19:15] FrankR59 commented on #310
Same here. Only sliders based on items like the following do not send values
`Rollershutter rolloBuero    "Rollo Büro [%d %%]"    <rollershutter>	(gRolloBuero, gRolloZeit, gCalItem)      ["Switchable"]	 {http=">[*:POST:http://192.168.xxx.yyy/deviceajax.do?cid=9&did=10015&goto=%2$s&command=0] <[http://192.168.xxx.yyy/deviceajax.do?device=10015:10000:JS(getValue.js)]"}`

[2019-07-21 19:38] suntribe commented on #310
does that item has unit of measurement assigned to it? i had issues whenever i had items with uom on them so i stopped using them..

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-21 20:04] timbms commented on #310
Can you try without the uom %%

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-21 20:51] suntribe commented on #311
guys, there’s one tiny cosmetic bug that i’m not submitting for some time now... in settings, the menu item for Client certs doesn’t have variable font size feature and then it looks funny if user has anything other than ‘default’ font size ;)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-22 05:10] timbms commented on #311
That’s an easy fix.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-22 17:56] timbms commented on #311
Fixed

Fixed

[2019-07-22 18:17] timbms commented on #115
@weakfl: Can you have a look?

[2019-07-22 19:15] weakfl commented on #115
@timbms sounds all too familiar ;)

@The-Elk-GH can you post the relevant part of your sitemap please?

_possible dupe of #300_

[2019-07-22 19:37] suntribe opened #312 "Labels not trimmed"
I reported this some time ago but can’t find original issue. The thing is that long labels are not trimmed and then they push buttons outside of a screen...

![39E7BD35-1FA2-4D45-88C8-870010BAF007](https://user-images.githubusercontent.com/554169/61659862-e233e800-acc8-11e9-9e84-085f43abb2af.jpeg)

[2019-07-22 20:52] FrankR59 commented on #310
I tried without uom %% and also without [%d] but both changes do not work

[2019-07-22 21:29] timbms opened #313 "Empty SideMenu when entries in Settings are wrong"
![image](https://user-images.githubusercontent.com/5411131/61666625-4611dd00-acd8-11e9-8d8c-65f3427d1cb6.png)

When wrong entries for sitemap are made, SideMenu remains blank.-> No possibility to correct

[2019-07-22 21:40] timbms commented on #313
Settings entry in SideMenu must be shown even if download of available sitemaps fails

[2019-07-22 22:09] timbms commented on #89
Can somebody who is using charts have a look please

[2019-07-22 23:17] suntribe commented on #312
i confirm this is fixed ;)

[2019-07-22 23:19] suntribe commented on #311
variable font size is fixed, just checked it

[2019-07-23 03:34] #312 closed

[2019-07-23 05:44] weakfl commented on #232
@timbs should I add fastlane and make a UITest for this?

I'm pretty sure it would work with bitrise, but you could also generate the screenshots locally and upload manually.

[2019-07-23 06:09] timbms commented on #232
If you could add uitest for screenshots with fastlane, that would be great

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-23 07:01] weakfl commented on #306
@timbms can be closed, it's a configuration issue. Can be reproduced by lowering the refresh interval to a value within which the server isn't able to respond.

The reason it works in the release version is, that the URL used to be randomized (**should** it be randomized, I think caching is disabled anyway).

It would be nice to sanitize the refresh interval, but I don't think a common minimum can

[2019-07-23 07:04] #306 closed

[2019-07-23 09:29] SiggiFR commented on #89
I do not use IOS.

[2019-07-23 10:39] weakfl commented on #232
@timbms implemented in #314

Use `bundle exec fastlane screenshots` to generate screenshots for `iPhone Xs Max` and `iPad Pro (12.9-inch)`.

I've added a few screenshots to the UITest, but it's easy enough to change it. It will always use demo mode and demo sitemap.

Sample screenshots (iPhone only):

![iPhone Xs Max-0_MainScreen](https://user-images.githubusercontent.com/614985/61705780-c7a05400-

[2019-07-23 11:20] #232 closed

[2019-07-24 17:26] timbms commented on #89
The doubled nested charts work for me. I am ready to close

[2019-07-24 17:47] #89 closed

[2019-07-24 17:48] #313 closed

[2019-07-24 17:49] #301 closed

[2019-07-24 19:06] timbms commented on #147
@pallie42 : Can you post the sitemap you used to configure the switches that are rendered as buttons

[2019-07-24 20:36] pallie42 commented on #147
This is the sitemp:
`sitemap default label="Thuis"
{
	Frame label="Main" {

		Text item=kelder icon="cellar" {

			Switch item=SwitchKelder1Light label="Kelder1" mappings=[ON="On!"]
			Switch item=SwitchKelder2Light label="Kelder2" mappings=[ON="On!"]
			Switch item=SwitchKelder3Light label="Kelder3" mappings=[ON="On!"]
			Switch item=SwitchKelder4Light label="Kelder4" mappings=[ON="On!"]
			Switc

[2019-07-24 20:38] pallie42 commented on #147
[code]

[2019-07-24 20:42] Mr-iX commented on #147
Looks way better!
My ON label of the switch is completely empty for a cleaner look.

![2720ED88-0A94-40DE-B6A8-D1DC13976831](https://user-images.githubusercontent.com/25360303/61827134-31fae680-ae64-11e9-997b-06a72e42592e.jpeg)

[2019-07-26 09:48] duiffie commented on #72
Can you tell me how to try/where to get the new beta?

[2019-07-26 13:02] timbms commented on #72
#125 has explanations

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-26 16:39] weakfl commented on #300
@timbms I've now tried with `2.5.0.M1`, same problem.

As soon as a basic auth header is set, the server will respond with a 404 error. It's (obviously) enough to remove the remote credentials from settings to make it work.

I'm still waiting for feedback from @The-Elk-GH regarding #115, but it sounds like the same issue.

I'm not sure if we can resolve this. I think the server should respond, reg

[2019-07-27 01:16] McLive commented on #147
I can confirm it is now fixed in the latest testflight build 👍

[2019-07-27 08:03] #147 closed

[2019-07-27 08:08] timbms commented on #289
I think we are good to go for a release.
Let me have your view

[2019-07-27 08:30] pallie42 opened #320 "Push button remains latched"
Hi All,

I noticed that #147 is closed. 1 of the 2 isssues mentioned are fixed (width of button). However the following remains an issue:

- when a light is switched on with the button, the button remains latched/activated and it needs to be pressed twice (1 time to deactivate and 1 time to turn off the light). When the light is turned off (after 2 presses, it returns to a deactivated state which

[2019-07-27 08:33] weakfl commented on #289
Would be nice to resolve #310 first.

[2019-07-27 09:19] Mr-iX commented on #124
@timbms Still doesn’t work for me

[2019-07-27 10:09] timbms commented on #124
Then we reopen the issue

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-27 13:24] timbms commented on #124
@Mr-iX: Can you post the JSON response of your site?

[2019-07-27 13:31] Mr-iX commented on #124
[code]

[2019-07-27 13:53] timbms commented on #124
Very useful. The issue is with the parsing of Widgets. They miss out groupType.
Am on the case

[2019-07-27 14:12] McLive commented on #309
Refreshing is also glitchy for me since the refresh icon looks like its behind the search bar.

[2019-07-27 14:19] McLive opened #321 "Sitemap icons in sidebar"
I just added an icon to my sitemap (`icon="garden"`) but the iOS sidebar doesn't show that icon.
Every sitemap just has the default openhab icon. Is that intended?

[2019-07-27 14:51] weakfl commented on #309
fixed in #322

[2019-07-27 14:57] timbms commented on #321
@McLive Thanks for your debugging.
I was not even aware of this nice feature.
Icon were not parsed from sitemaps.
Fix is in preparation

[2019-07-27 15:15] #321 closed

[2019-07-27 15:17] timbms commented on #311
With #319 Legal is added to Settings view controller

[2019-07-27 15:30] timbms commented on #124
Had to revert this fix. As it was not the solution

[2019-07-27 16:17] timbms commented on #310
Was able to trace this on the server:
Beta app currently sends one decimal digit
[code]
App is production  sends without decimal digit
[code]
I would propose to change the number of decimal according to the step size. If step size is not defined, it would be 1. Therefore default to no decimal digits

[2019-07-27 16:47] timbms commented on #310
@FrankR59 @suntribe : please try with build 2.1.0(11) - Should be uploaded and processed soon

[2019-07-27 17:18] timbms commented on #122
Duplicate of #320

[2019-07-27 19:30] FrankR59 commented on #310
Great job, it’s working now. Thanks

[2019-07-27 19:30] #310 closed

[2019-07-27 19:41] #122 closed

[2019-07-27 20:19] Mr-iX commented on #309
@weakfl @timbms
Would be cool, when you add the same behavior for the search bar like in apple apps e.g. Settings.
There the search bar slides to the top when you open a sub menu and slides down when you swipe back.
That looks way better and smoother like the current OpenHAB version, where the grey bar disappears when the sub menu loaded.

[2019-07-27 20:29] timbms commented on #124
Fix will be rolled out in beta 2.1.0(12)

[2019-07-27 20:29] #124 closed

[2019-07-28 00:38] reitermarkus commented on #309
What @Mr-iX means is this:

![FullSizeRender](https://user-images.githubusercontent.com/1309829/62000772-d50b6480-b0df-11e9-806d-54da24902709.jpeg)

When you switch to a new page, the (not-yet-disappeared) search bar overlaps the first item until the animation is finished, and then just disappears without any animation, which looks choppy.

[2019-07-28 05:02] timbms commented on #309
@Mr-iX @reitermarkus  thanks for the analysis. Somebody wants to submit a PR?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-28 08:25] weakfl commented on #309
@timbms I've added a workaround (see comment in code for details). Seems to work pretty well. The underlying bug is supposedly fixed in iOS 13, so I've already added an availability attribute. I couldn't test with iOS 13 though...

[2019-07-28 09:33] timbms commented on #309
Build 13 is ready

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-28 10:03] Mr-iX commented on #309
Build 13 is better, but still the bar appears instant, when you swipe slowly back.
I can try it with iOS 13 this evening

[2019-07-28 10:13] weakfl commented on #309
That's kind of different, the pushed view controller doesn't support searching.

Please report back if it works with iOS 13.

I'm afraid the current workaround is as good as it gets. Unless somebody finds a better way to work around the underlying iOS bug…

[2019-07-28 10:54] timbms commented on #309
Can we try with a small font title on the pushed view controller? Apple is doing it this way in Settings

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-28 11:28] weakfl commented on #309
I think the reason that in works in eg. the Settings app is not the small font title, but the fact that the pushed view controller does not have a `navigationItem.searchController` set (and I've tried with `prefersLargeTitles = false`, doesn't make a difference).

That's why one of the proposed workarounds on SO sets the `navigationItem.searchController` to `nil`. However, that workaround has side

[2019-07-28 14:42] timbms commented on #320
Is the expected behaviour documented somewhere?
What commands should be sent when there is only one mapping and therefore only one known command?
What command should be sent when a segment is pressed when it is already active?
Is a status with no activated segment tolerated?

[2019-07-28 19:09] Mr-iX commented on #309
@weakfl
In iOS 13 the search bar is not visible when swiping back. See video

[searchbar.MOV.zip](https://github.com/openhab/openhab-ios/files/3439493/searchbar.MOV.zip)

[2019-07-28 19:15] Mr-iX commented on #320
In my opinion (and for what I use these buttons) the button should show as active when the state matches the single option in the Sitemap. When the button is already activated, another press should do nothing. When the state doesn’t already match the state which is defined in the sitemap, a command should be send.

The basic ui does the same behaviour, except that the button doesn't shows any stat

[2019-07-28 19:38] McLive commented on #320
In my opinion a button should not display any state, you should use a switch for that.

I use buttons only to trigger actions.

[2019-07-28 20:08] Mr-iX commented on #320
In real life there are buttons, where you can see the status and there are some where you can’t see the status. But I don’t know why an additional status indicator is bad.

I like the current implementation, so maybe it’s possible to make it configurable in the settings.

[2019-07-28 20:26] pallie42 commented on #320
Not sure if it is somewhere documented. In my view it’s certainly not expected behavior if auto-update is set to false. It should sent each time the ON command.

If you look at the android app and web version, they are reacting as expected

[2019-07-28 21:06] weakfl commented on #309
Thx for the feedback @Mr-iX. I can't check the video atm, but it sounds like Apple has indeed fixed the issue on iOS 13?

@timbms I don't think there's much room for improvement. Considering that 90% of users will be on iOS 13 in two months and the marginal impact of this _"issue"_, I'd close it. Just my 2¢…

[2019-07-28 21:09] timbms commented on #309
@weakfl: agreed

[2019-07-28 21:09] #309 closed

[2019-07-29 19:38] The-Elk-GH commented on #115
Sorry for my late answer, but i didn't get a notification.
Here is the relevant part of my sitemap:

`Frame label="Garten Kamera" {

				Image 	url="http://USER:PASSWORD@192.168.0.62/snap.jpg?JpegSize=M" 	refresh=2000
			}
Frame label="Vorgarten Kamera" {
				Image 	url="http://USER:PASSWORD@192.168.0.61/snap.jpg?JpegSize=M" 	refresh=2000
			}`

[2019-07-29 21:06] timbms commented on #115
@ufodone: Can you look into this behavior? Your contribution on certificates were essential. Maybe you can fix the issue here as well. thanks

[2019-07-30 04:50] timbms commented on #236
Duplicate of #182

[2019-07-30 04:50] #236 closed

[2019-07-30 07:56] weakfl commented on #115
@The-Elk-GH

Are `USER:PASSWORD` in the Image URL the same you're using for myopenhab.org?

If not, could you please test something for me? Can you please temporarily remove you myopenhab.org username and password from settings, save settings and try if it works?

[2019-07-30 08:11] The-Elk-GH commented on #115
No it is the User and Password of my securty camera.

Do you mean in the settings of the Paper UI for myopenhab.org?

[2019-07-30 08:33] weakfl commented on #115
@The-Elk-GH No, in the settings of the iOS app.

[2019-07-30 08:39] The-Elk-GH commented on #115
I have tested it.

I deleted the myopenhab.org user and Password and conncted to openhab locally.

But the result was the same -> no images shown

[2019-07-30 09:02] weakfl commented on #115
@The-Elk-GH Ok, thanks for testing. Since the myopenhab.org credentials are set for the image request, I thought the auth header might interfere with the credentials in the URL.

I'll have to setup a test page with authorization and see if I can reproduce the issue...

[2019-07-30 09:14] The-Elk-GH commented on #115
For me the question is: Why do it work with the remote connection via myopenhab.org?
And why don’t work with the local one?

[2019-07-30 09:20] weakfl commented on #115
And why don’t work with the local one?

Authorization seems to be handled differently when connect through myopenhab.org (see #300 for a similar problem). But I'm only guessing atm. As mentioned, I'll have to set up a test case to further analyze the issue.

[2019-07-30 11:14] smallbitt opened #327 "No video"
I have tried everything but I can't make a video work in the app, not a mjpeg, not a HLS. all works in the web panel but never works in the app.

My goal is to show the webcam streaming, I tried to Ffmpeg the mjpeg to jpg but I can't see any refresh in the image and sometimes it never appear too.

In the new upgrade about video enhancements there is no explanation about the fixes.

Now the questio

[2019-07-30 11:41] weakfl commented on #327
@smallbitt Please provide the relevant part of your sitemap.

Also, plese try this Video element in your sitemap and lmk if it works:
[code]

[2019-07-30 12:19] smallbitt commented on #327
Thank you for the quick answer.
The video element you suggested actually works good.
So I suppose my m3u8 file made by ffmepg conversion was bugged, but I can still see it with vlc and safari.

Any suggestion?

[2019-07-30 12:22] weakfl commented on #327
Did you set `encoding="HLS"` for your element?

[2019-07-30 12:30] smallbitt commented on #327
Yes of course. At least now I know it’s something depending by how the m3u8 has been made. As far as I’ll find the solution will post it here. Thank you.

[2019-07-30 14:02] smallbitt commented on #327
ok I got it. It seems the openhabian web server can't stream m3u8 files. Infact if I try to show them from there I get a text content.

I was converting rtsp into m3u8 and then streaming it all inside the same machine.

so now I guess the better solution would be just play mjpeg files, but it doesn't work with the element: `Video "path/filename.mjpg" encoding="mjpeg"`

any suggestion?

[2019-07-30 14:54] weakfl commented on #327
That's a bit of a surprise given that HLS is explicitly mentioned in the [sitemap docs](https://www.openhab.org/docs/configuration/sitemaps.html#element-type-video).

I think mjpeg is currently not supported. I'll look into adding support.

[2019-07-30 18:52] timbms commented on #115
That's all very strange. Openhab acts as a proxy for the access to elements in the sitemap. For instance with this sitemap
[code]
The URL for the image sent over by openhab to the iOS client is proxied to:
`https://192.168.2.15:8444/proxy?sitemap=testingVideo.sitemap&widgetId=0000`
Is the access control different on openhab for /path from /icons for instance?

[2019-07-30 21:41] timbms opened #328 "No transition to other sitemaps when in nested sitemaps"
**Describe the bug**
While in a nested subview no direct switch to other sitemap possible

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sitemap with nested selection'
2. Click on 'Selection'
3. Open Side Menu
4. No transition to other sitemap is possible while in Selection

**Expected behavior**
Transition to other shown sitemap

**Desktop (please complete the following information)

[2019-07-30 21:48] #206 closed

[2019-07-31 21:50] timbms opened #330 "Code clean-up for SelectSitemapViewController functionality"
There are 3 implementations of overlapping functionality:

1. OpenHABSelectSitemapViewController
2. func selectSitemap()  in OpenHABViewController
3. OpenHABDrawerTableViewController.swift

This should be cleaned up. Anyone interested?

[2019-08-01 05:19] ufodone commented on #115
@timbs I'll take a look when I can get my environment up and working again (hopefully soon).

[2019-08-01 05:36] #328 closed

[2019-08-01 05:38] timbms commented on #289
We still have #115 on the list. Any chance to fix this?

[2019-08-01 07:27] maniac103 commented on #310
@timbms What we do in the Android app is formatting the sent state according to the format specifier given in the state description (here `%d`) ... that's the user intended view, after all, IMHO that's better than guessing from other parameters.

[2019-08-01 18:06] timbms commented on #310
@maniac103 That makes sense. But the formatting pattern is not in the JSON of the sitemap.

[2019-08-03 03:28] ufodone commented on #300
I reproduced this issue using the example URLs and I don't think it is related to the iOS app.  I was able to reproduce the problem independently via Postman.  I'm assuming here that your openhab setup is using nginx or a similar proxy to add the basic authentication.

The site provided in the first URL doesn't appear to like the Authorization header being included in the http(s) request.  This is

[2019-08-03 03:39] ufodone commented on #115
Although I haven't tried to reproduce this issue, it's possibly the same root cause as #300.  I added some details there.

As to why it works with myopenhab.org and not the local connection: I would speculate that it is related to my comment in #300.  It's possible that myopenhab.org strips the Authorization header before it proxies to your openhab instance thus avoiding the problem.

Fixing this

[2019-08-03 06:43] weakfl commented on #300
Thanks for testing. I should habe tried the target URL directly…

I'm not using a proxy btw.

I like the proposed solution of splitting credentials into local/remote.

I'm still not sure why it didn't work for @The-Elk-GH after removing his credentials though.

[2019-08-03 15:47] timbms commented on #115
@ufodone: Thank you the thorough analysis.
Shouldn't the android app have the exact issue?

[2019-08-04 16:23] ufodone commented on #115
@timbms I just had a look at how basic auth is handled in the iOS app and I think that gives a hint as to why the Android app works.  It looks like the iOS app sets the Authorization header in all http(s) requests regardless of whether the credentials have been requested.  I think a normal flow would be that a request is made without the credentials, the server would return a 401 which would then

[2019-08-04 17:13] leffenke commented on #327
mjpeg should be supported, but not working in the iOS app. no problem with that in classic UI.
as IP camera binding provides mjpeg stream it would be great to use it in the app.

[2019-08-04 17:22] leffenke opened #332 "Rollershutter / setpoint element buttons"
Since 2.1.0 (7) the rollershutter / setpoint element buttons have been changed. They look nice but there is no visual feedback if they were pushed or not. It would be more user-friendly if some kind of feedback would be implemented.

[2019-08-04 17:22] weakfl commented on #327
What I ment was not supported by the iOS app atm.

[2019-08-04 17:27] leffenke commented on #327
Sorry, misunderstood.
Is there any plan to have it supported?

[2019-08-04 17:31] weakfl commented on #327
Yes, I'll add it as soon as I have some time, I've already looked into it.
Unfortunately I'm quite busy with other stuff atm, but it's on my list ;)

[2019-08-05 05:19] #86 closed

[2019-08-05 08:52] leffenke commented on #327
I'll be very greatful for that :-D

[2019-08-06 05:41] timbms commented on #115
Would also be great if you could investigate while at it how we could replace URLConnection by URLSession.
[AFNetworking migration guide](https://github.com/AFNetworking/AFNetworking/wiki/AFNetworking-3.0-Migration-Guide )

[2019-08-06 05:46] timbms commented on #332
@leffenke: Actually there is a visual feedback when the button is pressed: Press and hold the button. However this could be improved. I changed the highlighting color to make it more evident.

[2019-08-08 04:18] ufodone commented on #115
Sure, I'll have a look.  Hopefully will have some time to have a look next week.

[2019-08-08 07:58] nakatomi845 opened #336 "Slider element with step not working properly"
Hi, I've checked last version of testing iOS app and I've seen problem with Slider element.

The problem is with step value. If it is set to 1 it's working ok, but if I changed to 5 it works strange. Values are not multiply 5.

minValue and maxValue works ok.

Tested version 2.1.0 (14).

sitemap:

`Slider item=SliderTest label="Slider test [%s]" minValue=10 maxValue=90 step=5`

item:

`Number Slid

[2019-08-08 13:55] timbms commented on #336
Obviously a bug . Will look at it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-08 20:03] timbms commented on #336
minValue, maxValue and step should work with release 2.1.0(15). Please wait until it is processed.

[2019-08-08 20:49] nakatomi845 commented on #336
Great, thanks.

[2019-08-09 10:35] nakatomi845 opened #337 "Selection item wrong value when NULL value"
When I have selection item and it is set NULL (eg. after restart) it shows wrong value. Always it is "Selected dllldld".

When I set up non NULL value it is ok.

Version: 2.1.0 (15)

![IMG_8214](https://user-images.githubusercontent.com/10990457/62773407-5e3c7700-baa2-11e9-8b29-ad3138683386.png)

[2019-08-09 11:12] timbms commented on #337
This is a placeholder text. That should not be shown

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-09 11:18] nakatomi845 commented on #337
I know that is cosmetic bug but it would be nice to patch it :)

[2019-08-09 11:34] timbms commented on #337
Sure we can fix it

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-11 07:14] pallie42 commented on #320
Made A short video where I perform the same action in the webui vs the iOS app. I power on 3 Lights in each of them, so far it is consistent. However to power off, I need to press twice in the iOS app, also the button remains latched:

https://youtu.be/ApsfODJBmzY

Also made a video with split screen and log tail enabled in Karaf:

https://youtu.be/T4tdH539H5U

[2019-08-11 16:49] #336 closed

[2019-08-11 16:51] timbms commented on #115
I have created a pull request to get rid of AFNetworking. Switched directly too Alamofire.
Have a look at #338

[2019-08-11 19:27] timbms commented on #320
@pallie42 : thanks for the video. What is the item, sitemap, rule for that demo?

[2019-08-12 20:14] timbms opened #340 "Icons are not displayed when server is discovered via Bonjour"
**Describe the bug**
The icons are not display when server is discovered via Bonjour
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Remove Local URL and Remote URL
3. No icons are displayed

**Expected behavior**
Should show icons

**Desktop (please complete the following information):**
 - Version 2.1.0(15)

**Smartphone (please complete the following information):**
 -

[2019-08-12 21:16] timbms commented on #337
Fixed with next build

[2019-08-12 21:16] #337 closed

[2019-08-12 21:21] #330 closed

[2019-08-13 21:10] timbms commented on #337
2.1.0(16) includes fix

[2019-08-14 07:29] Timtam opened #342 "notifications triggered twice"
**Describe the bug**

Whenever sending notifications via sendNotification to my email address, the same notification will pop up twice with a break of 1 second in between. That bug shows up since I decided to go and test the openhab 2.1.0 beta (it works fine with previous versions).

**To Reproduce**

Create a rule (e.g. with cron job time), like the following:

[code]

Now check your phone when t

[2019-08-14 07:54] weakfl commented on #342
@Timtam go to myopenhab.org, sign in, check the devices listed for your account (top right).
The device is probably listed twice, so delete the entry you don't need.

@timbms We could store the deviceId in the keychain to improve persistence between installs.

[2019-08-14 15:09] Timtam commented on #342
@weakfl thanks, that did the trick. Feel free to close this issue :).

[2019-08-14 16:36] timbms commented on #342
@Timtam and @weakfl thanks

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-14 16:37] #342 closed

[2019-08-14 17:15] #332 closed

[2019-08-14 19:48] ufodone commented on #115
@timbms I had a look at #338 and it would seem you already tackled the URLSession conversion you were referring to?  I can confirm that your changes also work when client certificates are involved.  What are the plans for these changes?  Should I be looking to make the auth updates in that branch or wait until you've moved them back to the swift(?) branch?

[2019-08-14 20:11] timbms commented on #115
#338 was a proof of concept to migrate to a current networking framework.
-  I went for Alamofire because the features were close to the AFNetworking approach: sessionDidReceiveChallenge, ServerTrustPolicyManager.
- Because of lack in documentation in the 5.0 beta release of Alamofire I rather went for the 4.0 release.
 @ufodone: Am glad that it already works for you. Still this needs to be thorou

[2019-08-14 20:35] kaikreuzer opened #343 "Lot of wasted space by burger menu, title and search bar"
First of all thanks for the incredible work for the new iOS app!

I just updated my phone (an iPhone SE) and it works smoothly.

Nonetheless, I wanted to share one impression that I immediately had: There is a lot of wasted space at the top of the screen after opening the app. I know that most iPhones have bigger screens nowadays, but I still have the form factor that Steve Jobs preferred: A small

[2019-08-14 21:03] timbms commented on #343
@kaikreuzer Thank you for the positive feedback.
As of iOS 11 large titles are a standard feature of many apps. See for instance Mail, Settings, Messages apps.
I just checked that the title size is exactly identical in those apps as it is in openhab app.
We could investigate in your suggestion for small titles and not visible search bar as the default behaviour on devices with small screen sizes

[2019-08-14 21:54] timbms commented on #115
After the merge of swift branch into master, the new development branch is develop.
I merged #338 into develop.

[2019-08-14 23:52] Sc0th commented on #231
Swift app looks good, appreciate all the work that goes into this.... however, disappointed that the status bar pop up bar is still ever present, any plans to add an option to disable? - for me it serves no purpose.

[2019-08-15 07:03] Tobi-1234 opened #348 "Returned empty sitemap list - openhab iOS 2.1"
Hi everybody,

I'm a new member and I hope I create the issue in the right way, if not please let me know.

So what's my problem: Since I updated my iOS App to the 2.1.0 version, I always receive the error message: "Returned empty sitemap list". Before the update everything works fine and on my ipad the old version of the app is still running. I also tried to reinstall the app, but the error messa

[2019-08-15 07:16] TRIROG commented on #348
Same problem here,
Running OH 1.8.

[2019-08-15 07:27] timbms commented on #348
Please do the following:
- Share the response of your REST API for sitemaps by going in your browser to   https://SERVERADDRESS+PORT/rest/sitemaps (or http)
- Share the response of your REST API for the relevant sitemap by going to
https://SERVERADDRESS+PORT/rest/sitemaps/relevantSitemapMyHome (or http)
- Replace SERVERADDRESS+PORT with what is relevant for your site: for instance 192.168.2.15:844

[2019-08-15 07:29] gastello commented on #343
I think it's all about the SideMenu’s call icon. It visually eats up a lot of space and looks alien. Maybe it would be better to make it smaller. Or even think about moving the menu to tab bar?
The same can be said about the lines Group. The strings in the native iOS UI may take up a bit more space, but due to the smaller font with transparency, it looks much more compact.

[2019-08-15 07:30] TRIROG commented on #348
[code]

[2019-08-15 07:32] TRIROG commented on #348
and the first couple of lines for the default sitemap
`<sitemap><name>default</name><label>Križ 62a</label><link>http://192.168.0.249:8080/rest/sitemaps/default</link><homepage><id>default</id><title>Križ 62a</title><link>http://192.168.0.249:8080/rest/sitemaps/default/default</link><leaf>false</leaf><widget><widgetId>default_0</widgetId><type>Frame</type><label/><icon>frame</icon><widget><widgetI

[2019-08-15 07:33] TRIROG commented on #348
Do note that i have also tried removing all sitemaps but the demo.sitemap and still had the same error

[2019-08-15 07:42] Tobi-1234 commented on #348
Thanks Tim for the fast reply - I really appreciate. I will send my information this evening as I'm not at home right now...

[2019-08-15 08:52] alexg2016 commented on #348
I also got the same issue. Using a 1.8 backend.

**Here´s a part of /var/log/openhab/requests.log:**

192.168.170.10 -  -  [15/Aug/2019:08:44:05 +0000] "GET / HTTP/1.1" 302 0
192.168.170.10 -  -  [15/Aug/2019:08:44:05 +0000] "GET /static/index.html HTTP/1.1" 200 656
192.168.170.10 -  -  [15/Aug/2019:08:44:05 +0000] "GET /rest/bindings? HTTP/1.1" 404 0
192.168.170.10 -  -  [15/Aug/2019:08:44:05 +00

[2019-08-15 09:12] timbms commented on #348
You are still on a xml speaking version. New version speak JSON. Xml was not removed from app but was not testable. This will be challenging

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-15 11:44] Tobi-1234 commented on #348
Is this just an OH 1.8 problem or also a problem with OH 2.1? So an upgrade to OH 2.4 might solve the problem?

[2019-08-15 12:09] timbms commented on #348
Somebody with knowledge on version history must comment on this.
oH 2.4 speaks json definitely. An upgrade to 2.4 should therefore solve this problem.

[2019-08-15 14:23] timbms commented on #348
A full example would be very helpful

[2019-08-15 15:10] lsiepel commented on #348
I have the same issue with 2.5 m2, so upgrading does not solve the issue. Many users have the same issue from all different versions.

[2019-08-15 15:23] timbms commented on #348
There are in my understanding at least two problems:
1. Related to old versions speaking XML
2. Single `_default` sitemaps also for most recent server versions.

For 2. I have prepared a hot fix. For 1. I am working on the parsing of XML. Sitemaps are already OK, sitemappages are in preparation.

If you have a different issue, please state it.

[2019-08-15 15:38] PaulMancini commented on #348
I can confirm this symptom presents in openHAB 2.0, as well.

[2019-08-15 15:55] timbms commented on #348
@PaulMancini : Please try the beta app available in TestFlight. It contains a hot fix

[2019-08-15 16:52] PaulMancini commented on #348
@timbms, where does one find the TestFlight invitation code, please?

[2019-08-15 16:55] JCT250 commented on #348
There’s a link here that worked for me under the downloads section https://github.com/openhab/openhab-ios

[2019-08-15 16:57] JCT250 commented on #348
Making the assumption that is the right version of course

[2019-08-15 16:58] timbms commented on #348
@JCT250 : You are right. Thanks

[2019-08-15 17:00] JCT250 commented on #348
No problem @timbms. Thanks for all your work on the app!!  I’m running 1.8 and have this issue too, happy to test as req’d if you come up for a fix for issue 1

[2019-08-15 17:05] n8foo commented on #348
Also have this issue on OH 1.8. Happy to test!

[2019-08-15 17:08] timbms commented on #348
Could you please support me by:

- Sharing the response of your REST API for the relevant sitemap by going to
https://SERVERADDRESS+PORT/rest/sitemaps/relevantSitemapMyHome (or http)
Replace SERVERADDRESS+PORT with what is relevant for your site: for instance 192.168.2.15:8444

Step by step I am getting the parsing done by adding unit tests.

[2019-08-15 17:16] JCT250 commented on #348
@timbms, yep sure, attached
[Home.xml.zip](https://github.com/openhab/openhab-ios/files/3506503/Home.xml.zip)

[2019-08-15 18:03] opulentrich commented on #348
If its any use, here is the complete conversation between my iPhone running the latest TestFlight version and openhab 2.1 as decoded by wireshark (With the basic auth removed for posting!)

GET /rest/sitemaps?limit=20 HTTP/1.1
Host: 192.168.201.1:8081
Connection: keep-alive
Accept: */*
User-Agent: openHAB/16 CFNetwork/978.0.7 Darwin/18.7.0
Accept-Language: en-gb
Authorization: Basic ******
Accept-

[2019-08-15 18:47] kaikreuzer commented on #343
Indeed, I didn't notice that so far...

Imho, this could be the default for devices of any screen size - imho the search is not a frequently used operation and thus should be ok to hide it for regular use.

Right, that's the one that I called "burger menu" - I agree that it looks a bit bold and alien.

[2019-08-15 18:59] PaulMancini commented on #348
I don't want to slow the process down...I was able to get to a 2.1.0 (16) beta version in TestFlight, but I don't believe this is the version with the hot fix.

[2019-08-15 19:02] timbms commented on #348
2.1.1(17) should be in testflight

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-15 19:07] EjvindHald opened #351 "A few svg images are not rendered correctly"
Thank you very much for this major update. Looks cool and works fine with png files as the old app.

Then I tried to switch to svg files in the new setting, and for most of the icons it looks fine. However, a few icons - including the build in icon light - is not rendered correctly. Some of my homemade icons are not even shown. My homemade icons and light svg is displayed correct in a browser such

[2019-08-15 19:07] Tobi-1234 commented on #348
Where did I find the 2.1.1 version? In TestFlight I only see the 2.1.0...

[2019-08-15 19:25] litris commented on #348
The same thing happens to me. I have not touched in Openhab 1.8 years because it works perfectly for me but today the ios app has been updated and has stopped working.

Error not finding Sitemap.

I have used the ios 2.1 version of testflight and it doesn't work.

Please do not touch an App if it works!

Now my home control doesn't work.

[2019-08-15 19:35] JCT250 commented on #348
Hi @litris, do you have any technical detail to add to help solve the issue?

I’m in the same boat as you in that the app no longer works for me but these things do happen, it sounds like a fix is being worked on, and personally it’s exciting to see the app getting some attention after so long.

In the interim can I suggest visiting your openhab site in safari, clicking on the box with an up arrow

[2019-08-15 19:41] litris commented on #348
It is not necessary to give technical data.

Because I haven't touched any settings in years and this happens to more users.

The problem is the new ios APP.

It is very good news to update but I prefer an old version to a great new version that does not work.

[2019-08-15 19:44] JCT250 commented on #348
Hi @litris. Detail can be found in this post regarding what can be provided to help resolve this issue. Sorry for not quoting it, I’m viewing on mobile.

https://github.com/openhab/openhab-ios/issues/348#issuecomment-521719299

[2019-08-15 19:50] litris commented on #348
Ok, Thanks.

The beta version does not work either.

Now we'll have to wait.

And besides, Apple needs a lot of time to retake a new version this will take time.

It would be better if they left the previous version, I prefer.

[2019-08-15 21:02] ixp-nl commented on #348
Same problem here, running OH2.2.0 and testflight app version 16
http://SERVERADDRESS:8080/rest/sitemaps _returns json_
http://SERVERADDRESS:8080/rest/sitemaps/home _also returns json_
Would be nice if problem can be fixed soon, because we can't control the lights

[2019-08-15 21:35] timbms commented on #348
I really appreciate your support in this discussion.
A beta that should be able to parse xml is being uploaded to the appstore for TestFlight. I am saying "should" because I can't test it with an old running server. Ideally somebody should debug the hotfix version with Xcode and an old server version.

[2019-08-15 21:46] JCT250 commented on #348
Thanks for your work on this @timbms!

[2019-08-15 21:50] DigiH commented on #348
Thanks Tim, would love to test it, but am still seeing version 2.1.0 (16) in TestFlight. Any idea why?

[2019-08-15 22:22] JCT250 commented on #348
Just got a notification that 19 was available on test flight, updated to that version but the issue persists.

[2019-08-15 22:25] timbms commented on #348
@DigiH: Apps hang in review for beta testing in App Store. No clue why it is taking longer than usual after processing to get to the next step.
Those interested in participating could also be

[2019-08-15 22:28] JCT250 commented on #348
@timbms. Just updated to version 20, no dice with this version either. We’re you expecting this to fix for those running 1.8 or should I stand down atm?

[2019-08-15 22:28] DigiH commented on #348
@timbms - got notification for 2.1.2 (20) now and installed it. Still no sitemaps with openHAB 1.8.3

[2019-08-15 22:29] timbms commented on #348
I just tweaked the parsing and uploaded build 20.
That process of development is not ideal: Though the unit tests are passed, I have no direct insight. One possibility would be that somebody makes the OH server accessible to me.

[2019-08-15 22:40] DigiH commented on #348
@timbms - any way of chatting privately to arrange access?

[2019-08-15 23:09] timbms commented on #348
My twitter handle is @timbms69.

[2019-08-15 23:14] timbms commented on #348
@PaulMancini @Isiepel : As you are on 2.x pleas try the latest TestFlight

[2019-08-15 23:24] DigiH commented on #348
@timbms - sent you a PM on openHAB.

[2019-08-15 23:39] JCT250 commented on #348
Just tested the latest TestFlight build as I saw it has XML parsing, no longer get error message, but sitemap items do not populate.

Am able to see the name of the site in the right hand menu however

![IMG_5744](https://user-images.githubusercontent.com/4284202/63133695-6d7b7180-c01a-11e9-9fbe-177ba3008b56.PNG)
![IMG_5743](https://user-images.githubusercontent.com/4284202/63133696-6e140800-c01a-

[2019-08-16 04:17] james-apathy commented on #348
Just reporting in that I had the sitemap issue with the stock IOS app after it upgraded, I had been running OpenHAB 2.3.  Upgrading to OpenHAB 2.4 does not solve this issue with the stock app freshly downloaded from the Apple Store, however (2.1.0(16))

Upgrading to the Testflight version of the app (2.1.2(21)) does solve the issue.

Not the forum for it, but the new version of the app certainly f

[2019-08-16 04:27] Tobi-1234 commented on #348
Thanks so far for your support Tim!
But still the error message for OH 2.1... using the app 2.1.2 (21)

[2019-08-16 04:31] timbms commented on #348
@james-apathy thanks for giving the feedback. Version 2.x problems are solved. Version 2.1.1(21) is waiting for review at appstore.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 04:36] timbms commented on #348
@Tobi-1234 please contribute your server response
To be analyzed whether this is json or xml

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 04:41] Tobi-1234 commented on #348
[{"name":"Haus","label":"HauptmenÃ¼","link":"http://192.168.178.37:8080/rest/sitemaps/Haus","homepage":{"link":"http://192.168.178.37:8080/rest/sitemaps/Haus/Haus","leaf":false,"widgets":[]}},{"name":"_default","label":"Home","link":"http://192.168.178.37:8080/rest/sitemaps/_default","homepage":{"link":"http://192.168.178.37:8080/rest/sitemaps/_default/_default","leaf":false,"widgets":[]}}]

[2019-08-16 06:17] timbms commented on #348
@Tobi-1234 : You are on a JSON speaking version.  This is good.
But there is another problem in the parsing of this JSON
Thankfully Xcode is quite explicit on the root cause:
failed - Whoops, an error occured: keyNotFound(CodingKeys(stringValue: "timeout", intValue: nil), Swift.DecodingError.Context(codingPath: [_JSONKey(stringValue: "Index 0", intValue: 0), CodingKeys(stringValue: "homepage", int

[2019-08-16 06:24] litris commented on #348
TestFlight only 2.1.2 and no works

[2019-08-16 06:32] SAQ1973 commented on #348
Same here, I can only see 2.1.2 in TestFlight, but not 2.1.3. The message complaining about the empty sitemap is gone (that I got with the current AppStore version).
The app finds my sitemap, but it is empty.
Running OH 1.8.3 on the server.

[2019-08-16 07:04] timbms commented on #348
2.1.3(23) is in review on AppStore. But will not address the OH <2.x  issues
2.1.4(24) is the version you need. It is still being processed in AppStore
Attached is a preview:
First working version with XML:
<img width="383" alt="Screenshot 2019-08-16 at 08 32 49" src="https://user-images.githubusercontent.com/5411131/63149060-5c733600-c003-11e9-8089-ac708e6f7e3f.png">

[2019-08-16 09:42] litris commented on #348
Thank you very much for your work.

But Couldn't you withdraw the version and leave the old version until the version for 1.8 is available?

The version that there is now is not working at ph 2 and also in the ones we have 1.8 that we are many.

I prefer the control I have with 1.8 the 2 I never really like it's like HA and I don t have it for the same reason.

I like the manual inclusion and to f

[2019-08-16 10:38] RafalLukawiecki commented on #348
Subscribing, as also affected by the issue, as on 1.8.3 and unlikely to upgrade to OH2 any time soon. Thank you for working on it, much appreciated.

[2019-08-16 10:58] timbms commented on #348
@litris I regret your experience. It is definitely good practice to ensure continuity with all supportable versions.
Though we had months long beta testing we were not complete in the coverage and missed this target. Certainly there is something to learn here: ask for help specially in testing of all corner cases for instance.
Nevertheless I think we should focus the limited resources of this dev

[2019-08-16 11:12] litris commented on #348
Ok, Thanks.
PD:Android doesn't use.

[2019-08-16 11:14] litris commented on #348
Is it possible to raise the compatible version with 1.8 to TestFlight or the previous functional version?

[2019-08-16 12:41] PaulMancini commented on #348
Big thanks to @timbms and others for rallying.

For the benefit of TestFlight users, apparently there can be a lag in releasing version notifications.  At the moment I can see up to 2.1.2 (21), which does not address the issue (for my openHAB 2.0).

[2019-08-16 12:49] lsiepel commented on #343
That would be great, andit would also be great if the user is able to enable/disable the search bar in settings or choose between normal and compact display if you want the font size and burger menu added to this to. Personally i would never use the search bar while i now it is a great feature that people like.

[2019-08-16 14:23] timbms commented on #348
The App Store requires for public betas a review. This is to ensure a minimum quality. The  development team gets notified without the review process. As the review process needs to be requested this can be forgotten

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 14:35] DigiH commented on #348
So California woke up and started the review process ;) 2.1.3(23) is available. Waiting for 2.1.4(24) to test here.

Thanks Tim!

[2019-08-16 14:37] weakfl commented on #348
@timbms you can automate that with fastlane

[2019-08-16 14:38] PaulMancini commented on #348
2.1.3 (23) is available for myself.  Testing succeeds with openHAB 2.0.

[2019-08-16 15:02] ixp-nl commented on #348
I can confirm 2.1.3 (23) is working with my openHAB 2.2 sitemaps

[2019-08-16 16:15] timbms commented on #348
It’s good news that issues with >= 2.0 versions seem resolved.
2.1.4(24) is released in Appstore. This build should also address issues with < 2.0 versions.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 16:26] timbms commented on #351
Thank you for your feedback. We will revert to those issues as soon as we have fixed the release issues

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 16:27] timbms commented on #343
I will join this discussion as soon as major release trouble is behind us

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 16:48] SAQ1973 commented on #348
I can confirm, I can see the sitemap again under 1.8.3, but the icons only appear when connected via HTTP not HTTPS.

Stefano

﻿
It’s good news that issues with >= 2.0 versions seem resolved.
2.1.4(24) is released in Appstore. This build should also address issues with < 2.0 versions.

Sent with GitHawk

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHu

[2019-08-16 16:54] timbms commented on #348
@SAQ1973 thanks you. You are the first to confirm that app is working again also for < 2.0

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 17:27] alexg2016 commented on #348
I can confirm that the sitemap now displays with 2.1.4 (24) and a 1.8 backend.

But the app crashes when I try to open a page with a "webview" in it.

Here´s my webview code:

`Webview url="https://www.url.de/blabla/?tx_ckcellextermine_pi1%5Bortsteile%5D=161" height=40`

` Webview url="http://url.de/img.jpg?usr=sdas&pwd=asadf" height=4`

[2019-08-16 17:28] DigiH commented on #348
Great job Tim, so far it's looking great here while testing with OH 1.8.3 in the last 10 minutes. Nice fresh new UI updates (dimmer/slider value is now being dispayed :)

I've only stumbled accross two issue:
• with some of my setpoints the value is not displayed between the down and up arrows.
• sometimes, when making changes, e.g. setpoints which are showing the values, or mapped switches which

[2019-08-16 17:29] SAQ1973 commented on #348
It is also HTTPS, maybe it‘s related to the icons thing I reported?
Alex, do you see icons in the native app when connected via HTTPS?

Stefano

﻿
I can confirm that the sitemap now displays with 2.1.4 (24) and a 1.8 backend.

But the app crashes when I try to open a page with a "webview" in it.

Here´s my webview code:

Webview url="https://www.url.de/blabla/?tx_ckcellextermine_pi1%5Bortsteile%5D

[2019-08-16 17:38] alexg2016 commented on #348
Hey Stefano,

unfortunately I can not test the connect via https. Neither with the app nor the classic website. I may have here a problem in general.

[2019-08-16 17:41] RafalLukawiecki commented on #348
I can confirm that the app works with 1.8.3 but I also cannot see any of the icons. I also connect over https.

[2019-08-16 17:44] lsiepel commented on #348
I think it is better to raise a seperate issue, as  it is differs from an empty sitemap list. That way it will get the proper attention.

[2019-08-16 17:47] alexg2016 opened #352 "Crashes when webview should be displayed (App 2.1.4 (24))"
Using openHAB 1.8 backend and the app 2.1.4 (24).

When I try to open a frame that contains a webview, the app crashes.

My webview codes:

`Webview url="https://www.url.de/blabla/?tx_termine_pi1%5Bortsteile%5D=756" height=40

Webview url="http://url.de/img.jpg?usr=sdas&pwd=asadf" height=4`

[2019-08-16 17:47] timbms commented on #348
Please raise separate issues for new topics

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 17:47] alexg2016 commented on #348
Ok, did that. Thx. https://github.com/openhab/openhab-ios/issues/352

[2019-08-16 17:53] DigiH commented on #348
@alexg2016 - If you have myopenhab activated for remote access you can only use http for local access, https won't work locally then - as far as I remember correctly. So nothing majorly wrong for you there.

[2019-08-16 17:57] DigiH commented on #348
@myself and others with the same issue

Adding the value to the item string ([%d]/[%.1f]) of a number setpoint fixed this for me. This wasn't needed in the previous iOS app. Fine for me, if it's the same behaviour with OH 2.

[2019-08-16 17:59] alexg2016 commented on #352
Rest response of the widgets:

[code]

[code]

[2019-08-16 19:48] SAQ1973 opened #353 "Icons not displayed on openHAB iOS app 2.1.x when connected via HTTPS"
The sitemap icons are not displayed on the openHAB iOS native app version 2.1.x any more when the app is connected via HTTPS. It worked on the previous app and it still works via HTTP.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter the URI https://server:port into Settings/Local URL when connected locally / WiFi or VPN, or into Settings/Remote URL when connected remotely / via mobile

[2019-08-16 19:51] SAQ1973 commented on #348
FYI: I opened a new ticket #353 for this issueon GitHub.

Stefano

﻿
I can confirm that the app works with 1.8.3 but I also cannot see any of the icons. I also connect over https.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-16 20:24] DigiH opened #354 "UI Update Issues with 2.1.4 (24) with 1.8.3 OH - Slider Icons, Setpoints, Mapped Switch Buttons and Items with Sitemap Visibility"
**Describe the bug**
With 2.1.4 (24) and running OH 1.8.3 I have problems with the UI updating correctly, almost always requiring to reload the view manually.

• In particular this affects Slider Icons - in my case a dimmer icon (dimmer-0.png - dimmer-100.png) which sometimes gets 'stuck' on the first slider move, somtimes after 3-4 slider actions.
• Setpoints also get 'stuck' after the first up o

[2019-08-16 20:25] litris commented on #348
Version 2.1.4 in TestFlight works correctly in OH 1.8.

Thank you.

[2019-08-16 20:33] SAQ1973 commented on #354
I have the same issues DigiH describes with the same setup (iOS app 2.1.4 and server 1.8.3).

Stefano

﻿
Describe the bug
With 2.1.4 (24) and running OH 1.8.3 I have problems with the UI updating correctly, almost always requiring to reload the view manually.

• In particular this affects Slider Icons - in my case a dimmer icon (dimmer-0.png - dimmer-100.png) which sometimes gets 'stuck' on the fi

[2019-08-16 20:34] litris commented on #348
And update in AppStore Ok!

Now we can continue with version 1.8 for me the best version.

I never liked version 2.xxx

I know it was done to make things easier but I prefer manual control to add new devices of 1.8 than the OH2 system.

It also works correctly in a raspi 2 with only 256mb.

Thanks.

[2019-08-16 21:40] timbms commented on #348
I will close this issue as this particular issue is addressed.
Next top priority will be the crashes on webview and the issues of sending commands

[2019-08-16 22:12] vgrebenschikov commented on #348
Still does not works for me with OH 1.8

iOS app is 2.1.4 (not TestFlight), same - "openHAB returned empty sitemap list"
(was broken after recent app update)

Only sitemap:
[code]

Any hint what to fix?

<img width="276" alt="image" src="https://user-images.githubusercontent.com/3735671/63200961-eb2b9580-c08b-11e9-9eed-14895fbbb1f0.png">

<img width="275" alt="image" src="https://user-images.githu

[2019-08-16 22:27] RafalLukawiecki commented on #353
Same issue.

[2019-08-17 05:42] timbms commented on #352
Thank you for the precise description. Here is the analysis:
Webviews are properly handled by json speaking versions. My suspicion that the bug must be related to xml parsing has proven right. The XML parser chokes over certain URLs embedded in widgets. Seems related to the widgetId part.
Will let you know more as I progress

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-17 05:43] timbms commented on #353
@ufodone: can you please bring in your expertise?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-17 05:46] timbms commented on #354
@weakfl can you have a look? Sounds like a typical issue of piling up requests that are not cancelled. Maybe related to icon downloads?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-17 06:14] timbms commented on #348
@vgrebenschikov as a work around try replacing default by something else like main
Required is quite clear but will need deployment

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-17 06:45] timbms commented on #348
PR #355 should fix this

[2019-08-17 06:52] timbms commented on #352
As we have unit testing and user base willing to test on xml speaking versions we should get rid of GDataXML-HTML as one last outdated library still in use.
Any suggestion for a reasonable framework?
Somebody in for a PR with a full replacement?

[2019-08-17 06:56] SAQ1973 commented on #354
I found this in the log when I tested a slider using the 2.1.4(24) iOS app:
`2019-08-16 22:29:35.022 [WARN ] [.b.knx.internal.bus.KNXBinding] - no compatible datapoint found for item Dimmer_DG_Studio_Wand (org.openhab.core.library.types.IncreaseDecreaseType), check item configuration`

**Details**
`Dimmer_DG_Studio_Wand` is a dimmable light that can also be switched on (it then soft-dimms to 5%) a

[2019-08-17 08:40] ufodone commented on #353
I'm able to reproduce this if the "Ignore SSL Certificates" setting is turned off.  I'm able to work around this by changing the setting to ignore the SSL certs and then restarting the app.  It then loads the icons for me.  This, of course, comes with a security risk of making it easier to do a MITM attack.

@SAQ1973 and @RafalLukawiecki Can you try this and see if it works for you so I can determ

[2019-08-17 09:26] SAQ1973 commented on #353
Yes, @ufodone, switching on ‚Ignore SSL Certificates‘ solves my issue. Tested locally and renotely on app 2.1.4(24) and server 1.8.3 and iOS 13 public beta.

Stefano

﻿
I'm able to reproduce this if the "Ignore SSL Certificates" setting is turned off. I'm able to work around this by changing the setting to ignore the SSL certs and then restarting the app. It then loads the icons for me. This, of c

[2019-08-17 10:38] ds82 opened #356 "Rollershutter Items don't show current state/value in sitemap"
**Describe the bug**
Rollershutter Items don't show current state/value in sitemap

**To Reproduce**
Define rollershuter item like this:

[code]

Use it in sitemap like this:
[code]

See missing state in iOS App:
![IMG_BDDAD8DF8A76-1](https://user-images.githubusercontent.com/332905/63210181-6a03eb00-c0eb-11e9-9bcd-47b025c99bbf.jpeg)

**Expected behavior**
State should be visible like e.g. in basi

[2019-08-17 12:28] ds82 commented on #327
This is something that makes the App unusable for me right now.
I'm no iOS/Swift Developer, but I would  try my best to fix this ..
Do you think it's worth trying @weakfl or do you think it's better you fix that yourself?

[2019-08-17 12:47] SAQ1973 commented on #356
I also have a problem with the state and value display with rollershutters. The height of the rollershutter is not updated any more since the app update to 2.1.x, server is on 1.8.3.

I am not using the Rollershutter type as I am controlling the angle and the height separately. I am using the Dimmer type for the percentage that is passed to and received from the KNX actors.

Was working fine befor

[2019-08-17 14:03] vgrebenschikov commented on #348
@timbms , yes after upgrade of iOS app it works again, thank you
(although it still shows version 2.1.4)

[2019-08-17 15:38] RafalLukawiecki commented on #353
If I turn on “Ignore SSL Certs” the icons appear again. They get cached. If I turn that option off, they come back from the cache, however, as soon as they should change (presence, state etc) they go blank.

[2019-08-17 15:41] ufodone commented on #353
Yes, that's consistent with what I'd expect based on the issue in the code. Working on a fix now.

[2019-08-17 16:20] weakfl commented on #327
@ds82 I should have some time to look into this next week. I'm sorry for the delay, but I was out of the country and had to postpone this issue.

[2019-08-17 16:32] weakfl commented on #354
@timbms Sure, but not before Monday I'm afraid.

[2019-08-18 09:47] weakfl commented on #327
I found some time for a quick test today, but there's still a problem with decoding (see screenshot below). Looks like the start of a new data chunk is not properly recognized.

I'll have to investigate if it's a bug of `AlamofireImage` or something else...

![mjpeg](https://user-images.githubusercontent.com/614985/63222884-9718d200-c1ad-11e9-9e1e-ec2651e31318.png)

[2019-08-18 10:01] weakfl commented on #327
Update: it's indeed a bug in `AlamofireImage`. I was able to fix it, but I'll have to submit a PR there and we'll have to wait until it gets merged and released...

[2019-08-18 13:24] timbms commented on #327
But AlamofireImage is not (yet) part of the master trunk and therefore in the release. Are you referring to Sdwebimage?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-18 13:36] weakfl commented on #327
@timbms I've used the develop branch.

[2019-08-18 17:28] timbms commented on #353
Beta is 2.1.5(32) is built and in review at Apple

[2019-08-18 17:29] timbms commented on #348
OK Fix in 2.1.5(32) therefore is not necessary anymore

[2019-08-18 17:29] #348 closed

[2019-08-18 19:08] timbms commented on #352
@alexg2016: Could you please try the following: Do not set a height for webview. If this works as  work-around the issue has been identified. Otherwise we have to handle "&" that are not properly escaped when send over xml.

[2019-08-18 20:15] timbms commented on #197
As of the release we learned it the hard way that xml speaking versions are still in use.

[2019-08-18 20:15] #197 closed

[2019-08-19 07:21] weakfl commented on #327
@timbms What's your timeline for the migration to Alamofire? I'm not sure how I should proceed with this...

[2019-08-19 08:15] timbms commented on #327
I would like to move along the migration to Alamofire asap. But we will need to have an extensive beta phase before we can take this IMHO bigger change live.
Therefore hotfixes on productive problems should be on afnetworking, feature implementation on Alamofire

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-19 08:25] alexg2016 commented on #352
@timbms: I did some tests and it does not really matter if I use the height setting, the "&" or not. The app still crashes, even with a totally wrong url. Here´s the code I tested with:

`
Webview url="http://url.de/blbla/?usr=asdasdt&pwd=asdasd" height=4

Webview url="http://url.de/blbla/?usr=asdasdt&pwd=asdasd"

Webview url="http://google.de" height=4

Webview url="http://google.de"

Webview url

[2019-08-19 11:50] weakfl commented on #327
@timbms correct me if I'm wrong, but afaik mjpeg has never been supported in the app, so I'd say it's a feature 😉

However, I can understand that mjpeg support might be critical for some users. So I've now implemented this against `master`, without any external dependencies. It should be straight forward to migrate to `Alamofire` later.

**Disclaimer:** Obviously this solution has the same auth is

[2019-08-19 12:18] SAQ1973 commented on #353
Works for me know with 2.1.5. I could switch off 'Ignore SSL Certificates' now.

[2019-08-19 12:25] SAQ1973 commented on #343
I found initially *a* search bar very interesting. I recently counted ~650 items in my system, so 'searching for' instead of 'navigating to' could be useful.
But then I realized, that the newly implemented search only searches through a rather short page (I try to break pages into two, when the screen is 'full').
Therefore, the search should include *ALL* items from the current sitemap.

[2019-08-19 12:53] timbms commented on #352
Please try beta 2.1.6(34) available on TestFlight

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-19 13:11] pallie42 commented on #320
I currently have in my items (as an example):

Switch SwitchKeukenSchuifraamLight “Switch Light KeukenSchuifraam” {autoupdate=“false”,modbus="<[slave3:0],>[slave1:0]"}

and in sitemap:

Switch item=SwitchKeukenSchuifraamLight label=“Switch Light KeukenSchuifraam” mappings=[ON=“On!”]

No rules related to this

[2019-08-19 13:41] alexg2016 commented on #352
Great, with this version webviews are displayed correctly. I think you can close this issue.

[2019-08-19 14:33] timbms commented on #352
Thanks.
We have a new release candidate

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-20 00:38] psyciknz opened #366 "Ability to copy text value from string or numeric item"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I have an IP address being displayed in my sitemap, what would be very useful would be to be able to select that value of my string item for IP address, and have the IOS copy option to copy the value to clipboard.

**Describe the solution

[2019-08-20 20:10] #352 closed

[2019-08-20 20:12] timbms commented on #354
@DigiH @SAQ1973 : Please try with latest beta build there should be a fix with certain retain cycles

[2019-08-20 20:24] timbms opened #367 "Upgrade FlexColorPicker to Swift 5.0"
**Is your feature request related to a problem? Please describe.**
Current FlexColorPicker framework is not yet migrated to Swift 5
Xcode complains about the upgrade

**Describe the solution you'd like**
Integrate latest FlexColorPicker migrated to Swift 5 as soon as it becomes available

**Describe alternatives you've considered**
Alternatives to FlexColorPicker were not considered as we have jus

[2019-08-20 20:57] #289 closed

[2019-08-20 21:17] #208 closed

[2019-08-21 07:28] SAQ1973 opened #368 "App always shows SSL Certificate Warning"
**Describe the bug**
When I start the openHAB native app (TestFlight version 2.1.6 (37)) it always warns about the SSL certificate. Selecting „Always“ does not change it for the next start.

**To Reproduce**
Steps to reproduce the behavior:
1. Kick the app from memory
2. Restart it
3. Get the SSL Certificate Warning popup
4. Select „Always“
5. Start from 1.

**Expected Behaviour**
Selecting „Alway

[2019-08-21 12:18] DigiH opened #369 "Suggestion to make the Section Heading text smaller and dark grey again to adhere to the iOS UI guidelines"
**Describe the bug**
The current section headings are the same font size and black as the other label texts.

**To Reproduce**
View any section heading text in a sitemap with the 2.1.6 (37) release

**Expected behavior**
In general all section heading texts are in a smaller size and a dark grey colour, as also shown in the iOS app Settings section. While maybe not expecting as small a font size as

[2019-08-21 18:21] DigiH commented on #354
Just tested with 2.1.8 (40). Unfortunately I'm still seeing the same issues. Possibly a slight improvement, e.g. sliders can now be used 5-6 times, before the icons stops updating; similarly, setpoints can be used more times now, before the value doesn't update any longer and requiring a manual reload.

This might be an indication of a fix in the right direction, or it might just be random luck wi

[2019-08-21 18:57] ds82 commented on #327
I can confirm that it works locally with http, but not via https w/ client certificate

[2019-08-21 19:17] SAQ1973 commented on #368
NOT solved with 2.1.8 (40).

[2019-08-21 20:26] leffenke commented on #332
Hi! I am using 2.1.8 (40) build at the moment, but I can’t see any changes in this.
Should I? :-)

[2019-08-21 20:31] leffenke commented on #327
Same at my side, works locally only in the app.

[2019-08-21 20:55] timbms commented on #332
@leffenke: press and hold. You should see a change in color, but in my opinion this is not enough. The size increase on press should be more visible.

[2019-08-21 21:49] leffenke commented on #332
@timbms: rollershutter buttons need only a short press to be activated, I never press and hold them. When a switch element is changed, there is a short audio feedback, or is it a vibration? That would be enough to know that the button has been pressed.

[2019-08-22 05:09] timbms commented on #369
Fixed on develop branch

[2019-08-22 05:09] #369 closed

[2019-08-22 05:21] timbms commented on #332
@leffenke : yes press and hold was only meant to show you the current feedback. A haptic feedback would be better.

[2019-08-22 06:45] Artas137 commented on #208
@timbms Why did you close this issue? Has it been fixed? Thanks!

[2019-08-22 08:30] leffenke commented on #332
@timbms: agree :-))) it would be much better.

[2019-08-22 09:18] weakfl commented on #327
This is (imho) a separate issue which should be fixed by migrating networking to `Alamofire`.

[2019-08-22 15:28] #356 closed

[2019-08-22 16:07] timbms commented on #327
Upload to new beta is running.
Let me have your feedback and I will close this issue. The https w client certificate needs to be handled separately

[2019-08-22 16:09] timbms commented on #368
@ufodone : can you have a look into the issue please

[2019-08-22 20:31] ufodone commented on #368
@timbms I ran into this issue when working on the Alamofire migration.  I've submitted a PR which seems to fix the issue but to be honest, I'm unclear why this stopped working given how new I am to Swift.  :)

[2019-08-22 21:35] timbms commented on #356
Please try out the fix in beta 2.1.9(42)

[2019-08-22 21:37] timbms commented on #208
@Artas137 : I assume it has been fixed. It also referred to the version 2.0.3

[2019-08-22 22:02] timbms opened #372 "Implement dark mode"
**Is your feature request related to a problem? Please describe.**
iOS 13 will support Dark Mode. It would be cool if the iOS app would run in Dark Mode on iOS13.

**Describe the solution you'd like**
Make use of the color schemes necessary for dark mode. Semantic colors?

**Describe alternatives you've considered**
An app specific dark mode would make no sense.

[2019-08-22 22:04] timbms opened #373 "Search through all sitemaps on server"
**Is your feature request related to a problem? Please describe.**
Current search functionality is limited to the presenting sitemap

**Describe the solution you'd like**
All available sitemaps should be considered in a search

[2019-08-23 07:55] MacGeyer commented on #280
Hi,
TestLight still doesn't include watch complication, since integration in the ios App no simple use of watchOS App is available ...
What is the roadmap for watchOS release please ?

[2019-08-23 08:06] dhermanns commented on #280
I would prefer to get this on testflight. Otherwise it‘s hard to get an ongoing development.

And I would prefer to have a basic watch app instead of having no watch support at all.

If I find some time, I could implement that the watch app actively requests the openhab connection params from the ios app.

Another problem was the missing support for frames in your sitemap.

The issue with the Ssl

[2019-08-23 09:52] timbms commented on #368
Fix by ufodone will be in 2.1.11(44)
@SAQ1973 Please give it a try when it becomes available on TestFlight

[2019-08-24 05:24] SAQ1973 commented on #368
Is it already done in 2.1.10 (44)?
Because I could not reproduce my issue there...

Stefano

﻿
Fix by ufodone will be in 2.1.11(44)
@SAQ1973 Please give it a try when it becomes available on TestFlight

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-24 05:29] timbms commented on #368
I corrected myself . The beta release is 2.1.10(44)!
Thanks for confirming that the fix is working

[2019-08-25 13:07] #368 closed

[2019-08-25 13:56] couriersud opened #378 "If mapping is used on switch value is not displayed"
**Describe the bug**
If a mapping is used with a Switch item the format specifier in the label is ignored. No value is displayed. The Basic UI will display the value of the item

**To Reproduce**

Create an entry like this in the sitemap:

`Switch item=gAZ_RS_ALL label="Rolladen [%.0f%%]" mappings=[0="0", 25="25", 50="50", 75="75", 100="100"]
`

In Basic UI, the value, e.g. 82% will be displayed.

[2019-08-25 15:22] timbms commented on #327
@weakfl: @ufodone did push hard in the develop branch on the migration to Alamofire.
Do you have time to migrate VideoUITableViewCell to Alamofire?

[2019-08-26 06:28] weakfl commented on #327
@timbms done in #382

Could you please check if it works with certificates now?

[2019-08-26 08:19] leffenke commented on #327
@weakfl: checked it, but it is not working with remote access, only locally.

[2019-08-26 09:59] MacGeyer commented on #280
Yes I would also prefer to have a basic watch app instead of having nothing !
A testflight update all 90 days would be enough for me,
dhermanns did a good job and since integration into openhab ios app everything is stopped and unusable !!!

[2019-08-26 14:24] timbms commented on #327
Beta build 2.1.13 - 47 is waiting for review.
At all: Please install the beta and let us know whether it works

[2019-08-26 14:24] timbms commented on #353
Beta build 2.1.13 - 47 is waiting for review.
At all: Please install the beta and let us know whether this feature still works

[2019-08-26 14:25] timbms commented on #354
Beta build 2.1.13 - 47 is waiting for review.
At all: Please install the beta and let us know whether this issue still is present

[2019-08-26 14:41] SAQ1973 commented on #353
This has already been solved with 2.1.10 (44) or earlier?!

Stefano

﻿
Beta build 2.1.13 - 47 is waiting for review.
At all: Please install the beta and let us know whether this feature still works

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-26 15:27] timbms commented on #353
Sure this was already fixed . But we reworked the networking layer and therefore need to ensure that this change is not breaking features

[2019-08-26 16:46] Alex5719 opened #383 "Show full content of notification"
The iOS App of OpenHAB has a notification overview page. In this overview the first line of each notification is shown. I would like to request a feature to be able to see the full content of a singe selected notification maybe by pressing the notification in the notification overview page.

[2019-08-26 17:34] timbms commented on #383
We could simply have a multi-line field. Wouldn‘t this help?
I have no idea how long messages are

[2019-08-26 19:23] Alex5719 commented on #383
What do you mean by multi-line field? Do you mean a switch in the settings menu to change the display between single line and multi line view? This would help.
I also have no idea how long notification messages can get. That’s why I think keeping the list displaying single lines and providing a possibility to select a single message to show the full content would be the best solution.

[2019-08-26 21:12] #353 closed

[2019-08-27 16:42] ds82 commented on #327
@timbms I still have 2.1.10 (44) in TestFlight

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-27 16:45] ds82 commented on #327
Ok, I just got the push for 2.1.13 😬

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-27 16:55] ixp-nl opened #384 "Wider sliders in landscape mode"
In the previous version of the app, the sliders became wider in landscape mode.
I used this feature when I needed to have finer control over a dimmer.
Please implement in the new version.

[2019-08-27 16:56] weakfl commented on #327
Perfect!
@timbms I think we can finally close this issue ;)

[2019-08-27 16:56] Mr-iX opened #385 "App does not load (2.1.13 47)"
Since the update to this version I get the error unacceptable: 401

[2019-08-27 16:59] ixp-nl opened #386 "Realtime sliders"
When changing a slider the command is only sent to the server at the end of the change, it would be cool if it gets updated while sliding, like the RGB control works.

[2019-08-27 17:20] DigiH commented on #385
Me having OH 1.8.3 running, I'm getting a JSON error with 2.1.13 (47), not loading anything either.

![error](https://user-images.githubusercontent.com/17110652/63793300-b75c3580-c8ff-11e9-9af2-4fbd290d1ac9.png)

[2019-08-27 18:16] timbms commented on #385
Can you please intercept the server response and paste it in the thread?

[2019-08-27 18:31] leffenke commented on #327
@weakfl Yeeah, it is working. Thank you so much! :-D

[2019-08-27 18:40] SAQ1973 commented on #384
I second this. It would be useful.

﻿
In the previous version of the app, the sliders became wider in landscape mode.
I used this feature when I needed to have finer control over a dimmer.
Please implement in the new version.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-27 19:04] Mr-iX commented on #385
I think the issue is that the app doesn't authenticate any more and the server sends 401 Unauthorized.

Nginx log:
[code]

[2019-08-27 19:13] SAQ1973 commented on #385
Are you connecting via HTTPS or HTTP? For me,
neither is working. I am connecting via HTTP and am getting the
Error
JSON could not be serialized because of error:
The data couldnt be read because it isnt in the correct format.

Stefano

﻿
I think the issue is that the app doesn't authenticate any more and the server sends 401 Unauthorized.

Nginx log:

[27/Aug/2019:21:01:16 +0200] "GET / HTTP/1.1"

[2019-08-27 19:19] Mr-iX commented on #385
I’m connecting via HTTPS

[2019-08-27 19:46] SAQ1973 commented on #385
Correct me if I’m wrong, but if I connect via HTTP and get the error message mentioned above, it can’t be an authentication error?!

Stefano

﻿
I’m connecting via HTTPS

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-27 19:47] timbms commented on #385
Sorry I was not clear
I don't need the server logs. I need the XML or the JSON
As explained in
https://github.com/openhab/openhab-ios/issues/348#issuecomment-521544487

[2019-08-27 20:34] timbms commented on #385
Are you using http with username and password authentication?
Could be that we lost this feature on the migration to Alamofire.

[2019-08-27 20:40] SAQ1973 commented on #385
I am using HTTP without user+pwd when I connect locally. This does not work with 2.1.13 any more, but it was working with 2.1.10.

Stefano

﻿
Are you using http with username and password authentication?
Could be that we lost this feature on the migration to Alamofire.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-28 04:24] Mr-iX commented on #385
@timbms I couldn’t intercept the json, because the iOS App didn’t receive anyone, cause of the unauthenticated messages.
You can try to access my.openhab, doesn't work either.

When you say which url I should get, I can request it directly from the rest api, but I don’t think that’s the issue.

[2019-08-28 05:33] timbms commented on #385
Fix by @ufodone is merged. New build is on its way.

[2019-08-28 09:12] weakfl commented on #300
Fixed in `develop`...

[2019-08-28 09:12] #300 closed

[2019-08-28 09:14] weakfl commented on #115
@timbms I think this should be fixed now...

[2019-08-28 18:30] #115 closed

[2019-08-28 18:34] #327 closed

[2019-08-29 04:20] Mr-iX commented on #385
Now it does work, but what I noticed is that the app is slower than the AFNetworking version (especially icons)

[2019-08-29 04:29] timbms commented on #385
Thanks for testing. We can then close the issue. Getting the functionality in was our priority. Slower handling will need to be investigated next. Could be related to handling of authentication or more likely to cacheing.

[2019-08-29 05:06] SAQ1973 commented on #385
I am still getting the JSON could not be serialized errror with 2.1.14. The sitemap is not loaded at all like in 2.1.13.
Downgrading to 2.1.10 (44) is a workaround.
Server is running 1.8.3.

Stefano

﻿
Thanks for testing. We can then close the issue. Getting the functionality in was our priority. Slower handling will need to be investigated next. Could be related to handling of authentication or m

[2019-08-29 05:14] timbms commented on #385
@SAQ1973 please post your server logs to see whether you still have 401 errors.
If those are gone , we could have a parsing error on XML from 1.8.3. (The message by Alamofire is confusing. Could probably be handled by switching from responseJson to responsedata) then post the xml here

[2019-08-29 14:35] ufodone commented on #385
@SAQ1973 Could you also provide some more details about what your settings look like?  Do you have both local and remote URLs populated?  Are you using myopenhab.org as one or both of the settings?  Does it fail to connect both when on your local network and when remote or does it only fail in one of those situations?

There is one situation where I can think it wouldn't currently work which is wh

[2019-08-29 17:44] Mr-iX commented on #385
@ufodone The sitemap itself load pretty fast, but the icons take a few moments. I don't see the loading of the icons in my access log.
Also when I scroll pretty fast up in my sitemap you can see that some icons get attached to the wrong items and then they change back to the correct icon.

[2019-08-29 19:03] timbms commented on #385
@Mr-iX: Could it be that your sitemap shows multiple times the same icon? If so, the slow loading could be explained by the fact that we miss a cacheing of duplicate icons.
Attaching to wrong items is weird. I haven't seen this.

[2019-08-29 21:02] ufodone commented on #385
The fact that there aren't any icon requests in the access log on the server implies that this isn't a cache miss problem.  It's possible that the URLSession-level cache is slower at loading the images from the cache than it was with the SDWebImage cache.

[2019-08-30 10:21] arjan-io opened #390 "Error in openHAB log file when app is forced-closed"
**Describe the bug**
Wheneven the iOS app is used and forced closed it creates an error on the openhab.log file

**To Reproduce**
Steps to reproduce the behavior:
1. Open app (and use it)
2. Double tap on home button to show active apps
3. slide openHab-app up to force close
4. Re-open creates the error I think (or it might be closing, unable to detect which one)

**Expected behavior**
No error, f

[2019-08-30 10:25] arjan-io opened #391 "Rollershutter buttons in different place"
**Is your feature request related to a problem? Please describe.**
Rollershutter buttons in the app are in a different order than the ones on the sitemap.

**Describe the solution you'd like**
Both the same (UP, STOP, DOWN), app now shows (DOWN, STOP, UP)

**Additional context**
Although working fine, it is just neat to have them the same in all places and makes it easier to use in the end as well

[2019-08-30 10:41] weakfl commented on #390
@arjan-io Please try the latest beta on TestFlight, I can't reproduce the issue with `2.1.4 (48)`.

Long polling request seems to be canceled on force quit:
`Task <90601D6C-92CA-4041-91F1-2B03FF15E948>.<19> load failed with error Error Domain=NSURLErrorDomain Code=-999 "cancelled" [...]`

[2019-08-30 12:41] arjan-io commented on #390
Downloaded TestFlight and installed 2.1.14 (48).
After opening and going through some of my sitemap, then double tap home to force-close the app I got:
[code]
In the meantime no rules did execute nor did I actively change an item via the app. Sitemap was open on my mac though but not actively used and displayed.

Like I said, it is not that stuff doesn't work but is really annoying especially when

[2019-08-30 13:35] weakfl commented on #390
Thanks @arjan-io

@timbms can you reproduce this on OH 2.4?

[2019-08-30 17:16] arjan-io commented on #390
![7DC3892D-7F5D-47E3-9F0D-AD1F1A5259D7](https://user-images.githubusercontent.com/31731087/64039299-9c393200-cb5a-11e9-8ad9-3ffee8e8be9f.png)
My settings, maybe this helps?

[2019-08-30 18:57] timbms commented on #390
Will have a look. Work kept me busy till now

[2019-08-30 19:11] timbms commented on #390
I can confirm the pollution of the logs reported by @arjan-io

When using app 2.1.14(48) with server Version: 2.4.0-1 I see the following messages on reopening the app:

[code]

[2019-08-30 20:09] #391 closed

[2019-08-30 20:09] #384 closed

[2019-08-30 20:42] SAQ1973 commented on #385
I have populated both addresses. I have set the local address http://... of the app to a server within my home network. It points to HTTP port of the openHAB server 1.83, and the remote address is an https://... internet address, that is forwarded to the HTTPS port of openHAB. I am not using myopenhab.org at all.

In my openhab.cfg, I have cofigured security:option=EXTERNAL, so the users defined i

[2019-08-30 20:48] SAQ1973 commented on #390
I don’t get this error message when I kick my app.
Test flight 2.1.10 and server 1.8.3.
@arjan-io : Can you please remove the typo in the issue title?
Stefano

[2019-08-30 20:52] SAQ1973 commented on #372
Thumbs up for your suggestion.
But everyone using white backgrounds on icons will have to make them transparent...

[2019-08-31 03:29] ufodone commented on #385
Thanks for all the info. I don't think this is related to the auth changes.

@timbms Looking at the code, I think the problem may be that in the conversion to Alamofire, responseJSON() was used to process the response.  Instead what I think needs to happen is responseData() be used.  This will prevent the automatic attempt to convert to JSON and allow the version check code in the response handler

[2019-08-31 06:15] timbms commented on #385
responseJSON doesn't do a conversion to JSON by default.
Still I think that the reported error message is confusing. Therefore it is changed in #395

[2019-08-31 07:18] timbms commented on #385
@SAQ1973  It would be great if you could give me access to your server. I could then debug it directly.

[2019-08-31 07:30] SAQ1973 commented on #385
Hi Tim,

We can do that. I would like to be present for this. I have some time today Saturday from 13:00 UTC until 23:00 UTC or tomorrow Sunday from 09:00 UTC until 15:00 UTC. Please send me a PM to arrange this.

Stefano

﻿
I have populated both addresses. I have set the local address http://... of the app to a server within my home network. It points to HTTP port of the openHAB server 1.83, and

[2019-08-31 08:36] weakfl commented on #390
refs openhab/openhab-distro#587

[2019-08-31 09:14] timbms commented on #385
Ok Saturday 15:00 UTC is ok for me

[2019-08-31 11:25] SAQ1973 commented on #385
Can you PM me to arrange this. I am not into GitHub and dont know how to personally contact you.

﻿
Ok Saturday 15:00 UTC is ok for me

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-31 13:27] timbms commented on #385
My twitter handle is @TimSeydlitz

[2019-08-31 15:54] Mr-iX commented on #385
I have done a quick video to demonstrate the wrong icon attach
[icons.mov.zip](https://github.com/openhab/openhab-ios/files/3562596/icons.mov.zip)

Sitemap:
[code]

[2019-08-31 16:11] timbms commented on #385
R

[2019-08-31 17:36] timbms commented on #385
@Mr-iX: Thanks for your thorough testing. I wonder whether this is related to GCD. I will try whether setting the icons on the main queue helps here.

[2019-08-31 18:31] timbms commented on #385
Alamofire response handling seems to Dispatch by default to the main Queue because the typical response handling is updating the UI. Therefore I would not expect that my proposal works (;-((

[2019-08-31 19:11] ufodone commented on #385
I'm unable to reproduce this with that example sitemap.  I can confirm though that scrolling up and down is making requests through Alamofire to requests icons but that all the requests are handled by the URLSession cache so this isn't likely a networking slowness problem.

@Mr-iX Thanks for the video.  It's a little hard to follow but what I think I see is that when you load up the site map and t

[2019-08-31 20:05] Mr-iX commented on #385
I just noticed that when I open the old version of the app, the sitemap and all icons appear instant at the same time.
With the new version the sitemap takes a bit to load and then a few icons also need some more time. Nothing bad, but noticeable for me. I just wanted to share it with you.

Sorry I should have described what I have done. When I open the app and scroll down all icons are correct. B

[2019-08-31 21:20] suntribe commented on #385
i confirm that i face the same weird icon behaviour...

[2019-08-31 21:25] timbms commented on #385
I can confirm I see the same behaviour.
2.1.9 and 2.1.10 didn't show the described behaviour
2.1.13 Does not load anyway
2.1.14/2.1.15 shows the described behaviour

[2019-08-31 22:18] DigiH commented on #385
Apologies for the absence, but with everything going on recently, I thought I give openHAB2 another try.

Worth the effort for many of the openHAB2 niceties, but also still painful with several of the remaining openHAB2 shortcomings and bugs.

Currently I have openHAB2 running, but still have my openHAB1.8.3 machine in standby mode, as a safety fallback, and also available for testing.

With openH

[2019-09-01 04:55] timbms commented on #385
@DigiH we are on journey to improve the app. Though we made good progress with authentication by converging onto Alamofire (the case reported by @SAQ1973 is still open),  we have new issues surfacing like the flickering.
Apparently this is a common issue related to the reuse of cellls in UITableView : https://stackoverflow.com/questions/35958826/swift-images-change-to-wrong-images-while-scrolling-

[2019-09-02 18:41] SAQ1973 opened #396 "Empty sitemap on iOS app 2.1.15 (49) and 2.1.17 (50)"
**Describe the bug**
The problem from 2.1.0 is back on Testflight version 2.1.15 (49): "`Error: OpenHAB returned empty sitemap list`"

**To Reproduce**
Steps to reproduce the behavior:
1. Install Testflight version 2.1.15 (49) on iOS
2. Open OpenHAB app

**Expected behavior**
Load and display the sitemap as before 2.1.0 versions and like on 2.1.10.

**Server**
 - Version 1.8.3
 - LINUX
 - qnap NAS

[2019-09-02 18:42] SAQ1973 commented on #396
**Workaround**
Downgrade app to 2.1.10 (44)

[2019-09-03 21:44] ufodone commented on #385
Regarding the slowness, with the switch to Alamofire, a connection pool is used to load content from the openHAB server.  By default this pool is set at 4 connections.  I believe that the AFNetworking version used a connection per request so was able to parallelize the requests more and may have resulted in faster loading in some situations.

Round-trip latency to the server could play a big part

[2019-09-03 22:23] timbms commented on #385
@ufodone: i am experimenting with Kingfisher and AlamofireImage to tackle the async downloads. Kingfisher is superfast and snappy. AlamofireImage is incomplete with respect to SVG. Will probably have to branch it to integrate svgkit. Have a look at my two last branches

[2019-09-04 00:32] ufodone commented on #385
@timbms Are you able to reproduce the slowness?  I'd imagine that the issue is either network latency or image processing happening on the main thread.  But given that people are seeing the slowness on pretty capable phones, I'd guess it's network related.  If that's the case, since URLSession already does async downloads across a pool of threads (and it doesn't appear to be a caching issue), I'd

[2019-09-04 01:00] ufodone commented on #385
... also wanted to acknowledge that there's a separate issue going on here with the images and I am not suggesting that speeding up the loading is the fix for that.

[2019-09-04 04:26] Mr-iX commented on #385
The latest version with Kingfisher improved a lot. I cannot see the strange icon attach behavior anymore and Kingfisher seems to have a better caching mechanism. When I close the app and open it again, all images (even in submenus) appear instantly.

[2019-09-04 06:07] alexg2016 commented on #396
Same issue here, even with app version 2.1.17.

Seems to be the same like https://github.com/openhab/openhab-ios/issues/348

[2019-09-05 18:40] timbms commented on #340
Fixed with #398

[2019-09-05 18:40] #340 closed

[2019-09-05 20:05] timbms commented on #396
@alexg2016, @SAQ1973: Please contact me when it would be convenient to access your sites for a debugging session

[2019-09-05 20:15] timbms commented on #354
@DigiH: is this issue solved with 2.1.17(50)?

[2019-09-05 20:44] SAQ1973 commented on #354
I still have it on 2.1.17.

Stefano

﻿
@DigiH: is this issue solved with 2.1.17(50)?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-05 21:38] timbms commented on #354
I can't reproduce the issue on 2.1.17 (and server 2.4): For me refresh is working properly. When server is changed, app picks up the change immediately:
• Slider Icons, Setpoints, Mapped Switch Buttons - don't get 'stuck'
• Items with Sitemap Visibility are shown or hidden immediately.

This doesn't mean that your observations are not existent. We could have issues with the XML parsing , memory le

[2019-09-05 22:05] timbms commented on #385
Yes I can reproduce the slowness issues. As of now I have included kingfisher as a framework that handles cacheing, allows for svg conversion and allows to solve the reusability issue in tableviews. But XML related issues are't fixed yet. Happy to investigate further if somebody can give me access to the server remotely.

[2019-09-06 09:51] DigiH commented on #354
@timbms Having changed over to server 2.4 as well now, I'm still seeing these issues with 2.1.17, albeit slightly differently now:
• Slider Icons - the icons update now when changing the slider value, but sometimes with a very noticeable lag of several seconds.
• Setpoints similarly only get updated after a wait time of up to several seconds
• Mapped Switch Buttons still often get stuck for me, or

[2019-09-06 15:57] DigiH commented on #354
@timbms I have also experienced these UI update issues with some of my other very common UI cases, where one selection item controls the selections of other selection items, i.e. One mapped scene selection item controlling several mapped light selection items.

To demonstrate this, I have created a very simple test setup, which I attach to this post.

Especially during the first change of the Scen

[2019-09-07 06:25] timbms commented on #385
@ufudone: I was able to debug the XML/version 1.8 related issues with a remote access.
I was able to overcome the major issues: The version 1.8 were not properly recognized in all cases.
I had to reintroduce credentials at the level of the URLRequest. This is a work-around. Happy to take comments on improving this.

[2019-09-07 06:29] timbms commented on #396
@SAQ1973, @alexg2016 What is the authentication scheme you are using?
Access with https and username/password?

[2019-09-07 09:16] SAQ1973 commented on #396
Hi Tim,

App settings:
Local with http://
Remote with https://

openhab.cfg:
security:option=EXTERNAL
security:netmask=192.168.178.0/24

Two users configured in users.cfg.

Stefano

﻿
@SAQ1973, @alexg2016 What is the authentication scheme you are using?
Access with https and username/password?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or

[2019-09-07 14:33] alexg2016 commented on #396
Internal and external access is set to http both.

There are no users configured.

Security option is set to off.

[2019-09-07 16:48] timbms commented on #396
Do you have the the issues reported also if you connect on local network without username/password?

[2019-09-08 09:23] timbms commented on #396
With the help of Jos and an accessible server I hope that I got the issue fixed in commit to #399.
URLSession treats Authorization as a Reserved Header that may not be passed reliably.

[2019-09-08 09:56] SAQ1973 commented on #396
Thanks, Tim. Well test a.s.a. it appears in TestFlight.

Stefano

﻿
With the help of Jos and an accessible server I hope that I got the issue fixed in commit to #399.
URLSession treats Authorization as a Reserved Header that may not be passed reliably.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-08 13:18] timbms opened #400 "Upgrade to modern package manager"
**Describe the solution you'd like**
Take advantage of Swift Package Manager to replace cocoa pods

**Describe alternatives you've considered**
Carthage could also be looked into
**Additional context**
To be done when Xcode 13 is out

[2019-09-08 15:30] ufodone commented on #385
@timbms I managed to get an openHAB 1.8.3 setup and reproduced the issue.  I've submitted a PR which fixes the problem for me.  The issue was caused by a missing validate() call on the http requests which meant that Alamofire was treating http errors (404 in this case) as success so the version detection wasn't happening properly.

[2019-09-08 15:34] timbms commented on #385
@ufodone i have made the exactly same finding.  See my latest PR

[2019-09-08 15:51] ufodone commented on #385
You shouldn't need those authenticate() calls in there then.

[2019-09-08 19:49] timbms commented on #385
I needed the authenticate() calls for the site I was testing against. Happy to take your input

[2019-09-08 20:35] ufodone commented on #385
Is there a way I could test against that server to see what's going on?  Or at least get a network capture (if it's http and not https)?

[2019-09-08 20:47] timbms commented on #385
@ufodone: will send you access privately

[2019-09-09 06:12] SAQ1973 opened #402 "Wrong display of frames in sitemap (2.1.28)"
**Describe the bug**
Frames are listed at their normal places and also a second time on top of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Install iOS app 2.1.20 (52) to 2.1.28 (60)
2. start it

**Screenshots**
![1EA04BC8-6283-4B26-870A-94234A34466B](https://user-images.githubusercontent.com/24944195/64506878-2b2c1400-d2ea-11e9-8ef1-3f217c68a3b2.jpeg)

**Server (please complete

[2019-09-09 06:41] timbms commented on #402
Let’s first take the positive side in your issues:?As of the latest beta releases you see your sitemap again. (:-)
You are observing a regression on the parsing of the sitemap. Can you please intercept it and post it here

[2019-09-09 06:42] timbms commented on #396
Seems to be resolved

[2019-09-09 06:42] #396 closed

[2019-09-09 06:44] timbms commented on #385
To be closed . See #402

[2019-09-09 06:44] #385 closed

[2019-09-09 06:47] SAQ1973 commented on #402
Yes, I had the same feeling. Felt bad to complain when it actually worked. :-)

I am on vacation. No access to logs and stuff...

﻿
Let’s first take the positive side in your issues:?As of the latest beta releases you see your sitemap again. (:-)
You are observing a regression on the parsing of the sitemap. Can you please intercept it and post it here

—
You are receiving this because you authored

[2019-09-09 22:17] timbms commented on #354
@DigiH: We have been working on getting the issues #385, #396, and #402 out of the way.
it was essential to understand those issues by debugging against a real server.
In order to address your issues we should to the same. I will contact you privately.

[2019-09-11 12:16] timbms commented on #402
@SAQ1973 can you please test with latest beta

[2019-09-11 16:02] SAQ1973 commented on #402
Yeah, works, thanks. Sorry - vacation.

Stefano

﻿
@SAQ1973 can you please test with latest beta

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-11 16:16] timbms commented on #402
Happy to close it

[2019-09-11 16:16] #402 closed

[2019-09-12 07:15] hmerk opened #405 "[Feature request] Carplay support"
As I already read, development of Apple Watch integration is on the way, I would love to see Carplay integration as well.
Don't know if this would be possible, just an idea.

Best
Hans-Jörg

[2019-09-14 16:43] DigiH commented on #354
@timbms - Thanks for the feedback about the sitemap. I never had any issues with it not loading fast, albeit it being a bit on the larger side. So your confirmation is great, that it's very likely is not a problem with the sitemap.

[2019-09-14 17:25] DigiH commented on #354
@timbms - I was finally able to test the issues with a friend's Android device. On the Android app the changes are reflected in the UI instantly, so the UI update issue doesn't exist there during my testing. But strangely enough, when watching the iOS app UI at the same time while initiating UI changes on Android, they now also updated instantly, along with the Android app. I'm not sure if this is

[2019-09-15 20:04] timbms commented on #354
I was looking at the way the android app sends commands.

[code]
Seems to be standard. Only number items are treated specially

[2019-09-15 20:40] DigiH commented on #354
@timbms - Since Number items, as either Selection Items or Mapped Switch Items in my sitemap, are the major UI Update issues I am still experiencing, this might be an indication. Is there also a difference in the Android app in regards to updating the UI when such Number items, as either Selection Items or Mapped Switch Items, in sitemaps have had a value change?

[2019-09-17 21:08] cbugeja commented on #186
I am still having issues with webview elements not showing on iOS app.
I tested this with different webview instances on the same sitemap and with multiple iPhone devices.

[2019-09-17 21:36] timbms commented on #186
@cbugeja : Please raise new bug issue and fill in the relevant information. Thank you

[2019-09-18 06:38] SAQ1973 commented on #354
Hi Tim,

I checked again, and I still have update issues with ‚selection‘ type items in the sitemap.
I select from the selection page, but the previous page displaying the value is not updated.
When I update this page manually (finger gesture down), it is updated.

Stefano

﻿
@SAQ1973: Do you still have this delayed behavior on your site with latest beta?

—
You are receiving this because you were

[2019-09-18 06:39] SAQ1973 commented on #354
Sorry I forgot: iOS 13.1, App 2.1.31 (63), Server 1.8.3

﻿
@SAQ1973: Do you still have this delayed behavior on your site with latest beta?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-09-18 09:00] mimo74 commented on #372
I'd love to have a look at this.

[2019-09-18 12:27] mimo74 commented on #372
the changes in the storyboards would require moving to Xcode 11 tho

![Simulator Screen Shot - iPhone 11 Pro Max - 2019-09-18 at 14 25 43](https://user-images.githubusercontent.com/15855385/65148337-43094380-da20-11e9-8935-b44767c006a9.png)

[2019-09-19 15:15] oeiber opened #407 "Push notifications and direct connection to oh2"
It would be great if push notifications can also be used when connecting to oh2 directly. Maybe you can add additional username and password fields for those who want only use the notification service from the oh cloud service?

[2019-09-19 15:32] weakfl commented on #407
What's the difference of adding the remote URL as well?

[2019-09-19 15:51] oeiber commented on #407
I‘ll give it a try ;-)

[2019-09-19 16:10] weakfl commented on #407
Hint, it's `https://myopenhab.org/` ;)

Theoretically you could probably add it, log in and then remove it and it would work too. But your APNS device token might change and it won't get updated if your credentials aren't set.

[2019-09-19 17:55] crazyfx1 commented on #372
Ship it ;)

[2019-09-20 09:41] SAQ1973 opened #409 "Setpoint/Number item: Displays ] bracket of the [%d]"
**Describe the bug**
I have a Setpoint/Number item that is defined as follows:

Items:
`Number weckerZeitMaxVerzoegerung "Aktivierung innerhalb [%d] min"`

Sitemap:
`Setpoint item=weckerZeitMaxVerzoegerung icon="clock" step=5 minValue=0 maxValue=120`

In the web/browser view and in former versions of the iOS app, it is/was displayed correctly. I don't know when, but maybe since 2.1.2x, but for sur

[2019-09-20 16:40] John1322 opened #410 "Vibration on pressing button even it is mappings"
It vibrates ok when you switch from on to off vice versa, but it doesn't when switch (or string etc) is in [mappings](https://www.openhab.org/docs/configuration/sitemaps.html#mappings).

It would be great to vibrate when you press button.

[2019-09-20 20:53] timbms commented on #409
@SAQ1973: Thanks for the feedback. This will be fixed

[2019-09-20 21:37] #409 closed

[2019-09-21 22:35] timbms opened #413 "Crash in Simulator on iOS 13 - in SideMenu"
**Describe the bug**
Selecting sitemap in SideMenu causes the app to crash

**To Reproduce**
Steps to reproduce the behavior:
1. Compile develop branch
2. Run develop branch in Simulator with iOS13
3. Open side Menu, select a sitemap
4. App crashes

**Expected behavior**
No crash (;-)

**Desktop (please complete the following information):**
 - Version : Current develop branch

**Smartphone (pleas

[2019-09-22 20:09] #302 closed

[2019-09-22 20:10] #372 closed

[2019-09-22 20:37] SAQ1973 opened #416 "Settings Option Icon missing in Dark Mode"
**Describe the Bug**
The icon for the Settings option (picture of a rotary) is not displayed when the iPhone is in dark mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable dark mode in iOS settings app.
2. Open openHAB app.
3. Open menu (three lines handle)

**Expected behavior**
The little rotary wheel should be shown in white colour on the black background in dark mode like the bl

[2019-09-23 04:49] timbms commented on #416
Thanks for the attention to details.
Fix is ready and pushed in new build

[2019-09-23 04:49] #416 closed

[2019-09-23 04:51] timbms commented on #410
@John1322: Could you please be more specific. My iPhone doesn't vibrate when pressing a switch. So the gap is not clear to me.

[2019-09-23 15:08] weakfl commented on #410
@John1322 is probably talking about haptic feedback, which is a good idea.

I'll submit a PR, for rollershutters as well...

[2019-09-23 16:14] John1322 commented on #410
@weakfl is right

see screenshot:
Item1: haptic feedback is missing
Item2: haptic feedback is ok

![IMG_3917](https://user-images.githubusercontent.com/55596524/65443065-a8e53900-de2d-11e9-8946-4cd737f302c5.PNG)

[2019-09-23 19:10] timbms commented on #410
I am still on an iPhone 6s. Haptic feedback is available via UIFeedbackGenerator as of iPhone 7.
I should upgrade to a more recent model. (;-)

[2019-09-23 19:10] #410 closed

[2019-09-23 19:26] Mr-iX opened #420 "Hide search bar + dark mode adjustments"
Currently the start image has a white background. The image itself is a png with a transparent background, so it should just be a setting in the code.

For the notifications and sitemap icon this picture could be used:
![1007353](https://user-images.githubusercontent.com/25360303/65455986-a80dd080-de48-11e9-9c8d-7f678fe1d029.png)

It's from this GitHub site:
[https://github.com/openhab](url)

Also

[2019-09-23 20:06] timbms opened #421 "Selecting a new sitemap in side menu doesn't stop the feed to previous side menu"
**Describe the bug**
Selecting a new sitemap in side menu doesn't stop the feed to previous side menu

**To Reproduce**
Steps to reproduce the behavior:
1. Select a sitemap with video stream and sound
2. Open side menu and select a different  sitemap
3. Hear error: sound of previous sitemap is still audible

**Expected behavior**
Selecting a sitemap should stop the feed of the previous sitemap

**

[2019-09-23 20:07] timbms commented on #421
@weakfl : Can you have a look?

[2019-09-23 20:13] weakfl commented on #421
Yes, I noticed that too today and already added it to my todo list. Looks like some kind of regression, I'll look into it.

[2019-09-23 20:15] mimo74 commented on #420
do we have a better reference image? maybe in a vector based format?

[2019-09-23 20:23] Mr-iX commented on #420
Actually I don’t know if openHAB has a image library

[2019-09-23 20:36] weakfl commented on #420
[Here](https://upload.wikimedia.org/wikipedia/commons/1/1e/OpenHAB_logo.svg)'s one, needs some adjustments in Sketch though.

[2019-09-23 21:13] timbms commented on #421
To be fully transparent: to support iOS I had to migrate SideMenu to > 6.0. This broke modalDismissed(to:) in OpenHABViewController. I had to introduce a workaround to capture the new sitemap

[2019-09-24 06:24] weakfl commented on #420
@mimo74 The SVG even contained a version for dark background. I've extracted both versions with Sketch and converted them to vectorized pdf, ready for iOS usage. Lmk if you need anything else (eg. the text):

[oh_logo_only_svg.zip](https://github.com/openhab/openhab-ios/files/3645543/oh_logo_only_svg.zip)

[2019-09-24 07:12] weakfl commented on #421
fixed in #424

[2019-09-24 15:59] mimo74 commented on #420
oh.. I did not see that. I'll change that.

[2019-09-24 18:14] #421 closed

[2019-09-24 18:18] timbms commented on #420
searchbar should indeed be hidden when the window is opened.
Let's keep this open until we solve @Mr-iX Can you change the title of your issue

[2019-09-24 18:19] timbms commented on #413
Fixed with migration to SideMenu 6.x

[2019-09-24 18:19] #413 closed

[2019-09-25 12:10] weakfl commented on #407
@oeiber can this issue be closed?

[2019-09-25 20:51] timbms commented on #400
addressed with #418

[2019-09-25 21:24] soleetions opened #429 "Double push message on notification"
**Describe the bug**
When My openHab sends a notification via sendBroadcastNotification() my phone displays a double push message.
In the notifcation tab in the app only 1 message is displayed

**Expected behavior**
Single push message

**App version**
 - Version 2.1.33(65) (testflight beta)

**Smartphone:**
 - Device: iPhone X

[2019-09-25 22:16] dome2048 commented on #429
This probably isn’t related to the iOS app. Go into your myopenhab devices tab at https://myopenhab.org/devices. You probably have multiple entries for the same device. Remove the duplicates and that should fix the issue.

[2019-09-26 07:03] soleetions commented on #429
It was exactly what dome2048 said.
Apparently the app registers a new device when using testflight.

No issue for the app, so issue can be closed

[2019-09-26 07:03] #429 closed

[2019-09-27 13:13] AJErazzor opened #430 "Quick press button crashes app"
i Have an up/down button item on sitemap and when pressed rapidly the app crashes every time

iOS 13.1 iPhone 8

[2019-09-27 13:18] weakfl commented on #430
@AJErazzor can you please post the relevant part of your sitemap and the item configuration?

Also, which OH version are you using?

[2019-09-27 13:21] weakfl commented on #430
@timbms Crashlytics access wouldn't hurt to analyze this kind of issues. Alternatively, do you have a stack trace?

[2019-09-27 16:09] SAQ1973 commented on #430
@AJErazzor : I have the same configuration here, but I couldn't reproduce the error.
What openHAB server version are you using and what iOS app version?

[2019-09-27 21:05] timbms opened #431 "Replace Reachability.swift by Alamofire"

[2019-09-29 00:03] AJErazzor commented on #430
iOS 13.1 and OH2.5 M3

Thanks
Andrew

[2019-09-29 05:18] timbms commented on #430
@AJErazzor can you confirm that you are using the app from the standard app store not from TestFlight which makes available beta versions?    Please go in the app to Settings-info and let us know the app version number displayed there.
Also please upload a screenshot from the app and mark the area that causes an app crash by pressing it

[2019-09-29 13:14] AJErazzor commented on #430
Hi it is the test flight version

Thanks
Andrew

[2019-09-29 14:34] timbms commented on #430
@AJErazzor : Which version do you have from Test Flight? Please provide a screenshot and mark which button is the culprit.

[2019-09-29 14:52] #400 closed

[2019-09-29 16:46] Mr-iX commented on #420
@timbms Is the searchbar now hidden in the new version?

[2019-09-30 13:21] timbms opened #434 "Preparation for next release"
A lot of time has passed and a lot of progress was made since the release 2.1.4.
I think we are ready to go for the next release. I would like to have your view. Do we have road blockers? Annoyances? Are we confident that we have sufficient coverage?

[2019-09-30 13:41] weakfl commented on #434
I'd like to look into #430, but I haven't received an invitation for Fabric access from @digitaldan yet.

But it's not a real blocker imho, more like _nice to have_ ;)

[2019-09-30 13:48] weakfl commented on #420
No, it's still there in the latest commit on `develop`.

@timbms what's interesting is, that the searchbar should actually be hidden, but isn't. The only way that I found to have the searchbar hidden initially, is settings the `navigationItem.searchController` in `viewDidAppear(_ :)`. But that feels like an ugly hack :/

Interestingly enough the searchbar is hidden if you push an `OpenHABViewContr

[2019-09-30 14:06] timbms commented on #420
@weakfl your observation is the first hint where the problem could be. I have seen an inconclusive behavior; working sometime/ not working at other times

[2019-09-30 14:09] SAQ1973 commented on #354
FYI: I could not reproduce the errors I had before with 2.1.43 (73), even the `Selection` type issue. From my point of view, this issue can be closed.
Others?

[2019-09-30 14:13] SAQ1973 commented on #99
@ibantxo and @Dan1001: Is this still the case? My iOS app (Testflight version 2.1.43) simply does a refresh and the sitemap starts from the home page. No need to close app.

Stefano

[2019-09-30 14:17] SAQ1973 commented on #430
@AJErazzor: Can you please post the relevant part of your sitemap and the item configuration?
Please don't let others ask you the right questions. Provide as much as possible information about your issue. The issue template shows you how...

@weakfl: I guess it's not a showstopper for the next release then.

[2019-09-30 14:27] timbms commented on #434
#430 is actually one of those corner cases. Seems to be a very seldom case. But without further details we will not be able to follow up

[2019-09-30 14:40] Mr-iX commented on #420
@timbms could you reopen the issue?

[2019-09-30 14:58] weakfl commented on #430
@SAQ1973 that's for @timbms to decide, but I don't think so.

[2019-09-30 15:13] weakfl commented on #420
@timbms lmk if you want to go with the workaround and I'll submit a PR...

[2019-09-30 15:46] timbms commented on #420
@weakfl a workaround would be wonderful to overcome the most pressing issues

[2019-09-30 15:48] weakfl commented on #420
@timbms ok, I'll open a PR later tonight and we can see if we can find the real issue later.

[2019-09-30 16:25] Mr-iX commented on #99
You are right, same for me. Would be cool when the app remembers the old path and doesn't start from the home page again

[2019-09-30 17:36] weakfl commented on #366
Implemented as iOS 13 context menu, ok with you @timbms? If so, I'll open a PR later...

Also, lmk if you have a better idea for the wording 😂

![copy_label](https://user-images.githubusercontent.com/614985/65901930-7bface00-e3b9-11e9-921b-e025fa5afb67.png)

[2019-09-30 18:16] timbms commented on #366
@weakfl this is great

[2019-09-30 22:00] SAQ1973 commented on #99
Yeah, but that‘s a different issue from the originally reported problem.

﻿
@ibantxo and @Dan1001: Is this still the case? My iOS app (Testflight version 2.1.43) simply does a refresh and the sitemap starts from the home page. No need to close app.

Stefano

You are right, same for me. Would be cool when the app remembers the old path and doesn't start from the home page again

—
You are receiving

[2019-10-01 05:31] ibantxo commented on #99
Hi!! Now is working very well!!!
Congratulations!!!

Mr-iX <notifications@github.com> erabiltzaileak hau idatzi du (2019 ira.
30, al. (18:25)):

[2019-10-01 10:57] DigiH commented on #354
Unfortunately I'm still seeing these issues, although not as badly as previously. Now with me being on OH 2.4/2.5M3 the UI updates still often show up with a very long delay or only after a manual reload.

Watching the Basic UI in a browser at the same time while controlling things in the iOS app, the UI updates instantly in the browser, but gets delayed/requiring a manual refresh in iOS.

Is ther

[2019-10-01 11:41] SAQ1973 commented on #354
@DigiH: What version of the iOS app are you using. Are you on TestFlight versions or 2.1.4?

﻿
Unfortunately I'm still seeing these issues, although not as badly as previously. Now with me being on OH 2.4/2.5M3 the UI updates still often show up with a very long delay or only after a manual reload.

Watching the Basic UI in a browser at the same time while controlling things in the iOS app, the UI

[2019-10-01 12:53] DigiH commented on #354
@SAQ1973 - Yes, latest TestFlight version 2.1.4(73), iOS 13, OH 2.4 and 2.5M3. Are you still on OH 1.8.3? Maybe I should reactivate my old OH 1.8.3 then, to see if there is any difference.

[2019-10-01 13:02] SAQ1973 commented on #354
Yes, I had several approaches migrating to OH 2, but always had issues with my items. I don‘t like the configuration interface. Therefore, my production system is still on OH 1.8.3 on a Qnap NAS.
Once the new Raspberry Pi has solved the USB compability  issue, I will buy one and try OH 2 again.
I am on the newest TestFlight version and I do not have the issues I had before.

Stefano

﻿
@SAQ1973 -

[2019-10-01 13:13] DigiH commented on #354
I know how you feel ;) I also had to wait until the Raspberry Pi 4 came out with more RAM to be able to switch to OH2, but since I tried with every iteration since the initial 2.0 release most of my items files were already converted during my tests and ready for deployment. Still struggling and getting to grips with some of the OH2 oddities though.

I'll restart my OH 1.8.3 system when I get some

[2019-10-01 13:21] SAQ1973 commented on #354
The biggest issue with my items was the chaos in the configuration interface after the „import“ of the .item files and the combination of legacy bindings and the thing „thing“. I have understood the thing concept and understand that it is better than the old concept, but adding new items via the GUI when you already have imported 1000 is horrible.

The other issue was the Undefined/Uninitialized v

[2019-10-01 13:48] DigiH commented on #354
I don't touch the Paper UI GUI at all and still define averything, Things, Items, Bindings and all the other system config settings via text files. Also new Things and Items I only create with text files.

I do understand you however "Don't touch a running system" ;)

Were it not for some new sensors I recently implemented, which depend on an OH2 binding, I'd be very tempted to stick with my OH 1.

[2019-10-01 14:35] weakfl commented on #400
@timbms do you know why there's a warning that Swift 5 conversion is available for the SPM dependencies? Sure enough they are already Swift 5?

[2019-10-01 16:11] timbms commented on #400
I would consider it a bug of xcode.

[2019-10-01 16:14] weakfl commented on #400
Ok, thanks. SPM is quite new for me so I was a bit surprised.

[2019-10-01 19:50] #366 closed

[2019-10-01 19:54] timbms commented on #99
@ibantxo Thanks for confirming
@SAQ1973 Thanks for helping in cleaning up the old issues

[2019-10-01 19:54] #99 closed

[2019-10-03 21:31] timbms opened #443 "Settings: Long user input is misrepresented"
**Describe the bug**
Labels are unreadable when user inputs are longer then the available screen width

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Enter long username/password
3. See error

**Expected behavior**
Cut down to max length

**Screenshots**
![screenshot_01](https://user-images.githubusercontent.com/5411131/66165835-ecae1e80-e635-11e9-8643-76c90771b3a2.jpg)

[2019-10-03 21:34] timbms opened #444 "Dark mode: also make charts available in dark mode"
**Is your feature request related to a problem? Please describe.**
In dark mode charts still have a bright appearance.

**Describe the solution you'd like**
charts should be represented in dark mode

**Additional context**
![screenshot_01](https://user-images.githubusercontent.com/5411131/66165994-54fd0000-e636-11e9-93a1-f4ff9c30868d.jpg)

[2019-10-04 07:50] Mr-iX commented on #420
Still not solved in 2.2.1 (83)

[2019-10-04 07:57] weakfl commented on #420
I'm afraid @Mr-iX is right, occasionally the SearchBar is not hidden on app start (like 1 of 50 times for me, but still). Needs further investigation, we'll have to find the root cause I guess :/

[2019-10-04 08:52] SAQ1973 commented on #420
Same here.
TestFlight 2.2.1 (83) on iOS 13.2 pb with openHAB 1.8.3.

﻿
Still not solved in 2.2.1 (83)

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-10-04 09:25] weakfl commented on #320
fixed in #445

Behaviour is now the same as in PaperUI.

[2019-10-04 09:31] ds82 commented on #407
I'm having the same problem. I connect to my openhab via my own server (via vpn). My remote URL is my own Server .. but I want to use myopenhab push notifications. Since myopenhab has a specific option to use push notifications without sharing UI/sitemap access, it would be cool to allow this in the iOS app, too.

@timbms @weakfl Could you re-open this issue pls?

[2019-10-04 09:34] weakfl commented on #407
@ds82 Just change your configuration. Recent versions of the app are able to detect if you're connected via VPN and will use your local URL if you are. So you can safely use the remote URL for myopenhab.

[2019-10-04 09:54] ds82 commented on #407
Ok, I should explain my setup a bit more. My phone is *not* connected via VPN. I have a Server in a datacenter that is connected via VPN to my homeserver (which runs openHAB). The Server in the datacenter proxies requests to a public URL (secured via https and client certificates) via the VPN to my local openhab.

Before using the iOS openhab app I used the basic UI added to my iPhone's Homescreen

[2019-10-04 10:09] weakfl commented on #407
@ds82 Thanks for explaining your use case. Your setup sounds quite convenient; you don't have to initiate a VPN connection on your phone and still have secure remote access if understand it correctly.

@timbms do you wan't to re-open this as feature request?

[2019-10-04 10:11] ds82 commented on #407
exactly :)

[2019-10-04 12:40] #430 closed

[2019-10-04 12:41] #320 closed

[2019-10-04 13:28] #443 closed

[2019-10-04 16:44] SAQ1973 opened #447 "No space between Value and >"
With the new iOS app versions, we lost the space between the value and the `>` for new pages like in the web version.
Compare the screenshots below:

![7CA9DB0B-8AAD-4840-A29D-2F00B3664471](https://user-images.githubusercontent.com/24944195/66224650-b8d70580-e6d6-11e9-9928-d8a3448227d3.jpeg)

![8F588D01-8DD1-4870-88F6-46DEA6FB4AD9](https://user-images.githubusercontent.com/24944195/66224742-f50a66

[2019-10-04 17:12] timbms commented on #444
This should be feasible by setting "theme=dark"

[2019-10-04 17:17] #444 closed

[2019-10-04 17:32] timbms commented on #434
#430 is closed. Release 2.2 is in review at App Store

[2019-10-04 18:23] timbms commented on #378
@couriersud : I suppose this issue can be closed?

[2019-10-04 18:23] #378 closed

[2019-10-04 18:24] #311 closed

[2019-10-04 18:25] timbms commented on #383
#266

[2019-10-04 18:25] #383 closed

[2019-10-04 18:41] timbms commented on #205
No activity therefore closed

[2019-10-04 18:41] #205 closed

[2019-10-04 19:15] Mr-iX commented on #420
@timbms Is there a new version were the search bar is hidden? The linked commit is pretty old

[2019-10-04 19:22] timbms commented on #420
This closing was unintentional

[2019-10-04 20:08] couriersud commented on #378
Yes, sure. Thanks a lot for all the efforts you commit to the app!

[2019-10-04 20:18] #434 closed

[2019-10-05 04:59] pallie42 commented on #320
This is great!! Thanks a lot for the efforts on this

[2019-10-05 06:19] Mr-iX opened #451 "App crash when in landscape mode"
When I rotate my iPhone XS to landscape, the sitemap is only shown on one side of the screen, then the devices freezes and the app gets killed. The same when I start the app already in landscape mode, then the app crashes after showing the start logo for around 20 seconds.

iPhone XS with iOS 13.1.2
OpenHAB 2.4
Client 2.2.8 (90), but it existed also in earlier versions.

![43F90B78-C8BA-4674-AD4E-

[2019-10-05 06:34] timbms commented on #451
Strange. Rotation works without a flaw on my iPhone 6 with same setup - iOS version, server version. We will have a look in the crash logs

[2019-10-05 06:54] timbms commented on #451
can you enable share of crash logs:
https://help.apple.com/xcode/mac/current/#/deve2819c518
This would be very helpful

[2019-10-05 07:07] Mr-iX commented on #451
I shared the crash log, please check if you received it.

[2019-10-05 07:19] McLive commented on #451
Same thing also happens for me, one iPhone XS.

[2019-10-05 07:29] timbms commented on #451
I got the log. @weakfl: can you have a look at the crash log

[2019-10-05 08:06] weakfl commented on #451
That's not good, because there's no real crash. The App just hangs and the memory footprint is growing until the system watchdog kills the app :/

Further investigation required ;)

[2019-10-05 08:44] Alex5719 opened #452 "Webview with links not working / in darkmode white space"
I am using the Openhab iOS app 2.2.8 (90). My sitemap contains Webview elements containing links. The Webview elements work in the browser but are shown as empty space in the iOS app. The former versions of the app showed the same behaviour. In darkmode now the empty space is even displayed in white what is quite annoying.

Please add support for Webview elements containing links in the iOS app. I

[2019-10-05 09:50] weakfl commented on #451
Still not sure what's going on here, but it must have been introduced after `2.1.43 (73)`. That's the last version where rotation is not crashing for me.

[2019-10-05 10:41] weakfl commented on #451
Found it, will follow up with a PR later, I have to leave soon...

[2019-10-05 11:11] weakfl commented on #451
@timbms #451 will fix the crash, but I had to comment the following code:

https://github.com/openhab/openhab-ios/blob/88d86d6e64503107b0b285d89170e1196f6093e5/openHAB/OpenHABViewController.swift#L137-L144

The reason the app is crashing, is a layout feedback loop caused by this UIBarButtonItem.

I have added `-UIViewLayoutFeedbackLoopDebuggingThreshold 100` to the launch arguments of the run sche

[2019-10-05 12:20] weakfl commented on #452
@Alex5719 what do you mean by _"Webview elements containing links"_?

Furthermore:
- please post the relevant part of your sitemap
- which OH version are you using?
- provide all other details of your config that might be relevant

[2019-10-05 12:36] Alex5719 commented on #452
My OpenHAB version (snapshot build): 2.5.0~S1710-1

Part of my sitemap:
[code]
links.html:
[code]

[2019-10-05 12:46] timbms commented on #451
Thanks I was not able to reproduce the bug. I will look into it later

[2019-10-05 13:27] weakfl commented on #451
@timbms I've updated the PR, should be fixed now using SFSymbols again

[2019-10-05 14:30] weakfl commented on #452
@Alex5719

You have to use the full URL, including your hostname/ip, like:
`Webview url="http://openhab:8080/static/links.html" height=11 icon="keyring"`

Then it should work. The reason it works in your browser is that the relative path is valid there.

Can't do that. The only way to do that is to make the `WKWebView` transparent and then the background will always be black in dark mode, even wit

[2019-10-05 15:01] weakfl commented on #452
@timbms on second thought, it might not hurt to improve handling of relative URLs, so please leave it open…

[2019-10-05 15:11] Boby71 opened #455 "[Current Beta]: App ignores user-defined icons"
**Describe the bug**
I do use custom icons (PNG format) and they are displayed correctly in the web interface. But not in the app. It almost looks like that the app ignores user-defined icons in the app - but not all of them, only certain (maybe if there is a predefined icon available?)

**To Reproduce**
Steps to reproduce the behavior:
Try to use custom icons for a) elements which have predefined

[2019-10-05 15:52] timbms commented on #455
I suppose that the icons are black with a transparent background. Resulting in pitch black icon fields when displayed in dark mode. Currently app in dark mode does not call themed icons.
Likely the web app request the icons in a dark theme (This is actually what is done in Charts).

[2019-10-05 16:27] timbms commented on #455
Or it would require inverting images:
http://codingpills.ioneanu.com/swiftui-handling-images-in-dark-theme/
Likely this makes only sense for b/w images.

[2019-10-05 17:30] timbms commented on #451
Hope we can close this issue. Build is uploaded to AppStore

[2019-10-05 17:30] #451 closed

[2019-10-05 19:38] timbms commented on #455
@Boby71 : Can you please upload one of your icons as an example?

[2019-10-06 06:06] timbms opened #458 "Settings Legal in Dark and Light Mode"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'settings‘ legal either in light or in dark mode
2. See error: wrong colors

**Expected**
Black on white in light mode
White on black in dark mode

**Screenshots**

**Desktop (please complete the following information):**
 - Version 2.2

**Smartphone (please complete the following information):**
 - Device: 6s

**Additional context**
Add a

[2019-10-06 07:26] oeiber opened #460 "Buttons remain pressed"
Since version 2.2.2 buttons will remain pressed until a refresh was started manually.
This happens with all versions of ios 13 and also wit ios 12.4.1:

![0DD363BC-3EBF-4684-9681-A3229A09252D](https://user-images.githubusercontent.com/46045177/66265547-d9a77400-e818-11e9-954a-3955676be5be.jpeg)

[2019-10-06 08:26] #458 closed

[2019-10-06 08:52] weakfl commented on #460
@oeiber can you please post the relevant parts of your sitemap and items file? Thanks.

[2019-10-06 09:59] wborn opened #462 "Use openHAB EPL-2.0 license headers"
It would be nice when applicable files in this repo get an openHAB EPL-2.0 header.

Here are some examples of headers we already use per file type:

* [Java](https://github.com/openhab/openhab-core/blob/6a3c9b03acb705db9eba5a10baa3c493a1c6ae2f/bundles/org.openhab.core.thing/src/main/java/org/eclipse/smarthome/core/thing/Thing.java#L1-L12)
* [Java properties](https://github.com/openhab/openhab-andr

[2019-10-06 10:08] timbms commented on #462
That should not be a problem for new files:
https://oleb.net/blog/2017/07/xcode-9-text-macros/
For old files we should have a script.

[2019-10-06 10:41] weakfl commented on #462
@timbms you should be able to use `swiftformat` to replace the headers, see [file headers rule](https://github.com/nicklockwood/SwiftFormat/blob/master/README.md#file-headers).

[2019-10-06 11:36] timbms commented on #462
@weakfl: Thanks for the hint.
All .swift files are adapted
Implementation with swiftformat will also address newly created files

[2019-10-06 11:37] #462 closed

[2019-10-06 12:25] Boby71 commented on #455
Hi,
it gets even better...on this screen I use four different items - and all of them have the icon "meter" defined. Three of them are being displayed correctly, one (the third meter icon) is being displayed differntly:
![IMG_3617](https://user-images.githubusercontent.com/22266373/66269104-d0340100-e844-11e9-9092-0ca3bb23d900.jpeg)
Here's my "meter" icon:
[meter.zip](https://github.com/openhab/op

[2019-10-06 12:26] Boby71 commented on #455
Here's the item definition:
`// Waschmaschine
Switch Waschmaschine_Status                         "Power [%s]"		                                                {channel="mqtt:topic:mosquitto:shellyplug_waschmaschine:power"}
Number Waschmaschine_Watt_Aktuell                   "Verbrauch WM aktuell [%.1f W]"      <meter> (gHaushaltsgeraete)    {channel="mqtt:topic:mosquitto:shellyplug_waschmaschine:

[2019-10-06 12:30] Boby71 commented on #455
Sorry for the format, for some reason the formatter doesn't recognize my code as code...

[2019-10-06 13:08] Alex5719 commented on #452
@waekfl

Using the host name works. Thank you for the hint.

My links page does not set any background color. When viewing my links page embedded in BasicUI in the web browser the background of the links webview is white when selecting the Basic UI theme "Default" and is automatically switched to black when selecting the theme "Dark".

[2019-10-06 13:14] weakfl commented on #452
@Alex5719

I've meanwhile also added support for relative URLs, should be available with the next TestFlight update.

I didn't know that. I'll see if it's possible to support that. IIRC @timbms added something similar for charts.

[2019-10-06 13:20] timbms commented on #452
Charts support a theme. I have no clue whether this also is supported for webwidgets

[2019-10-06 14:21] holiday-sunrise commented on #239
hi together, i missing also a security feature. What did you think about code/touchid and face id. should i implement it.

[2019-10-06 14:47] holiday-sunrise commented on #239
i would use SwiftPasscodeLock as passcode view

[2019-10-06 15:10] holiday-sunrise opened #464 "Legal in darkmode not readable"
Legal in darkmode not readable, DrakGray on Black Background not readable

**To Reproduce**
Steps to reproduce the behavior:
1. Open Settings
2. Click on Legal Cell

[2019-10-06 15:19] weakfl commented on #464
dupe of #458, please close…

[2019-10-06 15:27] oeiber commented on #460
@weakfl  here it is:

Items:
[code]

Sitemap:
[code]

[2019-10-06 15:29] holiday-sunrise commented on #464
soory close the case

[2019-10-06 15:30] #464 closed

[2019-10-06 15:41] weakfl commented on #460
For your `ROS01_Control` please use the following in your sitemap:
[code]

That should give you the default widget for rollershutters.

Supporting your `SWI01_Switch` might be difficult. Mappings are supposed to show a state and they just didn't previously because of a bug.

Theoretically you should be able to make it work with a proxy item, but maybe the `autoupdate` property could be used to sup

[2019-10-06 15:48] oeiber commented on #460
But SWI01_Switch is a proxy item, which uses autoupdate -> same issue

[2019-10-06 16:07] timbms commented on #239
@holiday-sunrise would be great

[2019-10-06 16:16] weakfl commented on #460
You'd probably need a rule that sets the state of the item to `NULL` or something like that after the state has been set, I haven't tested this though.

But still, this is not really a supported use case imho. PaperUI will show the state too:

<img width="454" alt="Screenshot 2019-10-06 at 18 12 37" src="https://user-images.githubusercontent.com/614985/66272040-ff5a6a80-e864-11e9-8c2e-329efd474d74

[2019-10-06 16:49] weakfl commented on #460
@oeiber with the changes in #465 your use case should be supported.

@timbms looks like the `autoupdate` property isn't included in the JSON. So If the item's state is `NULL` I'm assuming that `autoupdate` is indeed set to `false` and set the `UISegmentedControl` to `momentary`. It's a bit of a hack, but I think it should still work. So please leave this issue open until we get some feedback.

[2019-10-06 16:53] DigiH opened #466 "Group status very close to selection arrow"
**Describe the bug**
When having groups in the sitemap which also display the group status, either amount of items ON/OFF or OPEN/CLOSED status, the status text is always very close to the selection arrow.

![GroupStatus](https://user-images.githubusercontent.com/17110652/66272474-9249d380-e86a-11e9-9170-8df40f328337.jpg)

**To Reproduce**
Steps to reproduce the behavior:
iOS app 2.2.11
OenHAB 2.5

[2019-10-06 18:06] SAQ1973 commented on #447
It is not fixed in TestFlight version 2.2.21, right?
Otherwise, the issue is still open.

[2019-10-06 21:30] timbms commented on #466
Duplicate to #447
But surely we can increase the distance. Will be in next build

[2019-10-06 21:30] #466 closed

[2019-10-06 22:55] DigiH commented on #466
Thanks, I missed that one.

[2019-10-07 05:04] SAQ1973 commented on #447
The issue wasn‘t solved in 2.2.23, but it got worse:
The space is still missing like in the screenshots above for number values.
But I have now a big space in selections:
![97181E1F-3170-4BEC-8263-77F45A3CCA67](https://user-images.githubusercontent.com/24944195/66286227-b4763c80-e8d0-11e9-9676-9f6eaa728ee2.jpeg)
![D3B33A77-0F94-45CD-9913-9BAC5759204A](https://user-images.githubusercontent.com/2494

[2019-10-07 11:32] oeiber commented on #460
Now the buttons are working. The rollershutters doesn't, because they don't use autoupdate false. Therefore I have to use the default shutter controls even though they don't match the button's design :-)

thank you!

[2019-10-07 12:40] mueller-ma opened #467 "Update icon in App Store"
I've updated the icon for the Android app in the Play Store and maybe you want to use the same icon in the App Store for consistency: https://github.com/openhab/openhab-android/issues/1581#issuecomment-538627662

[2019-10-07 13:15] weakfl commented on #460
@oeiber if you want to keep your design, a proxy item and some rules should work

[2019-10-07 20:01] shutterfreak opened #468 "Intermittent chart rendering error (showing same chart twice instead of showing proper charts)"
**Describe the bug**
From time to time the iOS app renders the same chart twice in a row instead of showing the correct charts. For instance, when I display weather charts, the humidity chart is displayed again instead of showing the pressure chart.

**To Reproduce**
The bug occurred more frequently in earlier versions than the curren FastLane test versions. Nowadays it’s getting hard to reproduce

[2019-10-07 20:36] SAQ1973 commented on #447
Another screenshot showing the double space for selection items and the missing space for number items:
![051ED5A5-7247-414E-86DC-7F1B5C6C2FA3](https://user-images.githubusercontent.com/24944195/66346655-e4feba80-e952-11e9-9400-24c8efe13492.jpeg)

[2019-10-08 05:17] timbms commented on #447
Try 2.2.35

[2019-10-08 05:20] timbms commented on #468
Please upload your configuration files sitemap,...

[2019-10-08 05:21] timbms commented on #460
Can we close this issue?

[2019-10-08 06:20] oeiber commented on #460
@weakfl

@timbms yep, can be closed.

[2019-10-08 06:44] SAQ1973 commented on #447
Works with 2.2.35.
Thanks a lot @timbms
Issue can be closed from my perspective.

[2019-10-08 06:44] #447 closed

[2019-10-08 08:04] #460 closed

[2019-10-08 08:31] shutterfreak commented on #468
Here's the relevant portion of the sitemap:
[code]

[2019-10-08 20:39] oeiber opened #469 "Integration to shortcuts app"
Is it possible to add a integration to ios shortcut app?

[2019-10-08 20:50] timbms opened #470 "Create a Mac Catalyst app"
**Is your feature request related to a problem? Please describe.**
As of macOS 15, catalyst allows to port an iPad app to Mac by checking a box in Xcode.
In theory.

**Describe the solution you'd like**
Have a native Mac Client.

**Describe alternatives you've considered**
Of course web UI is a valid interface.

[2019-10-08 20:58] timbms commented on #452
Web pages are designed with certain assumptions and a default for text to be black on white.
In general, we cannot overrule this in the app by making different assumptions. Let's not open this box of worms.
However, if you control the webpage you should be able to take advantage of the webkit enabled for dark mode. Change the website as described here: https://webkit.org/blog/8840/dark-mode-suppor

[2019-10-09 17:49] timbms opened #471 "Missing Shadow on SideMenu"
**Describe the bug**
When SideMenu is slided on, it should show a vertical line with a shadow

**To Reproduce**
1. Open Side Menu
2. Don't see missing shadow

**Expected behavior**
See shadow separating menu from window in background

**Desktop (please complete the following information):**
- 2.2.35

**Smartphone (please complete the following information):**
 - Device: iPhone 6s

[2019-10-09 18:24] #452 closed

[2019-10-09 20:11] timbms commented on #470
I got it to work on my Mac! Might still be a dirty to deactivate all incompatible frameworks. But I am impressed <img width="790" alt="Screenshot 2019-10-09 at 22 07 33" src="https://user-images.githubusercontent.com/5411131/66516420-3f2d8600-eae1-11e9-8e81-50cf56bc6665.png">

[2019-10-10 02:41] timbms commented on #367
Completed! As of version 1.3.1 of FlexColorPicker

[2019-10-10 02:41] #367 closed

[2019-10-13 19:34] timbms commented on #469
What should be possible? Switch Light X on/off?

[2019-10-14 04:24] Mr-iX commented on #469
- control for example rollershutter, switch, dimmer...
- read the status from items

Currently I’m doing this via a homebridge. So I have a shortcut run via Siri, which opens the rollershutter when it’s bright enough outside or turns the light on.

[2019-10-14 20:36] maihacke opened #476 "Dark Mode: Sitemap colors"
I‘m using explicit colors in my sitemap definition to visualize the state of my rollershuters. Up to no O used blue for open and black for closed.
Since iOS 13 I use the new dark mode. Labels with black color are now invisible since the background changed from white to black.
I suppose this behavior is useless for most users. The same thing might arise for white labels which were invisible before

[2019-10-15 12:49] shutterfreak commented on #468
I can't reproduce this issue on the latest iOS app (TestFlight v2.2.35 (1570486506)

[2019-10-17 21:12] timbms commented on #182
Please try 2.2.37 - this is a first beta to implement dynamic mapping - first tests with avmfritz were displaying the dynamic mappings correctly

[2019-10-19 00:08] swamiller opened #478 "Nested Group Items Crash"
**Describe the bug**
Selection of a nested item group causes the app to crash

As an example, I have my light items defined by nested groups.  Below is my list of items (channel names removed for clarity).  This is one group for "Lights_FamilyRoom".  I have similar groups for the other rooms that all roll up to the master "Lights" group.
Items:
[code]
Sitemap:
[code]
Screenshots:
![IMG_1315](https

[2019-10-19 06:29] timbms commented on #478
@swamiller : thank you for your detailed feedback.
In order to reproduce the bug please provide your REST API sitemap

[2019-10-19 08:47] sheppy99 opened #479 "Default colours setting on both day and night mode"
Problem
It is difficult to see buttons in day mode in bright light.

Suggested solution
Add changeable default colour schemes for both day and night mode.

Other considered solution
Add colour setting per item, but this would make the sitemap very big on systems with many items without a default setting

[2019-10-19 14:29] swamiller commented on #478
I think the attached file is what you need.  It's very lengthy because I have a Doorbird binding with photos.  If you needed something else, let me know.

[sitemapRESToutput.txt](https://github.com/openhab/openhab-ios/files/3746783/sitemapRESToutput.txt)
iOS 13.1.3
OH 2.5M3

[2019-10-19 14:31] swamiller commented on #478
Version 2.2.41 was just made available and seems to have fixed the issue.

Thank you!  You have done a tremendous job with this and your work is very much appreciated!

[2019-10-19 14:32] #478 closed

[2019-10-19 14:43] timbms commented on #478
Great news!!!

[2019-10-19 14:47] timbms commented on #182
Please check with 2.2.41 - it is working with dynamic mappings of avmfritz and Spotify Binding.
It also addresses a bug with nested groups.

[2019-10-19 14:51] timbms commented on #479
To me buttons are sufficiently visible.
Please include screenshots demonstrating your issues.

[2019-10-19 14:54] timbms commented on #151
This should be a full internationalisation - Not only for German.
Let me have your view how you want to proceed.

[2019-10-20 09:42] timbms commented on #467
@mueller-ma Could you provide the whole set of icons necessary in Xcode?

[2019-10-20 09:58] weakfl commented on #467
@timbms I can run it through Sketch and submit a PR if you want…

[2019-10-20 10:05] weakfl opened #481 "Charts: legend parameter not working"
The `legend` parameter doesn't work anymore, legend is still displayed if set to `false`.

[2019-10-20 12:57] timbms commented on #467
@weakfl Please submit a PR with the updated icons

[2019-10-20 13:02] #481 closed

[2019-10-20 13:13] timbms commented on #236
@gnalbandian @maniac103 @lampml16 : please try the latest beta and report in #182 whether this issue has been solved.

[2019-10-20 16:43] weakfl commented on #467
@mueller-ma the icon you've posted in the Android thread is only 512x512, which is too low for iOS. So I've used the svg and tried to duplicate your background gradient.

Can you please take a look at the PR and check the icon?

[2019-10-20 18:16] mueller-ma commented on #467
I have no idea about the iOS repo structure. Does your PR change the app icon, the icon in the app store or both?

[2019-10-20 18:18] weakfl commented on #467
App Store, App, Spotlight, settings, etc.

[2019-10-21 06:21] weakfl commented on #467
@mueller-ma I've missed that comment, sorry.

@timbms has already merged the PR into the `develop` branch, but you can review the icon files [here](https://github.com/openhab/openhab-ios/tree/develop/openHAB/Images.xcassets/AppIcon.appiconset).

[2019-10-21 07:30] mueller-ma commented on #467
In the Android app I only changed the icon in the Play Store. The app icon still has a solid white background.
But I think the new background looks good for the app icon as well.

[2019-10-21 07:30] #467 closed

[2019-10-21 08:55] timbms commented on #467
@weakfl yes I merged it quickly in apprehension of an approval (;-) could be reverted quickly

[2019-10-22 14:18] The-Elk-GH commented on #115
Hey Guys
After a long time I tried it again.
Today I use the Version 2.2.47 and it doesn’t work.
Any updates or information?

[2019-10-22 19:11] timbms commented on #115
@The-Elk-GH : Thank you for your feedback. Apparently we have a regression. Can you please help us narrow it down and determine by installing previous builds the last working version.

[2019-10-23 06:00] The-Elk-GH commented on #115
@timbms : Unfortunately, I can not tell you if it ever worked.
Since the beginning of August, I have not tested it with the local login again.
I had some time now and have looked into what has happened in this issue.
Nevertheless, images with the local login do not work.
If you need more information, I am willing to supply you with them.

Thanks for your support and really great work.

[2019-10-25 15:27] Boby71 commented on #455
Additional hint: The app only provides the wrong icons when being used on groups (text {} or frame{} level) AND when there is a default smarthome icon available (e.g. "alarm" or "camera"). If there is no (embedded?) default icon, the app displays the correct (user provided) icon. When I use e.g. "camera1" as name for my PNG file, everything works as expected. When I use "camera", the wrong display

[2019-10-25 19:58] timbms commented on #455
Well that's strange. iOS app should ignore icons defined for frames.
`if widget?.icon != nil, !((cell is NewImageUITableViewCell) || (cell is VideoUITableViewCell) || (cell is FrameUITableViewCell) || (cell is WebUITableViewCell)) {`

Also OpenHAB is very clear:

Users may substitute their own icon for an icon from the default icon set by placing a file in the $OPENHAB_CONF/icons/classic/ folder w

[2019-10-26 00:03] pfink opened #485 "Mandatory label attribute in sitemaps"
Regarding https://github.com/openhab/openhab-ios/issues/235#issuecomment-489249638: The `label` attribute in sitemaps currently isn't really mandatory. Sitemaps without a label attribute do neither lead to any warnings or errors in the log nor do they cause issues in Basic UI.

If we really think it should by mandatory, then it would have to be part of the syntax validation within openHAB core, bu

[2019-10-26 09:36] Boby71 commented on #455
You're right - my mistake, frames don't work. Sorry about that. But on grouping items the problem is still existing.

Is there somewhere a list of those "predefined" icons and which names I have to avoid? I wasn't aware are some at all, since they are not visible in the icons folder where I can place my personal ones.

Personally, I have no problem in using different names for my icons - it's exac

[2019-10-26 14:52] weakfl commented on #455
https://www.openhab.org/docs/configuration/iconsets/classic/

[2019-10-27 16:50] UrsusS opened #486 "HTML color names for labels, etc."
In my sitemap I'm using different colors for the labels. The colors are somehow set by the application as it should be near by the standards. In my case I need a yellow, which is hardly readable. So I replace yellow by gold which this statement:
labelcolor=["gold"]
In the BasicUI in the webbrowser this works fine as the HTML color names are supported.

I would like to have the HTML color names als

[2019-10-27 19:57] timbms commented on #486
That should be easy. I will propose a PR

[2019-10-30 09:29] bredmich opened #488 "[Idea] Send device data back to openHAB"
Hi there

I´m currently using the oH iCloud binding to get some device data from my iOS devices. Such as the battery level/status and the location.
Apple applies changes to the iCloud environment once in a year and that leads to problems with the iCloud binding.

It´s possible for apps to get device data like the current battery level/status* and location, so why don´t we use it for openHAB?
The i

[2019-10-30 17:36] weakfl commented on #488
@bredmich I think you're referring to the certificates issue. Afaik this could be resolved in the binding by not using a hardcoded certificate or making it configurable.

See #52 for a somewhat similar request.

Personally I wouldn't use such a feature. It will have a bigger impact on battery life than using iCloud and it will be inevitably unreliable. Keeping background tasks going is a major pit

[2019-10-30 18:23] bredmich commented on #488
But no one does it. It´s a issue for two years now and every year there´s another way to fix it.
First it was just downloading the certificate, now you needed to install gson with the latest iCloud binding. I wonder what´s next, to keep it alive. Or maybe we´ll loose the iCloud binding completely, when Apple decides to close it.

It shouldn´t have a bigger impact than iCloud.
Pulling from iCloud r

[2019-10-30 18:54] weakfl commented on #488
Apple has bare metal access and can use the hardware far more efficiently than an app. There's always overhead, even when using the significant change location service (which is the only way to keep updates going anyway).

You're pulling data from iCloud and not from the device. Sending a request to the iCloud service does not query the device, the device updates its status when it deems it approp

[2019-10-30 19:00] bredmich commented on #488
I´m getting location updates everytime i send an refresh. Even when my phone is on my desk and not moving at all.
So there´s some kind of communication between iCloud and the device when sending the refresh to the channel.

[2019-10-31 08:01] bredmich commented on #488
I just checked some apps that i use for background tasks.
tado: It uses an geofence to control my heating unit and it works even after a restart without starting the app.
Geofency: This app can monitor geofences and iBeacons. The app works even after a restart and controls an dummy over REST.
So there are possibilities to make an app working after the device was restartet.

kind regards
Michael

[2019-10-31 11:20] weakfl commented on #488
That's good to know, it's been a while since I last tested something like this.

I'm still not convinced, but if this is something people want I can look into it. Can't hurt to have more options after all.

[2019-11-01 11:19] maniac103 commented on #486
As I got the same request for Android (https://github.com/openhab/openhab-android/issues/1640) I have doubts about this. The [list of officially supported color names](https://www.openhab.org/docs/configuration/sitemaps.html#label-and-value-colors) is way shorter than this, so IMHO we either
- should agree with core people that we *want* to support all HTML color names or
- ask BasicUI people to c

[2019-11-01 11:23] maniac103 commented on #486
Actually, nevermind about the 'BasicUI should constrain themselves' part. The docs cover this:
[code]

[2019-11-01 20:54] leffenke opened #489 "Wrong images are shown"
I would like to have some charts shown on the same page, depending on what option is selected. Only one picture at a time. (see sitemap below).

All the pictures are stored locally in $OPENHAB_CONF/html folder.
The openhab server is behind an nginx reverse proxy.

It works fine, if I use the app remotely or if I use classicUI in a browser.
But when the app is connected to local URL, some of the pi

[2019-11-01 22:21] timbms opened #490 "SecTrustEvaluate(_:_:) is deprecated with iOS 13/watchOS 6.0"
**Describe the bug**
SecTrustEvaluate(_:_:) is deprecated with iOS 13/watchOS 6.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to file ServerCertificateManager.swift, line 108
2. See deprecation message
'SecTrustEvaluate' was deprecated in watchOS 6.0: renamed to 'SecTrustEvaluateWithError(_:_:)'

**Expected behavior**
No deprecation message

**Desktop (please complete the following in

[2019-11-02 20:25] timbms commented on #486
Supporting HTML colors is easy if a s set of RGBs is given.
Obviously those HTML colors are only explicit alias to the RGBs - They should not be confused with semantic colors necessary to support light/dark modes. If we wanted to have those modes fully supported we should agree on a convention on how to define the colors across all platforms.  I guess this would really request a lot alignment.
No

[2019-11-03 12:42] weakfl commented on #485
Implemented as suggested by @pfink

[2019-11-03 12:42] #485 closed

[2019-11-03 12:55] pfink commented on #485
Thanks!

[2019-11-03 12:57] weakfl opened #493 "Kingfisher crashes in Xcode 11.2"
See onevcat/Kingfisher/issues/1330 for details.

**To Reproduce**
Run app in Xcode 11.2

**Expected behavior**
No crash

@timbms We can either use the workaround mentioned in https://github.com/onevcat/Kingfisher/issues/1330#issuecomment-548976296 or revert to cocoapods for now.

Thoughts?

[2019-11-03 18:06] timbms commented on #493
I think we should revert the SPM usage. SPM seems not yet ready.
Though the workaround allowed me to test #491 (;-)

[2019-11-03 18:20] #471 closed

[2019-11-03 18:25] weakfl commented on #493
I agree, I don't see many benefits atm. I'll look into it tomorrow.

[2019-11-03 18:27] timbms commented on #490
Addressed by wrapperSecTrustEvaluate() in branch timbms-watch-swiftui

[2019-11-03 18:27] #490 closed

[2019-11-04 07:51] weakfl commented on #493
Done.

[2019-11-04 07:51] #493 closed

[2019-11-04 07:56] weakfl commented on #489
@leffenke Have you tried to disable image caching in your nginx settings (Cache-Control, Pragma, Expires)?

[2019-11-05 16:47] weakfl commented on #493
@timbms fyi, I've encountered another crash related to Xcode 11.2 in another app I'm developing, see [dev forum](https://forums.developer.apple.com/thread/125287) for details.

So I think we should avoid releasing anything compiled with Xcode 11.2, who knows what else is broken. Something's seriously wrong with Apple's quality control lately :/

[2019-11-06 05:53] ufodone commented on #115
@The-Elk-GH  @timbms I think I was able to repro this issue (or at least one that looks like it) and I think it's due to a variant of the previous issue.  The openHAB iOS app is passing an Authorization header regardless of whether a challenge was requested but also seems to send an empty Authorization header even no credentials are set in the app.  Overall this is a result of a different issue wh

[2019-11-06 08:47] juanhaywood opened #494 "touchID on items with [SECURE] or similar tag."
It would be great to be able to have touchID, faceID, or iOS passcode requested on certain items that have been tagged with a special tag, for example SECURE. My thinking is that this would be used for sensitive items, like gates, doors, garage doors, security alarms, etc.

In addition to the authentication this will provide for these items, it also has the added benefit of preventing accidental o

[2019-11-06 22:14] #182 closed

[2019-11-06 22:15] #280 closed

[2019-11-06 22:44] dhermanns commented on #280
Is there a working branch now?

[2019-11-09 18:17] weakfl commented on #486
@timbms I've refactored the color system and started support for semantic colors for the standard sitemap colors. They're currently the same in light/dark mode (except for black and white), but we could start to support them as soon as we have decent color codes for dark mode. Adding support for HTML colors to this system should also be straight forward.

Unfortunately I'm blessed with the design

[2019-11-09 22:42] leffenke commented on #489
After a few days it is working properly... So I left everything unmodified...

[2019-11-09 22:42] #489 closed

[2019-11-10 11:25] #386 closed

[2019-11-10 13:04] weakfl commented on #179
I think there's room for improvement:
- if stepper button is pressed in rapid succession only send the last command
- keep stepping through values if stepper button is hold down and only send a command when it's released

I'll look into it...

[2019-11-10 14:13] timbms commented on #486
I really like your proposal to prepare the app .

Apple has a great [video](https://developer.apple.com/videos/play/wwdc2019/808/) explaining the proper choices of semantic colors. I think we should take advantage of appropriate color pairs for light and dark mode.

If we followed the semantic colors defined by Apple we could implement it with no effort:
https://developer.apple.com/design/human-in

[2019-11-11 10:22] weakfl commented on #486
@timbms

https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/

Thanks, that's indeed a great starting point. I'm sure we can use some of Apple's color choices in dark mode.

I'll make a test sitemap for all OH standard colors to be able to better determine which colors need to be adapted.

I'd rather merge #495 sooner than later, even if we don't have appropriate

[2019-11-11 10:55] weakfl commented on #486
Looking at my color test (see below), this starts to make a lot of sense tbh 😁

Here are the standard colors in light/dark mode with only black & white inverted:

![color_test_light](https://user-images.githubusercontent.com/614985/68581902-bad07900-0479-11ea-96f6-61465bf6a9ae.png)

![color_test_dark](https://user-images.githubusercontent.com/614985/68581910-c2901d80-0479-11ea-9d7b-ab3921ff0d4d.pn

[2019-11-11 11:13] weakfl commented on #486
Some more food for thought...

Using some of Apple's colors for dark mode with the following colors changed:
`red`, `orange`, `yellow`, `purple`, `green`, `navy` (using Apple's indigo), `blue`, `teal`

![color_test_dark_apple](https://user-images.githubusercontent.com/614985/68582987-624eab00-047c-11ea-9d38-f0c8a1ea22f1.png)

[2019-11-13 21:59] timbms commented on #486
Let me merge this.

@digitaldan can you make the contact to the core team?

[2019-11-14 07:19] maniac103 commented on #486
You can do this yourself ;-) See Kai's statement [here](https://github.com/openhab/openhab-android/issues/1639#issuecomment-546723643)

[2019-11-14 07:41] weakfl commented on #486
Thx @timbms!

What do you guys think about the variant with some of the Apple colors for dark mode?

[2019-11-14 13:08] timbms commented on #486
To push this discussion to the next level we need the support of @openhab/core-maintainers :
Chart supports a query item "theme" that can be set to dark or light (or other values?). The chart in the response can then beautifully blend with the mode of the UI.
It would be great if icons also supported a query item "theme" and would then return different appropriate sets of icons.  Could this please

[2019-11-15 10:21] timbms opened #499 "Implement sitemap synching for watchOS"
**Describe the bug**
The watchOS app is loading the sitemap only once on startup.

**To Reproduce**
Start the app

**Expected behavior**
Keep the watchOS app in sync with sitemap -

**Context**
Branch openHAB-watchOS branch

[2019-11-15 10:29] timbms opened #500 "ObservableOpenHABWidget/SitemapPage/DataObject should reuse code"
**Is your feature request related to a problem? Please describe.**
SwiftUI/Combine make use of the property wrappers @Published and the protocols ObservableObject. Those features are not available in iOS version < 13.
To support watchOS > 6 and iOS < 13, the code of OpenHABWidget/SitemapPage/DataObject is currently copied into the corresponding Observables... classes.
**Describe the solution you'd

[2019-11-15 10:30] timbms opened #501 "Merge develop into watchOS"
Merge latest develop branch in openhab-watchos

[2019-11-15 10:32] timbms opened #502 "Complete set of complications for watchOS"
Have a complete set of complications assets for watchOS
Use new logo

[2019-11-15 12:06] timbms opened #503 "Setup openHABCore target for code sharing between watchOS and iOS code bases"

[2019-11-15 18:04] timbms opened #504 ""Ignore SSL Certificates" toggle is only considered at startup"
**Describe the bug**
"Ignore SSL Certificates" toggle is only considered at startup
When it is changed, the value at startup is still used.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings', select "Ignore SSL Certificates" to off
2. Close App
3. Go to 'Settings', select "Ignore SSL Certificates" to on
4. Connect to a new server with https
5. Will still request to validate this

[2019-11-16 15:35] ufodone commented on #115
@The-Elk-GH The latest Test Flight build (2.2.50) has changes for items 2 and 3 from my previous post.  I don't think 1 is necessary to resolve this.  The changes fixed the issue that I was able to reproduce but could you try this out and see if it resolves your issue?  From my understanding of your setup, you'll want to ensure that the "Always Send Credentials" setting is turned off (which should

[2019-11-16 16:08] SAQ1973 opened #505 "Sliders not working since 2.2.50 (working with 2.2.47) KNX"
**Bug Description**
Sliders are not working any more since I updated to iOS app 2.2.50 (1573824131).

**Logged Error**
`Value '14.0' could not be sent to the KNX bus using datapoint 'command DP 1/3/132 Dimmer_EG_Wohnen_Decke, DPT main 0 id 5.001, low priority' - retrying one time: 5.001 Scaling: wrong value format: 14.0`

**Binding**
KNX

**Item Example**
`Dimmer   Dimmer_EG_Wohnen_Decke   "Couch

[2019-11-16 16:18] The-Elk-GH commented on #115
Wow, now it is working.
I can see the picture of my cameras with a local openHAB connection.

Many thanks to @ufodone

[2019-11-16 16:36] ufodone commented on #115
@The-Elk-GH Glad to hear it's working now!  Can you confirm that the images refresh properly when they change?  When I was testing, the images didn't appear to change if I changed the underlying image.  I tracked this down to an image caching problem but I think that it was a problem with openHAB itself rather than the iOS app.  There were no cache control headers in the request or response.  Give