[2019-11-16 16:42] The-Elk-GH commented on #115
Yes the refresh works perfectly. My setting is 2 seconds.

[2019-11-16 17:11] timbms commented on #505
@SAQ1973  thank you for reporting the regression. Likely related to the change of the slider to send intermediate values. It is now sending values in wrong decimal format

[2019-11-16 17:28] #505 closed

[2019-11-17 12:21] weakfl commented on #476
See #486 for details and follow-up discussion.

[2019-11-17 12:21] #476 closed

[2019-11-17 19:13] Mr-iX opened #506 "Option to disable realtime sliders"
In the latest version, sliders don't work that great anymore, when there is a lot of latency.
Could you please add an option to disable these realtime slides

[2019-11-18 07:00] #503 closed

[2019-11-18 07:02] weakfl commented on #506
@Mr-iX That's definitely possible and it should probably be the default setting too.

I'm even thinking about reverting this altogether, as it doesn't work that well. But I'd like to hear some opinions if it should be kept as an option or not.

[2019-11-18 10:07] SAQ1973 commented on #506
@weakfl : In general (or in theory), I'd love have those realtime sliders.

BUT :-) for me, they did not work for two reasons:
1. They were creating wrong values on my KNX Binding. See my issue #505 , which seems to be solved.
2. Even if this works, realtime sliders would produce too much traffic on the network and then KNX bus. Each new value (up to 100 per second) would be forwarded to the bus a

[2019-11-18 10:10] SAQ1973 commented on #505
Can I test this somehow?
(I am getting only beta releases of the app in Test Flight, but not development releases.)

[2019-11-18 10:41] weakfl commented on #506
@SAQ1973 Updates are currently throttled to a 0.1 second interval, so there should be a maximum of 10 updates per second.

But I agree to make this **opt-in** in an upcoming TestFlight release and wait for feedback before making a final decision.

[2019-11-18 11:07] timbms commented on #506
Ideally this would be dynamic. Measuring the round trip time on the network and then adjust the period between updates accordingly

[2019-11-18 11:14] weakfl commented on #505
Same as it is now.

[2019-11-18 16:18] SAQ1973 commented on #506
Good idea! I‘d support this.

﻿
Ideally this would be dynamic. Measuring the round trip time on the network and then adjust the period between updates accordingly

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-11-20 13:11] kleintody commented on #125
@dhermanns: Unfortunately, the official OpenHAB iOS app does yet not include watchOS support.
Would it be possible for you to provide your last openhabwatch version via Testflight, again?

[2019-11-20 14:35] dhermanns commented on #125
I will try to once more get a go from apple...
@timbms : Is there a working branch we could use instead?

[2019-11-20 21:12] timbms commented on #125
@dhermanns: We are preparing a new release in the openhab-watchos branch. It is so far a basic proof of concept. We are not yet ready to release it even in beta.
Whoever wants to contribute to the development is welcome.

[2019-11-21 09:06] shutterfreak commented on #468
It happened again this morning.

This time I managed to obtain a screenshot when it happened:
![IMG_2081](https://user-images.githubusercontent.com/48714736/69323138-6af66c80-0c46-11ea-96d3-9de5eaf979a0.png)

And here's a 2<sup>nd</sup> screenshot with the proper charts:
![IMG_2084](https://user-images.githubusercontent.com/48714736/69323097-587c3300-0c46-11ea-9475-dc06fcb23b91.png)

When this pro

[2019-11-24 15:06] timbms opened #507 "Swipe to cycle through the sitemaps"
**Describe the solution you'd like**
I would like to be able to cycle through all sitemaps available on a server by swiping left/right.

**Describe alternatives you've considered**
Switching to another sitemap currently requires opening sidemenu

[2019-11-24 18:49] weakfl commented on #507
Awesome idea!

[2019-11-25 17:09] timbms commented on #507
@weakfl: Do you have time to implement it?

[2019-11-28 03:12] Cossey commented on #507
+1 👍

[2019-11-28 10:59] weakfl commented on #507
@timbms Sorry for the late reply, it's quite a busy week at the office...

I hope I'll have some time to work on OH at the weekend. I can definitely look into this, but I'm not sure if we shouldn't rather continue work on the watch app before we look into this feature.

How do you envision this? Just as a swipe gesture that changes the current sitemap or something like a `UIPageViewController` to

[2019-11-28 21:27] Cossey commented on #343
+1 for having the search hidden by default, until you "pull down" to show it.

I don't mind that extra "blank space" since that gets populated by the back button when you go into Text item that contains sub items.

[2019-11-28 21:31] Cossey commented on #175
I would also like to add that if I am in the openHAB app and then my Wifi drops out to 3G/4G (for example when I'm leaving my house and go out of range) then the app needs to be closed and re-opened for it to start using the cloud connection. Could this maybe be improved to detect when the network connection changes to cellular and use the cloud connection settings automatically?

[2019-11-30 03:02] Cossey opened #508 "Issue Rendering Network Image on Local URL"
**Issue**
There appears to be an issue rendering images from another server on the network using the _Local URL_ on the iOS app. It works fine when using the _Remote URL_.

**To Reproduce**
Create a sitemap Image item like the following:
`Image url="http://192.168.1.252:3000/render/d-solo/f4oJEaiRk/indoors?height=150&orgId=2&panelId=2&tz=Pacific%2FAuckland&width=500" refresh=60000`

View the image

[2019-11-30 08:08] weakfl commented on #508
Please try to disable `Always send credentials` in settings.

[2019-11-30 09:53] Cossey commented on #508
I don’t see this option in the openHAB iOS Settings...?

[2019-11-30 10:00] weakfl commented on #508
Please update to the latest version on TestFlight.

[2019-11-30 10:25] Cossey commented on #508
Thanks @weakfl i can confirm the TestFlight version does indeed resolve the issue. I will start using this version to give feedback.

[2019-11-30 10:25] #508 closed

[2019-12-03 06:49] MaxBec commented on #469
Hey guys,

how is the development status here. I really would like to use NFC Tags for switching things in openhab. That would ne great through the shortcuts app.

[2019-12-04 19:07] timbms commented on #507
@weakfl : I agree we should keep the focus on the watch app. It would be great to make some progress in this area.

With respect to the technical implementation I haven't any personal view. Here I was just making a suggestion for a feature.

[2019-12-06 14:58] shutterfreak opened #509 "Status update of roller shutters doesn't obey "invert percentage" while operating"
When operating roller shutters configured with "invert percentage: True", the iOS app intermittently displays "100-x %" instead of "x %" as the expected status value while operating the roller shutters.

In effect, for instance the status jumps from 100% to 13% and then back to 87%.

Expected behaviour: "invert percentage: True" is always obeyed in the iOS app.

I have a screen capture (mp4 format

[2019-12-07 01:02] radokristof commented on #54
+1

[2019-12-09 20:12] shutterfreak commented on #509
Problem solved - apparently the "invert percentage" setting was gone.

[2019-12-09 20:12] #509 closed

[2019-12-11 01:37] psyciknz opened #510 "State of Sitemap image loading (Images from grafana, no authentication)"
I just worked out getting grafana to render an image to the basic ui.  Trying to view via the IOS app while remote (but connected to home with VPN) - when connecting, it says connecting by Local Url.

All the elements come up but the grafana images.   IOS version 2.2.34, OpenHAB 2.3

I got the impression from the issue tracker that similar image issues were fixed.

[2019-12-11 10:24] Skinah opened #511 "Selection elements with no mappings show up as blank lists."
**Describe the bug**
I have written a binding (WLed) that uses a number channel that holds over 80 presets and have given all the numbers a nice friendly name tag in the thing definition XML file. The issue is these do not show up when I use either a DEFAULT or SELECTION element in a sitemap that the iOS app is showing. I leave out a mapping in the sitemap file as I do not wish to double up creati

[2019-12-11 10:39] Rossko57 commented on #511
It might be helpful to provide the REST API view of an example Item of yours, as this is what the UIs need to access.

[2019-12-12 10:16] Skinah commented on #511
This would be an example of the rest PAI output for one of the Selection sources...

[code]

[2019-12-17 10:20] weakfl commented on #510
Please try the latest beta version on [TestFlight](https://testflight.apple.com/join/563WBakc).

[2019-12-17 14:16] weakfl opened #512 "Handle connection type changes"
I would also like to add that if I am in the openHAB app and then my Wifi drops out to 3G/4G (for example when I'm leaving my house and go out of range) then the app needs to be closed and re-opened for it to start using the cloud connection. Could this maybe be improved to detect when the network connection changes to cellular and use the cloud connection settings automatically?

_Originally post

[2019-12-17 14:23] #431 closed

[2019-12-17 14:23] #512 closed

[2019-12-17 14:28] weakfl commented on #502
Let's start with the current set of complications. Adding other complications will require quite a lot of refactoring. I think atm there are other things which are more important for the watch app...

[2019-12-17 14:28] #502 closed

[2019-12-17 15:34] timbms commented on #431
Nice

[2019-12-17 15:36] weakfl commented on #511
@Skinah can you please provide the complete JSON of an example widget?

[2019-12-18 11:37] weakfl opened #513 "Embedded images causing infinite loop"
**Describe the bug**

Embedded images are causing an infinite loop when returning from background.

**To Reproduce**
Steps to reproduce the behavior:
1. Scroll embedded image out of sight
2. Send app to background
3. Return app to foreground
4. Scroll back to embedded image
5. Infinite loop causes a crash

**Expected behavior**
Don't crash 😂

**App (please complete the following information):**
 -

[2019-12-18 11:40] weakfl commented on #513
@timbms fyi, this was the crash from December 4th, reported via TestFlight

[2019-12-18 11:40] #513 closed

[2019-12-28 01:54] Skinah commented on #511
@weakfl

I hope this is what you meant. I used this url and the following result is below.
http://192.168.1.80:8080/rest/items/XmasTreePresets

[code]

[2019-12-28 07:10] timbms commented on #511
@Skinah can you please check the beta on testflight https://testflight.apple.com/join/563WBakc

[2019-12-28 08:42] Skinah commented on #511
It works great in the Beta, thanks for fixing it and doing all the work on the ios app as I have noticed a lot of things have been fixed in the last 6 months. Thanks to you and anyone else working on it. Should I close this now?

[2019-12-28 13:08] timbms commented on #511
Thanks for confirming that issue is closed in beta.
@weakfl: We should push a new release.

[2019-12-28 13:08] #511 closed

[2019-12-28 13:17] weakfl commented on #511
@timbms agreed

I would like to look into #506 first though. It'll likely cause problems the way it is now. I'll try to look into it tomorrow or on Monday...

[2019-12-28 18:10] timbms opened #514 "Change of site should update list of sitemaps"
**Describe the bug**
List of new sitemaps not updated on change of site
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sidebar' - see list of available sitemaps
2. Click on Main Screen
3. Go to 'Sidebar' - Settings
4. Choose a different site
5. List of available sitemaps is not changed to new sie.

**Expected behavior**
Obtain the list of sitemaps from a new site and update list in si

[2019-12-30 21:04] SAQ1973 opened #515 "Update issues switches & slides since iOS app 2.2.11"
**Describe the bug**
The iOS app UI is not updated when items changed their value. Was working in iOS app TestFlight version 2.2.8, not working in and since iOS app TestFlight version 2.2.11.

**To Reproduce**
Steps to reproduce the behavior:
1. Install iOS app TestFlight version 2.2.11 or later.
2. Have a switch and slider like in the code below (a dimmable light that also can be switched on & of

[2019-12-31 17:09] timbms opened #516 "Chart representing multiple series should show legend by default"
**Describe the bug**
When a chart is representing multiple time series it should by default show a legend.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a group of items
2. Setup a sitemap with a chart representing the group (leave legend parameter open)

3. See chart without legend

**Expected behavior**
Alignment to behavior in android and web. See [doc](https://www.openhab.org/doc

[2019-12-31 17:13] #516 closed

[2019-12-31 22:34] timbms opened #517 "Display of items with very long states"
**Describe the bug**
As reported via TestFlight:
If item states are too long, the display gets messed up „somehow“ (seems like the alignment is right). It would be more elegant, if the oversized text would scroll or at least being cut off at the end and add „[...]“ at the end to be able to recognise, the text has been cut off for display purposes.

**Expected behavior**
Revised auto layout avoidin

[2020-01-01 08:43] #517 closed

[2020-01-01 15:47] timbms commented on #514
More information: openHABRootUrl in OpenHABDrawerTableViewController is not properly set when hamburger menu is called the second time

[2020-01-01 19:31] timbms commented on #514
Seems to be a regression introduced by #491. @weakfl: Do you have time to look into it?

[2020-01-01 20:00] timbms commented on #515
is this a duplicate of #354? Or had #354 been fixed by 2.2.8?

[2020-01-01 20:23] SAQ1973 commented on #515
Hi Tim,

I think it is similar, but not a duplicate. #354 is not fixed, yet, even it is labeled ‚critical‘.
I also wanted to emphasize that it seems it got broken between 2.2.8 and 2.2.11.

Stefano

﻿
is this a duplicate of #354? Or had #354 been fixed by 2.2.8?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-02 09:58] weakfl commented on #514
@timbms Yes, I'll look into it.

[2020-01-02 10:41] #514 closed

[2020-01-02 15:33] timbms commented on #479
No feedback received. Therefore closed

[2020-01-02 15:33] #479 closed

[2020-01-02 16:14] #506 closed

[2020-01-03 10:39] #504 closed

[2020-01-06 14:21] oblaise opened #519 "mTLS: Client certificate authentication not working when certificate chain contains more than one CA"
Certificate authentication (mTLS) is not working when the client certificate isn't issued by a Root CA.

In a typical PKI deployment your client certificates are issued by an Issuing CA under a Root CA:
Root CA   ->    Issuing CA    ->   User authentication certificates

Root CA certificate
---> Issuer: cn=Root-CA
---> Subject: cn=Root-CA

Issuing CA certificate
---> Issuer: cn=Root-CA
---> Subjec

[2020-01-06 21:03] timbms commented on #519
@ufodone : Can you have a look at this issue?

[2020-01-06 21:31] timbms commented on #501
Done in the new branch devel-watchos

[2020-01-06 21:31] #501 closed

[2020-01-06 22:58] weakfl commented on #501
Awesome, thanks @timbms!

[2020-01-06 23:02] weakfl commented on #515
I'll try to look into this in the coming days. If I find time also the other OH 1.8 issue.

@timbms with OH 3.0 phasing out OH 1.x  support we should probably also start to think about EOL for 1.8.

@mueller-ma what are your plans for the Android app?

[2020-01-07 05:58] timbms commented on #515
Thanks for addressing the open 1.8 issues.
I fully support your argument for future OH 3.0

[2020-01-07 08:38] mueller-ma commented on #515
I'm not aware of any plans to drop support for openHAB 1.X in the clients. This should be discussed in the forum or GitHub Teams.

[2020-01-08 21:24] timbms opened #521 "Implement watch connectivity"
**Describe the bug**
Transfer of parameters to watchOS app is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Change network parameters
3. Click on Save
3. Observe changes on connected watch app

**Expected behavior**
implement a robust and reliable connectivity

**Smartphone (please complete the following information):**
 - Device: simulator

**Additional conte

[2020-01-09 03:42] ufodone commented on #519
@oblaise I tried generating a client cert from an intermediate CA and it worked with both the officially released app from the app store and the latest beta version from test flight.

Would it be possible for you to provide a sample client cert and the associated CA chain that I could try and reproduce this issue with?

[2020-01-09 21:35] BobbyXXX opened #522 "slider do not show transformed values"
Describe the bug
The iOS app UI 2.2.25 do not show JS transformed Value.

To Reproduce
Steps to reproduce the behavior:

    - Have a slider like in the code below
    - Have a Number Item with JS Transformation (in case ul to ml conversion)
    - Number Item have Value 10000 (item.state)
    - The App do not show converted Value (like web do). you will see "10000" instead of expected "10 ml"
   -

[2020-01-10 05:30] dastrix80 opened #523 "Feature Request: HabPanel link in IOS App"
Hi All,

There appears no ability to get to HabPanel using this app, the Android version has one.

How do we go about getting this ability into the openHab IOS app?

Thanks!

[2020-01-11 14:00] timbms commented on #522
Can you please try the beta https://testflight.apple.com/join/563WBakc
And send screenshots?
Thanks

[2020-01-11 17:41] oblaise commented on #519
@ufodone I tried to regenerate part of my chain before I was thinking to add AKI attributes to help construct the chain but without success.

I will share sample certificates with you through a private repository so you can have a look.

[2020-01-12 11:42] weakfl commented on #515
@SAQ1973 Can you please post the first line of your sitemap definition and let me know what your sitemap file is called.

It looks like OH 1.8.3 is really sensible regarding sitemap definition and a corresponding filename. For example, having a sitemap definition like `sitemap demo label="Test" { [...]` with a file named `default.sitemap` will make long-polling fail.

[2020-01-12 11:58] weakfl commented on #510
No feedback received, closing.

[2020-01-12 11:58] #510 closed

[2020-01-12 16:25] ufodone commented on #519
@oblaise The repository you shared doesn't include the private key for sample_certificate.crt so I can't generate the PKCS#12 needed for import into the OpenHAB app.  Can you add that?  Thanks!

[2020-01-12 16:57] oblaise commented on #519
I added it.

[2020-01-12 19:08] SAQ1973 commented on #515
Hi weakfl,

My sitemap named `default.sitemap ` starts with:
`sitemap default label="Haus"`

Stefano

[2020-01-12 19:20] weakfl commented on #515
@SAQ1973 Ok, thanks. I'll have to test a dimmer, but updates did work fine for me when testing a Switch item (OH 1.8.3 and latest TestFlight build). I don't think it's an app issue.

[2020-01-12 23:19] timbms opened #524 "Make watchOS track a sitemap"
**Describe the bug**
WatchOS app should be able to track sitemap changes
Toggle to follow status of switch

.

[2020-01-13 17:21] BobbyXXX commented on #522
![CFE1834B-B67D-4758-8242-711837D0DB6C](https://user-images.githubusercontent.com/48961403/72277000-6e4c1a00-3631-11ea-9695-d8b4bb430308.jpeg)

Ok, I’ve tested, but no success. Slider values are not transformed.

[2020-01-13 17:22] BobbyXXX commented on #522
In this case i expect 49,2ml instead of 49219

[2020-01-15 16:42] Sschhsd commented on #390
Same issue here. Any fixes planed?

[2020-01-16 22:39] timbms opened #525 "Allow the watch app to send commands."
**Describe the bug**
Apple Watch app must be able to send commands

**Expected behavior**
Send out commands and track status of sitemap

[2020-01-17 07:45] timbms commented on #522
Problem is understood: For sliders in iOS app we update the details locally based on the current slider position. We introduced this feature to give an immediate feedback. However, this is not ideal for transformations that are evaluated on the server.
We should review this: My proposal would be to skip the local update if a transformed state is sent

[2020-01-17 07:57] oeiber opened #526 "Access to /rest/bindings"
Hi,
a few days ago I had the idea to allow users access to neccessary ressources only, using nginx. I think it makes sense the ios oh app can access /rest/items, /rest/sitemaps and /icons. Can anybody say why the app also sends request to /rest/bindings?

Thank you!

Oliver

[2020-01-18 16:25] timbms commented on #526
Look it up in the code.
The iOS app uses the request to rest/bindings to determine the version of the server it connects to.
It probably could use other endpoints. Why does it pose a problem to you?

[2020-01-21 21:04] timbms opened #527 "Color enable the watchOS app"
**Describe the solution you'd like**
Respect the labelcolor and the valuecolor tags for representation in SwiftUI

[2020-01-21 21:15] #525 closed

[2020-01-21 21:16] #527 closed

[2020-01-21 21:16] #499 closed

[2020-01-21 21:18] #521 closed

[2020-01-21 21:23] #524 closed

[2020-01-21 21:26] #500 closed

[2020-01-21 21:28] #303 closed

[2020-01-21 21:37] timbms opened #528 "Make watchOS app handle authentication"
**Is your feature request related to a problem? Please describe.**
watchOS app is not yet properly handling authentication

**Describe the solution you'd like**
Make the watchOS app handle authentication

[2020-01-23 22:42] timbms commented on #528
@dhermanns : I got the develop-watches branch to work on the watch with myopenhab.org - For the time being set : Always send credentials and Ignore SSL certificates to enabled - Not ideal but at least a first step.
@ufodone: do you have some time to investigate on the necessary corrections for authentication/certificates?

[2020-01-24 06:54] timbms opened #529 "Port iOS items to watchOS app"
**Is your feature request related to a problem? Please describe.**
watchOS app is only supporting switch and slider

**Describe the solution you'd like**
Port all relevant items

**Additional context**
Proceed step by step

[2020-01-24 09:33] SAQ1973 commented on #515
I close this issue, because it now also happens with the 2.2.8 app, and the behaviour is slightly different:

I am comparing now the iPhone iOS OH app 2.2.8 against the iPadOS OH app 2.2.56 and against the web app of the OH 1.8.3 server with Safari.
The setup is still the same: A switchable and dimmable light on a KNX dimmer actor controlled by the OH binding. I switch on the light using a convent

[2020-01-24 09:33] #515 closed

[2020-01-24 09:37] SAQ1973 commented on #505
The behaviour is slightly different:

I am comparing now the iPhone iOS OH app 2.2.8 against the iPadOS OH app 2.2.56 and against the web app of the OH 1.8.3 server with Safari.
The setup is still the same: A switchable and dimmable light on a KNX dimmer actor controlled by the OH binding. I switch on the light using a conventional KNX control in the room and monitor the behaviour in my OH sitemap

[2020-01-24 09:38] SAQ1973 commented on #354
My issue is similar, but now shows a diffrent behaviour:

I am comparing now the iPhone iOS OH app 2.2.8 against the iPadOS OH app 2.2.56 and against the web app of the OH 1.8.3 server with Safari.
The setup is still the same: A switchable and dimmable light on a KNX dimmer actor controlled by the OH binding. I switch on the light using a conventional KNX control in the room and monitor the behavi

[2020-01-24 20:43] DigiH commented on #354
While this has improved dramatically for me with the last several updates for most of the original UI update issues, it still does happen quite often when a mapped selection is selected, which in turn sets a setpoint. This always updates immediately in a web browser viewing the Basic UI, but often hangs (doesn't update for many seconds or only through a manual reload) in the latest 2.2.56 build.

[2020-01-24 22:09] timbms commented on #529
I have added support for setpoint, rollershutter

[2020-01-25 06:03] Mr-iX commented on #529
@timbms Could you publish a preview to TestFlight to try it out or is it to early for that?

[2020-01-25 07:12] timbms commented on #529
@Mr-iX: The functionality of the app is progress. But it is pretty basic yet on the network connection. It supports http and connection to myopenhab.org.
If you could build it locally on Xcode and give me feedback it would add confidence to push it to TestFlight.

[2020-01-25 21:47] ufodone commented on #528
@timbms I'll try and have a look once I've sorted out the other issue with the client certificates not working when issued by an intermediate cert.

[2020-01-25 22:17] timbms commented on #528
Great. I made good progress on the functional side covering many elements on a sitemap. I can switch the lights while on the go from my wrist. But before releasing to beta, the network connectivity should be sufficiently solid to cover most of many different setups out there.

[2020-01-27 17:13] lippertmarkus opened #530 "Switch with defined mappings in sitemap doesn't resend command on multiple clicks like the basic UI does"
**Describe the bug**
When declaring an item like:
[code]
and having a mapping for that item in the sitemap like:
[code]
the behavior for pressing one of the 3 buttons multiple times is inconsistent between the basic UI and the iOS app:
- In the basic UI if one of the values is already selected and you click on it again, the command is sent to the item multiple times:
[code]
- In the iOS app you ca

[2020-01-28 19:59] timbms opened #531 "Enable colorpicker on watchOS app"
**Is your feature request related to a problem? Please describe.**
watchOS app should have colorpicker

**Describe the solution you'd like**
Similar to iOS app allow for colorselection

[2020-01-29 18:19] timbms commented on #519
@oblaise: Please check with TestFlight version 2.2.59

[2020-01-29 18:34] ufodone commented on #519
You will need to re-import your client certificate to get it work work as prior to the fix, the import process was not importing the certificate chain from the PKCS12.

[2020-01-30 07:06] oblaise commented on #519
Ok. I'm waiting for the TestFlight version to be avialble because at this time I don't see it already in TestFlight. Always at 2.2.58.

[2020-01-30 18:55] timbms commented on #519
@oblaise : 2.2.59 is still in review at Apple.

[2020-01-30 20:12] timbms commented on #519
2.2.59 is available for testing

[2020-01-31 09:54] oblaise commented on #519
I tested it and it's OK now. I'm able to import the pkcs#12 (it was including the chain in my file since the beginning) and I reconfigured my NGINX to send only the root CA certificate and it's working well.

[2020-01-31 11:05] timbms commented on #519
@oblaise thanks for testing immediately
@ufodone thank you for this substantial contribution
Please note feature is also included in Appstore release 2.3.1

[2020-02-01 15:18] timbms commented on #519
This should work now. I will close the issue.

[2020-02-01 15:18] #519 closed

[2020-02-03 20:22] timbms opened #533 "Instable communication in watchOS app"
**Describe the bug**
watchOS app shows instability in communication

**To Reproduce**
Steps to reproduce the behavior:
1. Install app on Apple Watch
2. Go to Settings in iOS app
3. Save settings in iOS app
4. Though settings are synchronised, the app may not always start following the remote server

**Expected behavior**
Stable communication

**App (please complete the following information):**
 -

[2020-02-03 21:42] timbms opened #534 "Format setpoint according to step size"
**Describe the bug**
Setpoint formatting is not following step size

**To Reproduce**
Steps to reproduce the behavior:
https://community.openhab.org/t/setpoint-with-change-of-0-01-not-working/92020

**Screenshots**
see above

[2020-02-03 22:06] timbms opened #535 "Handling of group items in watchOS app"
**Is your feature request related to a problem? Please describe.**
watchOS should be enabled to handle groups

**Describe the solution you'd like**
Navigation through hierarchies of groups

[2020-02-05 14:58] weakfl commented on #400
FWIW: [SE-027](https://github.com/apple/swift-evolution/blob/master/proposals/0272-swiftpm-binary-dependencies.md) (Binary Dependencies in SPM) has been accepted and the relevant PR has been merged.

The proposal came from Google, specifically for Firebase integration. But I think this will also be beneficial for things like SwiftLint/SwiftFormat.

[2020-02-05 17:27] timbms commented on #400
Great when SE-027 will be available we could reconsider SPM

[2020-02-06 08:52] weakfl commented on #530
@lippertmarkus

You should be able to achieve what you want like this:

Item:
[code]

Sitemap:
[code]

[2020-02-06 17:36] DigiH opened #536 "Dynamic icon assigned to a switch item doesn't work if the switch item is shown as a text item in the sitemap"
Assign an icon to a switch item in an .items file and assign it an icon, e.g.
`
Switch MotionSensor_MotionStatus          <motion>`

with the icon having dynamic options:

[code]

Define the switch item as a text item in the sitemap

`Text item=MotionSensor_MotionStatus label="Motion[MAP(motion_sensors.map):%s]" valuecolor=[OFF="green",ON="red"]`

or alternatively define the icon in the sitemap

`

[2020-02-06 22:55] DigiH commented on #468
I keep seeing this as well, also with the latest 2.3.5 version, it happens when there are several charts underneath each other, as in shutterfreak case, and for me with 8 charts in a row. From what I have experienced, it seems to usually be the chart being duplicated which is the first one initially hidden when scrolling up the page. This duplication also means that the chart which should follow i

[2020-02-07 12:27] danricho opened #537 "Notifications Not Received"
Notifications are not received on iPhone.

The app is setup to work with myopenhab.org as it always has (and worked). I am able to view the states of items in the site maps and manipulate them, but notifications never get pushed to the phone. I see them appear in the notifications log on the myopenhab website. Additionally, sending a message to my device via myopenhab website doesn’t work either.

[2020-02-07 13:41] Mr-iX commented on #537
@timbms It seems that the APN certificate expired. There’s already a thread in the community. Could you help there or do you know the reponsible person?
[https://community.openhab.org/t/myopenhab-ios-notifications-problem](https://community.openhab.org/t/myopenhab-ios-notifications-problem)

[2020-02-07 18:46] timbms commented on #537
@Mr-iX this is unrelated to the app and needs to be solved on the my.openHAB backend. @digitaldan: Are you available to look into it?

[2020-02-09 07:14] weakfl commented on #537
Cert has been renewed, should work again.

[2020-02-09 07:14] #537 closed

[2020-02-09 07:32] lippertmarkus commented on #530
@weakfl Thanks for the hint. I already tried that but the UI seems like keeping the state of the item anyway and doesn't allow you to click on it again. The selection is only cleared when reloading. Without a reload you can't click on it again (it doesn't send the command again):
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/1463140/74098279-8b7fe580-4b16-11ea-8cd1-01463fc494

[2020-02-09 07:41] timbms commented on #537
Well the cert will still need to be installed on the server

[2020-02-09 07:44] weakfl commented on #537
@digitaldan already took care of it: https://community.openhab.org/t/myopenhab-ios-notifications-problem/62320/57

[2020-02-09 07:48] weakfl commented on #530
@lippertmarkus

Your item probably already has a state. For this to work, the state of the item must be NULL. Then the UISegmentedControl will be set to momentary. Please check the current state through the console:

`smarthome:status Scene_General`

Then try to set the state to NULL and keep autoupdate disabled:

`smarthome:update Scene_General NULL`

Also, do you have any rules that change the s

[2020-02-09 08:08] lippertmarkus commented on #530
That worked, thanks a lot!

Coming back to the original issue: Shouldn't the web UI and the mobile apps behave the same when not setting `autoupdate=false` (whether it's "don't send command on second click" or "send command again on second click")? If that's intended we can close this issue.

[2020-02-09 08:36] weakfl commented on #536
@DigiH Which OH and App versions are you using? Working as intended for me (OH 2.5.1, latest App version):

![switchtest](https://user-images.githubusercontent.com/614985/74099044-9b4ff780-4b1f-11ea-8378-4a93f075caee.gif)

[2020-02-09 08:41] weakfl commented on #530
That's a good question and I'm not sure tbh. Should be easy enough to change it though.

@timbms thoughts?
@mueller-ma how does the Android app handle this case?

[2020-02-09 09:24] weakfl commented on #455
Maybe this was just a caching issue (replacing stock icons). I noticed that the the "Clear Image Cache" setting was broken and didn't do anything.

[2020-02-09 18:10] DigiH commented on #536
@weakfl - I'm using 2.5.1-2. Seeing your test I also tried exchanging the icon for one of the motion sensors with the default "switch" icon - it works.
• Back to my own icons, which are actually named "ha_motion.png", "ha_motion-off.png" and "ha_motion-on.png". Cleared the cache of OH and restarted, cleared the image cache in the iOS app, which I have done many many times already before - still no

[2020-02-09 19:20] weakfl commented on #536
@DigiH I didn't use stock icons either, I just copied them for a quick test but renamed them.

Clearing the cache is broken. I fixed it today, but it's not yet available.

[2020-02-09 20:42] DigiH commented on #536
@weakfl - Ok, then it was the broken cache clearing which left me with the constant ON icon. Will double check the issue once the fix has been released. Thanks

[2020-02-13 06:37] timbms commented on #536
@DigiH Try with 2.3.11 on Testflight

[2020-02-13 11:11] DigiH commented on #536
With having changed another icon I also just realised that, while it obviously doesn't show up in the iOS app until I can try 2.3.11, it DOES show when logging in remotely through myopenhab - since it's the first time I'm logging in remotely after the new installations recently. Logging back in locally I'm still stuck with the old unchanged icon.

This makes it look like there are two separate ico

[2020-02-13 11:30] weakfl commented on #536
Technically those are different images since they have a different source URL. But with 2.3.11 the whole cache will be purged, both local and myopenhab.

[2020-02-13 11:39] DigiH commented on #536
That's what I assumed, technically comprehensible but from a user standpoint possibly confusing when the 'same' icons on the same sitemap might appear differently depending on local or remote login - until the cache is cleared.

I need to stop playing with my icons until 2.3.11 is out ;)

[2020-02-13 11:45] weakfl commented on #536
I agree. And we could set the same cache key for local/myopenhab icons. I'm not sure if it's worth the effort, but I might look into it 😉

[2020-02-13 11:56] timbms commented on #536
2.3.11 is in review by Apple

[2020-02-13 21:41] timbms commented on #536
2.3.11 is available to beta testers

[2020-02-13 21:42] DigiH commented on #536
Verified with 2.3.11 that both local and remote caches are cleared. Closing as fixed. Thanks.

[2020-02-13 21:42] #536 closed

[2020-02-14 16:07] JensHoRi commented on #534
Increase and decrease of step 0.01 working in actual TestFlight. But still issue with slider value.

Images from basic UI Sitemap and iOS App:

![5DAFB74D-1DE2-4C31-8C50-F1ADC0C4A4BF](https://user-images.githubusercontent.com/47488279/74547517-883c8d80-4f4c-11ea-8f6b-25cd2e644fe0.jpeg)
![B80FE16B-BAD6-4719-AE39-A384298F7F82](https://user-images.githubusercontent.com/47488279/74547521-896dba80-4f4c

[2020-02-15 11:21] weakfl opened #538 "Crash in SegmentedUITableViewCell.pickOne(_:)"
See https://community.openhab.org/t/crash-with-ios-app-2-3-11-on-ios13-3-1/92804/2

[2020-02-15 15:08] #538 closed

[2020-02-15 19:19] timbms commented on #534
You are right: the displayed value is calculated locally in Slider cells.
My proposal would be do take the formatted value in widget label, if there is one. Otherwise to  display the locally calculated value. I will commit a patch

[2020-02-15 19:22] timbms commented on #534
Duplicate of #522

[2020-02-15 19:22] #534 closed

[2020-02-16 08:30] timbms commented on #522
Please try with 2.3.14 as soon as available via TestFlight

[2020-02-16 08:31] timbms commented on #470
Closed we should rather go for a SwiftUI version running on Mac

[2020-02-16 08:31] #470 closed

[2020-02-16 08:33] timbms commented on #455
@weakfl : Can we close this issue?

[2020-02-16 08:36] weakfl commented on #455
I think so. We can still re-open if required.

[2020-02-16 09:34] weakfl commented on #530
I've looked into this and unfortunately there's no viable solution to make the control send the command again, therefore I'm closing here.

[2020-02-16 09:34] #530 closed

[2020-02-17 18:17] mueller-ma commented on #530
Hey @weakfl,
I totally forgot about this, but AFAIK the Android app sends the state when the button is pressed, even if it's the same state than before.

[2020-02-17 20:27] timbms commented on #530
To reproduce this we would need to reimplement UISegmentedControl. Probably a lot of effort that should rather go in doing this in SwiftUI

[2020-02-18 01:37] Sc0th opened #539 "Unable to send commands from Watch App"
Issue:
Maybe I am missing something here, but whilst I can sync/view sitemaps on the watch app there appears to be no way to action the command, I can select on/off from a picker but no way to confirm and run the selection. PEBCAK?

Reproduce:
Go to any switch, select on/off try fruitlessly to find a way to run the choice.

Expected:
Send command for OH to action.

App - 2.3.14

iphone XR, Series

[2020-02-20 07:33] delid4ve opened #540 "Webkit-playsinline not integrated for webview items in sitemaps"
when using a webview item in a sitemap <video> tags ignore the playsinline command.
sitemaps opened within the dashboard in safari adhere to this, however the app does not.

[2020-02-20 08:48] weakfl commented on #540
@delid4ve should work with the next TestFlight version. Please report back when it's available.

[2020-02-20 09:24] delid4ve commented on #540
@weakfl whens the next scheduled App Store release and I’ll put it in my diary?

[2020-02-20 09:43] weakfl commented on #540
@delid4ve Probably in the next days. @timbms any plans?

[2020-02-20 21:35] timbms commented on #540
2.3.17 is uploaded to TestFlight. Please be patient until it is released

[2020-02-21 15:38] RobZe89 commented on #144
I still have the problem with the images not reloading. It works on browser (classicUI & basicUI), but not with the beta ios app version 2.3.14

[2020-02-21 18:55] weakfl commented on #144
I think it's safe to assume that cache shouldn't be used if refresh is set.

@timbms I think the SwiftUI version doesn't have refresh implemented yet?

[2020-02-21 18:56] weakfl commented on #540
@delid4ve 2.3.17 is now available. Please let us know if it's working as intended.

[2020-02-21 19:11] timbms commented on #144
SwiftUI indeed hasn’t implemented refresh yet. Do you want to give it a try?

[2020-02-21 19:25] weakfl commented on #144
Sure, I'll give it a try :)

[2020-02-21 19:53] delid4ve commented on #540
Only 2.3.1 showing in App Store still

[2020-02-21 19:56] weakfl commented on #540
You have to install the [TestFlight](https://testflight.apple.com/join/563WBakc) version.

[2020-02-21 19:56] weakfl commented on #540
Great, thanks for the feedback!

[2020-02-21 19:56] #540 closed

[2020-02-24 04:13] ufodone commented on #528
@timbms Finally got some time to look at this.  PR #541 submitted.  Client certs don't work yet but I think most other things should be working now.

[2020-03-11 19:18] jensflorian commented on #522
Can confirm, TestFlight version successfully transforms values for sliders.

[2020-03-14 14:06] weakfl commented on #455
@timbms Did you re-open on purpose?

[2020-03-14 14:06] weakfl commented on #522
@timbms I think we can close this one?

[2020-03-15 05:47] timbms commented on #455
No probably a mistake

[2020-03-15 05:51] timbms commented on #522
@weakfl sure please close it

[2020-03-15 09:57] #522 closed

[2020-03-15 09:57] #455 closed

[2020-04-01 17:48] oeiber opened #542 "Certauth and Webview"
I use grafana for generating graphs. Grafana is published to a subdirectory of my oh url using nginx. However, I use client certs for authentication, but the webview item in ios client only reports there was no certificate sent. Is there a way to pass the cert, which was imported to the oh ios app, to webview items as well?

[2020-04-23 04:14] vjkoskela opened #543 "[Feature Request] Local URL Username and Password Fields"
**Is your feature request related to a problem? Please describe.**
After reading through https://www.openhab.org/docs/installation/security.html I ended up securing my local OpenHab install using:
* Traefik terminated HTTPS
* Traefik provided basic auth
* Self-signed certificate
The setup works great and I can get the iOS Mobile app to connect. However, it took a little digging to figure out that

[2020-04-26 16:21] mpuff commented on #530
please reopen this issue, i have the same, i have changed from android to ios, in the ios app and in the safari browser on the phone this problem occuures

[2020-04-27 20:17] timbms opened #544 "Sitemap containing Group not properly handled"
**Describe the bug**
When a sitemap contains Group, the watchOS dev app becomes unresponsive

**To Reproduce**
Steps to reproduce the behavior:
1. Include a Group
2. Select a Switch
3. See slaggish response

**Expected behavior**
Snappy response

**App (please complete the following information):**
 - Version [e.g. 2.1.0(12)]

**Smartphone (please complete the following information):**
 - Device:

[2020-04-27 20:25] timbms opened #545 "Center icons for up/down keys in watchOS app"
**Describe the bug**
Up/down keys are not properly centered in circle

**Screenshots**
![Simulator Screen Shot - Apple Watch Series 5 - 44mm - 2020-04-27 at 22 22 26](https://user-images.githubusercontent.com/5411131/80417379-f2bb6380-88d5-11ea-9d9e-99be0782f5ac.png

[2020-04-27 20:53] #545 closed

[2020-04-27 20:57] timbms commented on #544
See #535

[2020-05-01 16:25] wtimme opened #546 "Make Firebase crash reporting opt-in to comply with GDPR"
**Is your feature request related to a problem? Please describe.**
As a user in the European Union (and, arguably, anywhere else in the world), I want to have control over the data that is collected about me. This includes crash reports.

As openHAB, I want to be compliant with the law and Google's terms of services.

At the moment, [Firebase is started][1] as soon as the app has finished launchin

[2020-05-01 16:38] timbms commented on #546
Good idea. @wtimme: A PR would be very much appreciated.

[2020-05-02 18:34] wtimme opened #547 "(Meta) Change default branch to `develop`"
**Is your feature request related to a problem? Please describe.**
For #546, I've clone the repository and created a branch (from `master`, since that is the default branch). It was only when I reviewed my changes before pushing that I realized that I should probably start my branch from `develop`.

**Describe the solution you'd like**
In GitHub, set the default branch to be `develop`.

That way,

[2020-05-05 18:44] jainhemendrah opened #549 "Compiliation Issue: Xcode11 on Catalina macOS (Virtual Box)"
**Describe the bug**
Swift Compilation Error.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Catalina OD (V-10.15.4) & Xcode11
2. Follow the steps to download openhab-ios (github), cocoapods,etc..
3. Open Xcode --> openhab-ios project
4. Start Compiling
5. Reported Error

a.   Swift Compilation Error
      1.  'Model' is not a member of type 'SideMenuNavigationController'
      2. A

[2020-05-09 20:03] timbms commented on #549
If I am not mistaken, this seems to be related to the module SideMenu

[2020-05-10 12:10] jainhemendrah commented on #549
Yes. You are right.

Issue resolved by using :

Xcode: 11.3.1

But , I get a different issue w.r.t Simulator. This occurs when I run Xcode Simulator

FBSOpenApplicationErrorDomain error 5. What does this mean?

[2020-05-13 11:39] timbms commented on #549
I have no idea  what is going on. Try to Google

[2020-05-15 08:49] jainhemendrah opened #550 "Removal of certain items from 'Settings' page"
Dear,
  I would like to remove the follwoing from the 'Settings' page"

'Always send credentials' under 'openhab connection'

&

All items under 'Application settings'.

Please guide.

Rgds,
Hemendra

[2020-05-15 21:37] timbms commented on #550
?? Sorry I don't understand this request

[2020-05-15 21:38] #549 closed

[2020-05-15 21:38] #550 closed

[2020-05-15 21:39] timbms commented on #546
We can close this one.

[2020-05-15 21:39] #546 closed

[2020-05-19 07:34] wtimme commented on #546
Thanks for being so open for contributions! 👏

[2020-05-21 14:53] Stefan136 commented on #390
Seems this problem still exists in latest OH 2.5.5 as well.
Is anyone working on a fix?
Every time I close OpenHAB IOS App, I get the errors logged.

[2020-05-26 19:29] crnjan commented on #523
Hey!

As shared [here](https://community.openhab.org/t/simple-ios-habpanel-app/99457) I wrote a simple HABPanel IOS app that does the trick for me, but unfortunately don't have a way/account to share the app via TF/app store for others to benefit, unless using the code and build it for themself.

Also checked the OH ios app source code briefly and wondering what would the best way to either integr

[2020-05-31 15:34] RafalLukawiecki opened #552 "Incorrect OnOff icon state for Color Items"
Color items mapped to a Switch element in the sitemap are showing as On even if they are Off, as tested on 2.3.21. They show correctly in the web UI (Basic) as well as in other parts of the system, admin UI and in other bindings and add-ons (notably in HomeKit).

This is the correct state as shown in web UI:

<img width="351" alt="Screenshot 2020-05-31 at 16 25 44" src="https://user-images.githubu

[2020-06-07 07:38] maxulm opened #553 "Sitemap stays empty on AppleWatch"
The sitemap on my AppleWatch stays empty although the settings seems to be synched.
Only the "Active URL" stays empty. I've created a sitemap with the name "watch.sitemap" and the header "sitemap watch label="watch"
{"

[2020-06-20 20:39] Boby71 commented on #373
I'd be already happy, if all elements of the active sitemap would be searched. Actually only the current screen is being searched...

[2020-07-08 15:16] holiday-sunrise commented on #239
SwiftPasscodeLock cant be used, will be rejected from apple.

"Your app contains features that mimic the passcode iOS interface ."

[2020-07-08 21:31] 2wyck3d commented on #239
It's been a long time since I worked on an iOS app but I found a few articles discussing the implementation of Face/Touch ID here:

https://developer.apple.com/documentation/localauthentication/logging_a_user_into_your_app_with_face_id_or_touch_id
https://developer.apple.com/videos/play/tutorials/face-id-and-your-apps/
https://www.mindinventory.com/blog/integrate-biometric-authentication-in-iphone

[2020-07-09 14:45] DigiH commented on #530
I second reopening this issue, to get the same behaviour as in the Basic WebUI for segmented buttons.

[2020-07-09 14:45] DigiH commented on #54
+1

[2020-07-10 21:33] pelerner opened #554 "min/max/step definitions for Setpoint based on UoM-Item not correctly handled by iOS-App"
**Bug**
A UoM-Item defined as Number:Time communicates with the actor on the basis of "**seconds**" (knx DPT 7.005).
But it should be changed in the Sitemap (HTTP/iOSApp/...) on the basis of "**minutes**".

While this works fine in the Web/HTTP-BasicUI and `minValue=5 maxValue=60 step=5` is handled based on the context accordingly as `minutes`, the iOS-App-UI does not honor the conversion from sec

[2020-07-13 21:53] almonie commented on #553
I had the same issue. I rolled back a version, and it now works. Something broken in the latest version. Good work on this by the way. Looks good :-)

[2020-07-14 19:44] timbms commented on #554
Looks like we miss the "Fix Units-of-Measurement (UoM) handling" solved for openhab-android in  https://github.com/openhab/openhab-android/pull/1146 in openhab-ios

[2020-07-25 10:14] timbms commented on #554
@pelerner Could you please send the full JSON sent by the REST API

[2020-07-27 21:25] pelerner commented on #554
The relevant JSON part is as follows ...

[code]

"widgetId":"00040202" does not work correctly on the basis of minutes in iOS.
"widgetId":"00040203" is on the basis of seconds .... as required by the actor.

They are both based on the UoM item iAUSSEN_STECKDOSE_ZISTERNE_TREPPENLICHTZEIT.

Do you need more info?

[2020-07-31 17:32] timbms commented on #554
Thank you @pelerner
This is very useful. I am preparing a pull request to address the topic

[2020-08-01 09:51] weakfl commented on #547
done

[2020-08-01 09:51] #547 closed

[2020-08-02 08:00] #552 closed

[2020-08-03 06:47] ssalonen opened #556 "Report offline openHAB with a clear message instead of generic HTTP 500"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I think it would be a nice UX improvement if the app would clearly communicate when openHAB is offline.

Currently an "error popup" is shown with somewhat generic (and technical) http 500 message

**Describe the solution you'd like**
A cle

[2020-08-05 15:59] jlk opened #557 "Feature Request - Multiple server support"
Similar to https://github.com/openhab/openhab-android/issues/10, it would be very useful to me to be able to select between multiple OpenHab installations within the IOS app, say from a dropdown under the hamburger menu.

I guess in detail this would require modifying the settings page to allow defining multiple servers, their authentication, and local/remote URLs.

**Use case:**
I have to OH inst

[2020-08-16 14:25] timbms commented on #526
@oeiber: next version will go to /rest instead of /rest/bindings to determine version

[2020-08-16 14:25] #526 closed

[2020-08-16 20:55] kaikreuzer opened #558 "No sitemaps found when using openHAB 3"
I just tried the iOS app against openHAB 3 and was surprised to find it not working:

![image](https://user-images.githubusercontent.com/3244965/90343727-7c24ac00-e013-11ea-943c-9902c8131a0c.png)

In my openhab.log, I can see that it is doing a correct HTTP request:
[code]
and the openHAB runtime returns valid content on that url.

I am not clear where the problem is, since the sitemap response sh

[2020-08-16 21:15] almonie commented on #558
The Apple Watch also returns a blank sitemap with openHAB 2. Something changed just before the latest iOS release.

[2020-08-17 05:44] timbms commented on #558
@kaikreuzer: Is there an accessible demo openHAB 3 server?

[2020-08-17 06:10] kaikreuzer commented on #558
@timbms You can have a try with http://ys-habot.westeurope.cloudapp.azure.com/

[2020-08-17 16:19] timbms commented on #558
@kaikreuzer openhab-ios determines the available sitemaps on http://ohui.azurewebsites.net/rest/sitemaps which returns:
`[{"name":"uicomponents_page_ea2d42a7","label":"New Sitemap","link":"http://localhost:8080/rest/sitemaps/uicomponents_page_ea2d42a7","homepage":{"link":"http://localhost:8080/rest/sitemaps/uicomponents_page_ea2d42a7/uicomponents_page_ea2d42a7","leaf":false,"timeout":false,"widget

[2020-08-17 16:45] kaikreuzer commented on #558
Hm, that must be some kind of misconfiguration of that specific server then...
I just tested it with my own instance and it does not show any `localhost`s. Locally, I see `"link":"http://192.168.0.4:8080/rest/sitemaps/default"` and through myopenHAB I get `"link":"https://myopenhab.org/rest/sitemaps/default"`.

Maybe easiest to test, if you could quickly [download a 3.0 distro](https://ci.openhab.

[2020-08-20 07:30] timbms commented on #558
I tested with downloaded 3.0 distro. Endpoint for version detection was to /rest/bindings. This currently gives an error
{"error":{"message":"User is not authenticated","http-code":401}}
Could this be related openhab/openhab-android#2145?
Version detection is now changed to /rest. See #526

[2020-08-20 08:20] kaikreuzer commented on #558
This is absolutely intended, because this endpoint should only be relevant for admin use - hence it now (in 3.x) requires authentication.

This sounds like the absolutely right solution. But please note the discussion in https://github.com/openhab/openhab-android/issues/2145 and make the detection to go against `/rest/´ and not just `/rest`, please!

[2020-08-20 09:16] timbms commented on #558
Ok endpoint changed to /rest/

[2020-08-20 09:16] #558 closed

[2020-08-20 09:39] kaikreuzer commented on #558
Cool, thanks - when will this be available in the AppStore?

[2020-08-20 09:48] timbms commented on #558
Am just deploying a new built to AppStore

[2020-08-20 10:56] martinvw commented on #151
Hello @timbms it would be great if we could translate the ios app also via https://crowdin.com/project/openhab-android like we do with the android app, happanel and some parts of core. Would that make sense for you?

[2020-08-20 12:22] timbms commented on #151
@martinw: This makes total sense.
@weakfl: You seem to have a plan. How could this be enacted?

[2020-08-20 12:32] weakfl commented on #151
Well, basically:

- Change Crowdin setup to support iOS and Android, change config to hide duplicates
- Add some convenience functions in the iOS app to facilitate localization and add all existing keys/terms
- Add missing terms to Crowdin
- Add localization unit tests (I have those ready from other projects)
- Add a localization step to the fastlane release/beta lanes to pull and update translati

[2020-08-20 12:34] martinvw commented on #151
@mueller-ma ping, it might make sense that you also see this discussion, I don't know how experienced you are with CrowdIn and I would not know whether we did something strange by not combining the projects :-)

[2020-08-20 13:09] mueller-ma commented on #523
On Android we just display a WebView that loads the HABPanel from the server.

[2020-08-20 13:16] mueller-ma commented on #151
I don't think using fastlane is needed here. In the Android repo Crowdin opens a PR when there are new translated strings. From time to time I merge this PR manually.
I could configure this for the iOS repo as well, but then I need manager access to https://crowdin.com/project/openhab-ios. @kaikreuzer @thomdietrich @openhab-bot

@timbms Where are the English strings located in this repo?

I don't

[2020-08-20 14:05] weakfl commented on #151
I'd prefer to have CI handle this instead of requiring manual interaction whatsoever.

Nothing is localized yet, so there are no strings files.

If that's the case we can as well use the existing iOS project on Crowdin.

[2020-08-20 15:36] weakfl commented on #151
@mueller-ma Can you grant me the required permissions for the openhab-ios project on Crowdin? I'll then prepare a PR for i18n support...

[2020-08-20 16:57] timbms commented on #523
@mueller-ma : Reproducing the android approach was precisely the intention

[2020-08-20 20:37] ghys commented on #558
Just FYI: in openHAB 3.0 that `/rest/` call currently includes a `runtimeInfo` object with the actual openHAB version in it (`runtimeInfo.version`). I believe you can assume that if it is present, it's an OH3+ instance, and if it isn't, it's an OH2.x instance, if it helps...

[2020-08-21 05:42] oeiber opened #560 "Support for critical push messages"
Would be great if there were support for ios‘s critical pushmessages, because the user receives the messages wirh notification tone even the phone is muted or in do not disturb mode.
In my case it would especially usef for fire alarms.

It would also be great if there were an additional field for pushserver‘s address for those who want to to cnnect to their own oh instances directly and wants to r

[2020-08-21 07:02] RafalLukawiecki opened #561 "Regression of #552 Incorrect OnOff icon state for Color Items in 2.4.0"
Just-released build 2.4.0 regresses issue #552. Going back to 2.3.27 fixes it.

[2020-08-21 07:23] mueller-ma commented on #151
No, I don't have the required permissions for that. Kai and Thomas (both pinged above) can do that.

[2020-08-21 07:37] kaikreuzer commented on #151
@weakfl I'll look into that this weekend, so stay tuned!

[2020-08-22 03:11] quensen opened #562 "Empty sitemap list in iOS app 2.4.0"
**Describe the bug**
Error „openHAB returned empty sitemap list“ is displayed. Sitemap is not displayed in app.

**To Reproduce**
Steps to reproduce the behavior:
1. Update the openHAB iOS app from the TestFlight version 2.3.27 to 2.4.0.
2. Open the app.

**Expected behavior**
The sitemap is displayed within the app. No error msg.

**Screenshots**
![0B188CAD-851E-4EF8-BBF5-46F1621591D1](https://us

[2020-08-23 16:51] belovictor commented on #562
@timbms no prob. I've checked out this branch and tested it against 1.x, works fine. Hope you will be able to deliver it at least to TestFlight to help affected users.

[2020-08-23 16:57] timbms commented on #562
Thanks @belovictor
I will submit a patch asap

[2020-08-24 04:24] maxulm commented on #553
Problem seems to be solved with version 2.4.1 :)

[2020-08-24 04:24] #553 closed

[2020-08-24 06:08] belovictor commented on #562
@timbms 2.4.1 from TestFlight works just fine, many thanks!

[2020-08-24 06:14] drschrick commented on #562
Dears,

new version from Testflight is function at iWatch now, thanks. No problems detected ;-)

Thank you.

[2020-08-24 10:25] quensen commented on #562
Yes, 2.4.1 works again. Thank you guys!

[2020-08-24 10:25] #562 closed

[2020-08-24 21:16] pdacton commented on #562
Another 1.8 user (looking to upgrade to 3) confirms, all is well. Thanks!

[2020-08-24 22:19] kaikreuzer commented on #151
Ok, I hope I have set up the integration correctly - at least Crowdin now started creating PRs against the `develop` branch, see https://github.com/openhab/openhab-ios/pull/565.
Let me know if there is anything else I should do!

[2020-08-25 07:09] martinvw commented on #151
@weakfl I translated everything to Dutch can you proofread them or can you make me a proofreader, thanks!

I also noted that in CrowdIn I do not see `openHAB/Resources/en.lproj/InfoPlist.strings` and GitHub shows them empty so that could make sense.

[2020-08-25 07:44] weakfl commented on #151
@martinvw Thanks! I don't speak dutch but I've added your translations as is just to make sure that they don't get lost, because something is still wrong with the project setup.

[2020-08-25 07:48] weakfl commented on #151
@kaikreuzer Something seems to be wrong with the configuration. Crowdin is using just two-letter codes although we sometimes need four (eg. `pt-PT` and `pt-BR`).

I tried to update the config file with `%locale%` placeholder instead of `%two_letters_code%` but that didn't work. I'm not sure what is wrong, I don't have experience with Crowdin...

@mueller-ma Any suggestions?

[2020-08-25 08:17] kaikreuzer commented on #151
@weakfl I indeed only did 2-letter-code mappings. In Android, I see we have (these exceptions)[https://github.com/openhab/openhab-android/blob/master/crowdin.yml#L10-L16] defined. Would the same make sense here? This would mean that `pt-PT` is still mapped to `pt`, while `pt-BR` would be `pt-BR` (I assume we do not want/need the additional "r" here for iOS, right?).

[2020-08-25 08:44] mueller-ma commented on #151
Maybe pause and resume the Github integration in Crowdin?

[2020-08-25 08:58] TDSnet commented on #562
I use the version 1.x. with lots of satisfaction since 2015 and was devastated to lose my site with IOS version 2.4.0. I found my smile again with version 2.4.1!  Thank you for your responsiveness, what you are doing is great

[2020-08-25 10:27] timbms commented on #562
Please test slider and rollershutter elements. We could then release 2.4.1

[2020-08-25 13:11] oeiber commented on #560
To my second question: Would it be possible to register an ios device to myopenhab‘s push notification service without configuring myopenhab.org as internal or external host? maybe the settings can be discovered using the oh cloud thing settings automatically? thank you!

[2020-08-25 13:24] oeiber opened #567 "Support for GeoLocation"
Hi!
A few days ago I tested home assistant including their ios app. I‘ve seen there is a native support for location tracking: The iphone‘s location will be polled in a configurable period and the distance to the home location is automatically calculated using the predefined homelocation in home assistant itself.
Would it be possible to add this functionality also to oh app for ios?

[2020-08-25 20:05] roben opened #570 "WatchOs app not connecting"
**Describe the bug**
The watch app only shows an empty sitemap. First I thought it was an issue with my sitemap but digging further revealed that no requests are logged on the server at all. Tested with and without wifi. Selecting the watch sitemap within the iOS app works just fine, too.

**App (please complete the following information):**
 - Version 2.4.0.1580410446

**Smartphone (please comple

[2020-08-25 20:06] roben commented on #570
I am not sure what to do to debug this any further as nothing is shown at all within the app and no requests are received from the server.

[2020-08-26 06:36] NorbertHD commented on #570
This bug is fixed in version 2.4.1, it's currently only available at [Testflight](https://testflight.apple.com/join/563WBakc).

[2020-08-26 08:06] weakfl commented on #151
@kaikreuzer @mueller-ma

Thanks both for your input, using `%osx_locale%` and language mapping seems to work well enough. It looks like Crowdin API v1 is ignoring the language mapping, but at least it's distinguishing between `pt-PT` and `pt-BR`, so CI integration works too.

@timbms I think you're planning a new release, maybe we could add the Dutch translations? Then @martinvw could check if I'v

[2020-08-26 12:16] DigiH opened #572 "Slider Item update issue with build 2.4.1 - regression from 2.4.0"
When Slider Items get a sendCommand or postUpdate the numerical value correctly shows the change, but the sliders themselves don't move/change.

Strangely enough the sliders work fine (not always 100% though, still due to https://github.com/openhab/openhab-ios/issues/354) with version 2.4.0, which according to the source diff are identical. So might be down to some other build settings.

- App ver

[2020-08-26 18:05] mueller-ma opened #573 "Remove icon format setting"
Instead of having a setting to select the icon format, the app should use the parameter `anyFormat=true` in the icon url.
PR for the openHAB Server: https://github.com/openhab/openhab-core/pull/978
Corresponding issue for the Android app: https://github.com/openhab/openhab-android/issues/1507

[2020-08-26 21:33] linsenpago commented on #390
I have also the same issue with this errors...

openHAB version: 2.5.6-2
iOS app 2.4.0

But i did not force close the app... it seems when it goes to "sleep mode" in the backround or so.

`2020-08-26 23:28:54.268 [ERROR] [ersey.server.ServerRuntime$Responder] - An I/O error has occurred while writing a response message entity to the container output stream.

org.glassfish.jersey.server.internal.pr

[2020-08-27 08:04] timbms commented on #572
Thanks for the feedback. Animated gifs made it easy to trace.

[2020-08-27 08:05] #572 closed

[2020-08-27 08:23] timbms commented on #572
Will be in 2.4.2

[2020-08-27 08:56] weakfl commented on #573
Need to fix #351 first.

[2020-08-28 14:08] #554 closed

[2020-08-28 21:09] timbms commented on #151
2.4.4 will have localisations for nl and de. fi is missing a proofreader validation.
It is just being sent to App Store .

[2020-08-28 21:52] mstroeve commented on #570
Same issue here when using the latest TestFlight build.
First tab (sitemap) is completely blank. Using OH 2.5.8 also had this issue with previous TestFlight builds last months I thought it was stil work in progress and never had a working watch app.
The sync preferences options works and fills the fields with correct values.
@timbms any suggestion what we could do to get usable debug information?

[2020-08-29 09:27] martinvw commented on #151
Great I already tested it through test flight!

[2020-08-29 09:44] weakfl commented on #151
@martinvw Nice, thx for testing. Lmk if you find any missing translations.

@timbms fyi: if you want to add new strings, you can just add them to the English l10n and the run the `crowdin` lane. This should add the new strings to all other l10ns.

[2020-08-29 09:44] #151 closed

[2020-08-30 07:01] weakfl commented on #542
@timbms I don't use client certs, so I can't really test this. Could you maybe test if the branch `webview-auth` fixes it?

[2020-08-30 12:49] luigicefariello commented on #562
I have the same error.. where I can download 2.4.1 version of app ?

[2020-08-31 00:37] vgrebenschikov commented on #348
Broken again, with iOS app 2.4.0

[2020-09-02 17:14] Stormwind99 commented on #348
@vgrebenschikov also seeing this broken again, with iOS client 2.4.0 failing to connect to OpenHAB 1.8 instance.

[2020-09-02 17:19] Stormwind99 opened #574 "Regression of #348 Returned empty sitemap list"
**Describe the bug**
When attempting to connect to some OH instances (like older 1.8 instances), client fails with "returned empty sitemap list" error.

Regression of #348

**App (please complete the following information):**
 - 2.4.0 iOS

**Smartphone (please complete the following information):**
 - iPhone 10

[2020-09-02 17:31] weakfl commented on #574
Already fixed in v2.4.4. Please use the TestFlight version or wait for an official release.

[2020-09-03 20:57] mdeuerlein commented on #574
Same issue with Testflight Version v2.4.4 (1580410453)

[2020-09-03 21:17] weakfl commented on #574
@timbms thought this had been fixed in v2.4.1 (#562)?

@mdeuerlein please provide additional details about your setup etc…

[2020-09-04 20:30] stefanbjorns opened #575 "openHAB returned empty sitemap list"
I have an error in the openHAB app. Probably after update i honesty didn't notice when it happened. But the configuration on the raspberry server hasn't changed in many months. A migration to a newer version of server is a huge task because of a lot of custom stuff on my install and the changes needed in the configuration. And honestly I want to configure everything in the config files not in an a

[2020-09-04 21:02] weakfl commented on #575
dupe of #574

[2020-09-04 21:09] weakfl commented on #570
refs #574

[2020-09-04 22:13] mstroeve commented on #570
I Just tried again with the latest 2.4.4 testflight build and the sitemap stays empty. When i checken the settings on the watch app i saw the sitemap stating "watch" in stead of my default (and only) sitemap. This value cant seem to be changed in the watch app?

[2020-09-05 07:22] weakfl commented on #574
@mdeuerlein I guess you're using OH 1.8 as well?

@Stormwind99 @stefanbjorns I did a quick test with an OH 1.8.3 docker container and it works with a more or less empty sitemap. Can you please test with a minimal sitemap and/or post the contents of `http://<your_host>:8080/rest/sitemaps/<your_sitemap>/<your_sitemap>`

[2020-09-05 08:08] timbms commented on #575
@stefanbjorns: to determine an OH 1.x we check for a XML declaration that should start with <?xml.
The snippet you provide is without this xml declaration. Is it really not provided?

[2020-09-08 05:17] timbms commented on #351
After many attempts with different SVG frameworks (for instance exyte/Macaw, pocketsvg/PocketSVG, mchoe/SwiftSVG), I traced it down to a simple issue in SVGKit/SVGKit#691.
I would be delighted if someone could offer a PR to SVGKit.

[2020-09-08 06:38] weakfl commented on #351
@timbms Fixing this fixes the bulbs:

<img width="38" alt="Screenshot 2020-09-08 at 08 31 23" src="https://user-images.githubusercontent.com/614985/92441464-8c611e80-f1ae-11ea-9b7d-d0912224d09b.png">

But other icons (eg. [bedroom](https://www.openhab.org/iconsets/classic/bedroom.svg)) unfortunately still don't work.

[2020-09-09 14:53] weakfl opened #577 "❗ Please use Discussions for questions and feature requests ❗"
**openHAB client for iOS** has received beta access to [GitHub Discussions](https://github.blog/2020-05-06-new-from-satellite-2020-github-codespaces-github-discussions-securing-code-in-private-repositories-and-more/#discussions)

#### Summary

- [Issues](https://github.com/openhab/openhab-ios/issues) will strictly be for **Bug Reports** and **Regressions**
    - Issues that are not bugs will be cl

[2020-09-09 14:55] #577 closed

[2020-09-09 18:17] timbms commented on #351
@weakfl: [bedroom](https://www.openhab.org/iconsets/classic/bedroom.svg) reveals another issue SVGKit/SVGKit#695 on SVGKit. Actually very similar issue on SVG files used by openHAB. I wonder why we see all those corner cases? Is it just because of the missing native SVG support in iOS?

[2020-09-09 18:24] weakfl commented on #351
@timbms Yes and no :)
A webview renders all images correctly, so it probably comes down to a library that handles all the edge cases correctly.

I'll submit a PR for the first issue and will try to look into the new one when I have time. Thanks for your investigation.

[2020-09-09 19:57] adamgit commented on #351
It's a niche part of the spec that's rarely used (although it's a nice feature for advanced image creation it's almost unusable without advanced Vector-editing software), and the spec is difficult to find (I had to jump through five links starting from the place where it's supposedly defined to find actual definition!) compared to most SVG spec where it's up-front and clear. When it does get used,

[2020-09-10 07:04] #18 closed

[2020-09-10 07:06] #19 closed

[2020-09-10 07:12] #52 closed

[2020-09-10 10:08] litris commented on #570
Same error in Sitemap appears “watch” and not the one I wear by default.

You can't change to another sitemap.

[2020-09-10 10:57] roben commented on #570
Sorry guys this is not the issue here. There should already be another one to make the sitemap configurable. I have a distinct watch sitemap (which you will need anyways) and this one doesn't work on the watch but on all other devices.

[2020-09-10 15:38] timbms commented on #542
@weakfl: you challenged me to get a setup with client certs working. As it took me quite some time, I was not able to respond.

Should the cert be sent on any request challenge? Even to outside servers or only to the connected openhab server?

[2020-09-10 16:26] weakfl commented on #542
Sorry @timbms, I though you were already using client certs :grin:

Good question, I thought there is some kind of built-in trust evaluation? I didn't give it much thought tbh as the ImageDownloader is doing the same thing.

[2020-09-10 19:31] litris commented on #570
I use the version in the AppStore and it doesn't work.

No sitemap can be chosen.

[2020-09-10 20:01] NorbertHD commented on #570
The version (2.4.0) in the AppStore has an error and the watch part can not work at all.
The watch part is in an early state and experimental.
Because also of the lack of documentation of the restrictions of the watch part, I assume it was accidently released to the AppStore.
If you want to play with the latest watch TestFlight version you have to create a "watch" sitemap.
There is no way yet to s

[2020-09-10 20:05] #54 closed

[2020-09-10 20:06] #58 closed

[2020-09-10 20:07] #63 closed

[2020-09-10 20:08] #67 closed

[2020-09-10 20:09] #80 closed

[2020-09-10 20:09] #132 closed

[2020-09-10 20:10] #157 closed

[2020-09-10 20:11] #175 closed

[2020-09-10 20:18] mstroeve commented on #570
Thanks @NorbertHD  with a simple watch sitemap and only switch and sliders it seems to work (latest testflight build).
Dont use frames the show but sliders and switches inside wont render.

[2020-09-10 21:19] litris commented on #570
Ok thanks.

[2020-09-11 18:30] timbms commented on #542
@weakfl: I don't mind challenges that make me cover weak spots.
Tested it and merged it into develop.
We should be able to close to this topic

[2020-09-11 18:41] weakfl commented on #542
Perfect, thanks a lot @timbms!

[2020-09-11 18:41] #542 closed

[2020-09-12 08:28] weakfl commented on #567
see #488

[2020-09-12 08:28] #567 closed

[2020-09-18 12:12] redbear-ger commented on #570
I cant get it to work.... black sitemap...

filename watchos.sitemap or watch.sitemap?

got this sample inside:
`sitemap default label="Watch"
{
        Switch item=KeyMatic_Open label="Haustuer"
        Switch item=Garagentor_Taster label="Garagentuer"
        Switch item=KeyMatic_Garage_State label="Garagentor"
        Switch item=Licht_EG_Kueche label="Kuechenlicht"
}
`

recognized my external

[2020-09-18 16:48] weakfl opened #578 "Migrate to NWBrowser"
Use `NWBrowser` to improve connection setup on iOS 14 and correctly handle local network access permission.

[2020-09-19 05:56] JuergenOnTour commented on #562
Same issue here :-(
Are there any news for the fix?
The discussion in [https://github.com/openhab/openhab-ios/issues/574](url) is very silent

[2020-09-19 05:57] JuergenOnTour commented on #574
Are there any news to fix this error?

[2020-09-19 16:24] NorbertHD commented on #570
The sitemap must be named "watch" not "default".

[2020-09-20 19:57] NorbertHD opened #579 "watchOS 7 upgrade breaks openhab watchOS app?"
After upgrading to watchOS 7 and iOS 14 the openhab app on the watch doesn't work anymore.
If get lots of "Fehler abgebrochen" (Error cancelled) and a button "Erneut versuchen" (try again).
But this button does nothing. The app is newest testflight, openhab is newest 2.5.9 Release and raspbian latest patch level.
Could be a coincidence because also openhab and raspbian have got updates.
Do others

[2020-09-21 22:13] skupfer commented on #523
Much needed. Hope the PR will get merged soon.

[2020-09-22 08:31] timbms opened #580 "Get code base working with Xcode 12"
**New regression checklist**

- [x] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
Code base needs to be updat

[2020-09-22 09:58] weakfl commented on #580
@timbms I think I've already fixed all the warnings in develop.

The SessionDelegate problem is an Xcode bug, but can be worked around by renaming it in the KingFisher pod for now.

[2020-09-22 10:32] timbms commented on #580
@weakfl I overlooked your commits. Thank you for them
With respect to SessionDelegate we should make the current work around transparent to everybody
Then we could close the ticket

[2020-09-22 11:09] weakfl commented on #580
@timbms agreed. Looks like migration to Alamofire 5.2 is required though.

[2020-09-22 16:01] miriampadberg commented on #570
Here it is the same. Watch-Sitemap on iwatch stays empty. On iphone it works, but on watch not

sitemap watch label="watch" {
Switch item=Aussentuer label="Haustuer"
}

[2020-09-22 18:58] timbms commented on #580
The workaround is to rename "SessionDelegate" to "KFSessionDelegate" in Kingfisher's Core/ImageDownloader.swift and Core/SessionDelegate.swift as explained in onevcat/Kingfisher#1517.

[2020-09-22 18:58] #580 closed

[2020-09-22 19:03] weakfl commented on #580
@timbms I ment the workaround isn't required anymore with Alamofire 5.2 and latest Kingfisher. What's the state of the Alamofire 5 branch?

[2020-09-22 20:21] timbms commented on #580
@weakfl I fully understood you that you would rather jump to Alamofire 5. But so far, the branch is not ready. In particular the client certificate handling is not migrated to Alamofire 5 yet.
In my understanding of Alamofire 5's handling of client certificates (see Alamofire/Alamofire#2993), it would be sufficient to change the ClientCertificateManager to load the certs into SessionConfiguration.

[2020-09-24 19:37] timbms commented on #580
onevcat/Kingfisher#1530 resolved in Kingfisher 5.15.4. Therefore we will make this update

[2020-09-27 06:45] weakfl commented on #580
@timbms That's good news, gives us some time to update Alamofire...

[2020-09-27 12:35] vgrebenschikov commented on #574
Still does not work exactly on same setup as before ( see #348 ):
[code]

[code]

[2020-10-01 02:49] paulpenner commented on #570
How can I get an invite for the testflight beta?

[2020-10-03 08:46] Mr-iX opened #583 "iOS 14 timeout bug"
Since I have updated to iOS 14.0.1 I have the issue that sometimes the connection to openhab times out. The Appstore version (2.4.0) shows the error timeout and the TestFlight version (2.4.4) just shows a black screen.

Most of the time the error occurs when you connect to wifi and open the openhab app directly after being connected.

Tried with several iPhones (11 Pro, 7, X) all running iOS 14.0.

[2020-10-03 20:43] int5749 commented on #570
Hi all, I'm interested in this as well, used to use Testflight for other project already ;-)

[2020-10-04 05:54] weakfl commented on #570
Use the link in the [README](https://github.com/openhab/openhab-ios).

[2020-10-04 09:26] weakfl commented on #574
@JuergenOnTour @mdeuerlein @Stormwind99 Can you provide additional information regarding @timbms 's question in https://github.com/openhab/openhab-ios/issues/575#issuecomment-687569846?

[2020-10-04 09:27] weakfl commented on #575
Closing as no additional information has been provided. @stefanbjorns if you have additional information please continue the discussion in #574.

[2020-10-04 09:27] #575 closed

[2020-10-04 10:36] JuergenOnTour commented on #574
Sure @weakfl ... here they are:

OpenHAB-Server 1.8.3
iPhone 11 / iPad Pro
App Version 2.4.0 (1580410446)

Access via Browser works fine

`root@openhab:~# curl -sq http://192.168.178.190:8080/rest/sitemaps | xmllint --format -
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<sitemaps>
  <sitemap>
    <name>altheim</name>
    <label>Altheim</label>
    <link>http://192.168.178.190:8080/rest

[2020-10-04 10:52] Mr-iX commented on #583
Seems like the issue was, that iOS switched to the secondary DNS server which wasn't able to resolve the domain name. So the error message was a little bit misleading.

[2020-10-04 10:52] #583 closed

[2020-10-04 11:12] int5749 commented on #570
Thanks, works like a charm for me, even supports frames to seperate switches

[2020-10-04 11:17] weakfl commented on #574
@JuergenOnTour can you please try the [TestFlight](https://testflight.apple.com/join/563WBakc) version?

[2020-10-04 11:51] JuergenOnTour commented on #574
I can't find the invitation code for TestFlight. Can you help?

[2020-10-04 12:02] weakfl commented on #574
@JuergenOnTour you shouldn't need one, just click the link.

[2020-10-04 12:10] JuergenOnTour commented on #574
@weakfl
Sorry - it‘s my first TestFlight ...

I installed the 2.4.4 - and ist works fine again!

[2020-10-04 17:49] weakfl commented on #351
fixed in `develop`

[2020-10-04 17:49] #351 closed

[2020-10-04 18:00] weakfl commented on #539
Quite old, please report back if this is still an issue with the lastet TestFlight version.

[2020-10-04 18:00] #539 closed

[2020-10-04 18:05] weakfl commented on #561
@RafalLukawiecki please let us know if this is still an issue with the latest TestFlight version.

[2020-10-04 18:06] RafalLukawiecki commented on #561
Thank you for the fix. I will report back as soon as I have the new version installed—soon.

[2020-10-04 18:22] weakfl commented on #561
@RafalLukawiecki didn't change anything yet. Just wanted to make sure if this is still an issue with the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.

[2020-10-04 18:27] RafalLukawiecki commented on #561
2.4.4 is still affected by this issue, that is, some SVG icons are not rendered correctly. As soon as the new version, with the fix, is available for testing I will report back. :)

[2020-10-04 18:29] RafalLukawiecki commented on #561
Ah! My apologies—I just realised you have asked me about a different issue! I thought this was related to SVG, another issue that just had a PR. Let me check and report on the OnOff state. So sorry for the confusion.

[2020-10-04 18:31] RafalLukawiecki commented on #561
I can confirm that 2.4.4 is no longer affected by the regression, ie. OnOff state for Color items is now correctly reported in the app.

[2020-10-04 18:31] #561 closed

[2020-10-04 19:49] timbms commented on #573
as #351 is fixed, we could address this issue now

[2020-10-06 12:53] quensen opened #585 "iOS App freezes when Menu should be opened on iOS 14.2 public beta 2"
**New bug checklist**

- [X] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [X] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [X] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
iOS app freezes when the menu (thr

[2020-10-06 15:02] timbms commented on #585
Looks very much like an issue with iOS 14.2 beta related to library we are using: see jonkykong/SideMenu#653.
We will watch what happens on this issue.

[2020-10-06 18:53] quensen commented on #585
Yes, that is possibly a known iOS bug.

Stefan

Am 06.10.2020 um 17:02 schrieb Tim Bert <notifications@github.com>:

﻿
Looks very much like an issue with iOS 14.2 beta related to library we are using: see jonkykong/SideMenu#653.
We will watch what happens on this issue.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-07 13:30] dobernhardt opened #586 "iOS App always sends basic authorization header to WebView URLs even when no credentials are set"
**New bug checklist**

- [x] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
The iOS App always sends a basic a

[2020-10-08 14:57] Karrypto commented on #579
same here

[2020-10-08 19:08] weakfl commented on #579
This is not a problem with watchOS 7 per se. Connectivity isn't great and we're aware of it. Watch support is more of an experimental feature atm, sorry for the inconvenience.

I'm closing here, please continue discussion in #570 or, if you have questions, use [Discussions](https://github.com/openhab/openhab-ios/discussions).

[2020-10-08 19:08] #579 closed

[2020-10-09 07:27] #586 closed

[2020-10-11 19:13] timbms commented on #586
Please try with 2.4.8

[2020-10-11 20:14] dobernhardt commented on #586
Works perfectly with 2.4.8. :)

[2020-10-15 06:11] quensen commented on #585
Confirmed. Fixed with public beta 3.

[2020-10-15 06:11] #585 closed

[2020-10-18 07:51] kgoderis opened #592 ""You currently have no devices registered with openHAB Cloud." for a private instance of openhab-cloud"
I see the above behaviour (in openhab-cloud) when using the iOS client, but first of all, I am posting the issue here as similar issues for other people using Android where found to be linked to the Android client.

I run a private instance of openhab-cloud at myhost.mydomain.be, exposing ports 443 and 80, and in which a user is properly defined. When configuring the iOS client with that username

[2020-10-18 09:35] weakfl commented on #592
Take a look at #407 for a similar feature request.

What happens is that the App is sending the device information (containing the APNS device token) to your private instance. Check your request logs and you should see a request to the endpoint `/addAppleRegistration`.

You'd have to handle device registration and sending notifications on your instance. Maybe it's possible to setup APNS on your pr

[2020-10-18 14:29] kgoderis commented on #592
@weakfl Tx. The important message here is that the APN certificates are required to get the devices registered, not only for sending out notifications from the OH instance.

On a separate note, what is not clear in all the recipes describing the private solution, in case the iOS app is recompiled, do you need an instance of that binary on your iPhone, or does it work with the App Store instance. M

[2020-10-18 14:37] kgoderis opened #593 "No badges and no Notifications menu when not using myopenhab.org as remote URL"
1. Create a myopenhab.org account and install the Cloud Connector on an OH instance
2. Reconfigure the App to point to myopenhab.org
3. Make a remote connection so that the UUID gets registered at myopenhab.org
4. Reconfigure the App to point to the given OH Instance (which is exposing ports 443 and 80 publicly) using a FQDN, change userid/pwd if necessary
5. Configure Notification in iOS for the

[2020-10-18 14:40] weakfl commented on #592
You'll need your own app version as the device token is bound to the bundle id.

[2020-10-18 15:04] weakfl commented on #593
I'll have to check the code, currently afk. Does it work when using myopengab.org?

Notifications are loaded from the cloud instance, so you wouldn't get anything anyway.

[2020-10-19 15:23] kgoderis commented on #593
Not sure, I only noticed it afterwards, so, if this is a dynamic feature cfr the second point, it might be linked. I have no clue

[2020-10-26 08:06] Jambola77 opened #594 "Sitemap cannot be deselected"
**New bug checklist**

- [x] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
I created a new sitemap on openhab

[2020-10-26 15:55] weakfl commented on #594
- Deleting sitemaps is not possible as the REST API doesn't provide an endpoint for that
- What exactly do you want to accomplish? Without a sitemap there really isn't much you could do?

[2020-10-28 17:13] Jambola77 commented on #594
For me it works great even without a sitemap. I do not want to delete the sitemap in openhab, but only in the app.

[2020-11-02 09:24] kgoderis commented on #593
@weakfl When the device receives a Notification, when it is not badged or tracked, it is impossible to know what has been sent. As a user you only see them once on the lock screen, and then the information is lost. Would it not make sense to log the events in the app, instead of getting them from the cloud?

[2020-11-02 20:17] HazeHunter11 opened #595 "webview frames are not displayed inside the app"
The sitemap webview control is not visible in the ios app. I can load my basic „hello world“ test html page on the normal pc browser and also in safari if i use the same url that is configured inside the openhab app. But inside the app the webview is not working.

I need this to control my heating control

[2020-11-03 22:19] timbms commented on #595
Please add screenshots to make the issue transparent

[2020-11-04 12:51] HazeHunter11 commented on #595
@timbms As requested I added some more details and screen prints.

**Sitemap webview URL:** /static/test.html
**Content of my test page test.html:**
[code]

### **Screenshot on Windows 10 Edge browser:**
![image](https://user-images.githubusercontent.com/52607335/98113504-09a1ca80-1ea4-11eb-8f7c-16f804312e10.png)

### **Screenshot on ios v14.1 Safari Browser:**
![image](https://user-images.githubu

[2020-11-14 11:22] weakfl commented on #593
The iOS client is only one of many UIs for openHAB, so storing notifications in the cloud makes sense imho.

[2020-11-15 01:15] ajbastien commented on #469
Working on the this now.  See the attached design.

Will allow for checking status of the items.  Also send commands to items.

[ShortcutsDesign.pdf](https://github.com/openhab/openhab-ios/files/5541689/ShortcutsDesign.pdf)

[2020-11-16 04:56] ajbastien commented on #469
@weakfl or anyone else.  I am trying to initialize the NetworkConnection in the intents running space which unfortunately is different from the app.  I am having issues identifying demo mode or not and URL as well as turning of SSL requirement.

Currently initialized with
        if NetworkConnection.shared == nil {
            NetworkConnection.initialize(ignoreSSL: Preferences.ignoreSSL, adapter

[2020-11-16 14:03] ajbastien commented on #469
I did some more debugging and it looks like the preferences are not loaded correctly or are defaulted/stored differently in the intents extension.

[2020-11-16 20:28] ajbastien commented on #469
No I have a problem.  For security reasons the App and the App Extension run in their own sandboxes.  Seems the best way to share data is with App Groups.  Unfortunately App Groups are account specific.  I don't have a full account to create any and even if I did I think it would break when merged to the OpenHAB account.

Any suggestions?  For now I am hard coding the URLs for testing.

More info:

[2020-11-16 22:04] ajbastien commented on #469
Still having security issues using the demo site as well, see log below.  I am using local site for testing now.

`2020-11-16 15:33:14.160460-0500 openHABIntents[62682:4427858] Loading items from http://demo.openhab.org:8080/rest/items?
2020-11-16 15:33:14.181463-0500 openHABIntents[62682:4427858] [remoteAccess] Initializing cert store
2020-11-16 15:33:14.245662-0500 openHABIntents[62682:4427858]

[2020-11-17 00:13] ajbastien commented on #469
Other than the above I am having good luck with the coding of the intents.  See attached screenshots.

<img width="340" alt="screenshot" src="https://user-images.githubusercontent.com/8333336/99323232-c2baba00-283f-11eb-9d51-9f70e1f2faa9.png">
<img width="327" alt="screenshot2" src="https://user-images.githubusercontent.com/8333336/99323245-ccdcb880-283f-11eb-83fd-b9a171a5b6e7.png">
<img width="31

[2020-11-17 10:46] weakfl commented on #469
Disable ATS:

[code]
<br>

I've created an app group, just make sure to use the correct identifier and you should be good to go.

For general questions regarding iOS development it's probably better to ask on [SO](https://stackoverflow.com/). And maybe open a draft PR to discuss implementation details.

[2020-11-17 10:48] weakfl commented on #469
Oh, and looks promising! Your work on this feature is highly appreciated 👍

[2020-11-18 15:15] ajbastien commented on #469
Thanks for your help.  I've fixed the problems.  Things still to do:

1. Get tracker working to determine local/remote
2. Re-organize needed classes into separate smaller framework.  Currently getting a link error because openHABCore has too much in it.
3. Implement more 1 or 2 more intents

This is going to take some time.

[2020-11-21 04:54] ajbastien commented on #469
Final intent list.  Need to implement tracker and do further testing.

<img width="313" alt="screenshotIntents" src="https://user-images.githubusercontent.com/8333336/99867886-9aa6c000-2b8b-11eb-9bbf-55c1562dfb08.png">

[2020-11-25 02:24] ajbastien commented on #469
Created a pull request for the update.

[2020-12-04 16:17] weakfl commented on #469
Implemented with #598, should be in the next beta.

Thanks a lot @ajbastien for your PR.

[2020-12-04 16:17] #469 closed

[2020-12-04 16:51] timbms commented on #469
When building the beta - I get a late error at the linker state:

`Multiple targets match implicit dependency for linker flags '-framework Alamofire'. Consider adding an explicit dependency on the intended target to resolve this ambiguity. (in target 'openHAB' from project 'openHAB')`

@weakfl : Can you help here?

[2020-12-04 18:37] weakfl commented on #469
@timbms should be fixed in `develop` (and some duplicate build file warnings as well).

[2020-12-05 00:54] ajbastien commented on #488
I have an app that does geo fencing.  I could work on this.  I still think for geo fencing use the Shortcuts  app to trigger switches/contacts in OH.  The battery level is easy to get the issue is doing it in the background.

[2020-12-05 08:31] weakfl commented on #595
Webviews are working fine for me. @HazeHunter11 please provide the information requested in the issue template or at least let us know which app and oH versions you are using.

[2020-12-05 10:43] weakfl commented on #469
@timbms Just saw you're preparing a new release. Could you hold on for a bit, I#m in the process of adding l10ns and unit tests for the intents...

[2020-12-05 10:57] timbms commented on #469
Sure I can. I am just trying to pass all hurdles for the integration of shortcuts. I probably messed up the certificates, identity and profiles...

[2020-12-13 10:08] oeiber commented on #560
Any updates here?

[2020-12-22 02:56] Dave-Baldwin commented on #557
+1, very interested in this.
Any hand-wavy sense of priority of this enhancement request?

[2020-12-30 14:31] maxulm opened #604 "Image item of Webcam not displayed using the external access"
**New bug checklist**

- [X] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [X] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [X] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
Using an image item in the sitemap

[2021-01-04 22:47] daniel-mcgeever commented on #570
Is the public link still available for testflight?

[2021-01-06 11:11] abbe79 commented on #469
Thank you so much for all the effort getting this integrated, this really is a fantastic feature (at least for some of us, like me)! 👍

[2021-01-07 21:20] timbms opened #606 "Multiple graphs are repeated"
**Describe the bug**
When 2 or more graphs are presented in a sitemap, graphs get repeated

**To Reproduce**
Reported by user via crash report

**Expected behavior**
Correct display of graphs
**Screenshots**
![screenshot_01](https://user-images.githubusercontent.com/5411131/103945980-51f49780-5136-11eb-87b6-72de578c991e.jpg)

**App (please complete the following information):**
 - Version 2.4.20

[2021-01-10 09:27] timbms opened #607 "Crash on pantry icon in SVG rendering"
**Describe the bug**
iOS app crashes when "pantry" icon is configured in sitemap and sitemap is displayed.
Reported first here
https://community.openhab.org/t/ios-app-2-4-20-crash-on-open-new-sitemap/113273/3

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a sitemap with pantry icon (on a switch)
2. Load sitemap with iOS 2.4.20
3. App crashes immediately, when SVG icon is selected.

**

[2021-02-06 20:22] Yves1812 commented on #557
+1 - I manage 3 locations and this would be a fantastic feature

[2021-03-20 11:38] Mr-iX opened #608 "Notifications cannot be decoded/no sound on notifications"
Since my migration to OH3 I stopped hearing a sound on my iPhone when I get notifications from openhab. The notifications work and are displayed and everything, I just don’t get any sound or vibration.
I tried both commands bellow as well as sending it through a gui rule and also from myopenhab cloud

sendBroadcastNotification("test")
sendNotification("email", "message")
and its not only my iPhone

[2021-03-23 12:33] flemscom commented on #608
Same here. OH Cloud Connector v3.0.1. iPhone with app version 2..4.20. iPad with app version 2..4.20

[2021-03-25 19:25] phuongpham commented on #608
I got same issue.
OH  3.1.0.M2 - Milestone Build
iOS app 2.4.20

[2021-03-29 09:48] RalphSester commented on #608
I have the same problem. It seems to be a general problem since a few weeks.

[2021-03-30 09:56] chentadot opened #609 "Strings delimited by \n won't display"
When a string item contains a string delimited by \n it won't display in the iOS app but will display correctly in BasicUI and in the Android app.

The use of such case:
Post a command line result to a string item inorder to display its content.
For example, executing a command line to query the public ip. The result is a string deimited by \n.

If you post this result directly to a string item an

[2021-04-01 22:19] jsiemon commented on #608
Count me as another with the same problem.

[2021-04-04 11:58] chentadot commented on #609
Another issue regarding displaying strings in the iOS app:

When a string item is displayed in a sitemap as a selection item, if the string gets a value not in the selection mapping, it won't show in the app, but in BasicUI it will.

[2021-04-28 13:20] sebasanblas opened #613 "Notification without the correct icons"
I’m testing the notifications but I can’t get to use the icons and “severity”. Notifications come to my iPhone but with the openHab logo only.

Rules code:
[code]

![IMG_7403](https://user-images.githubusercontent.com/52710701/116408855-a87f0200-a809-11eb-8381-cf441d58b978.jpg)

**App**
 - Version 2.4.20 (1580410468)

**Smartphone**
 - Device: iPhone X

**openHAB**
- Version 3.0.1

**Additional co

[2021-05-16 22:33] njordan77 opened #614 "Switch item not presented correctly, compared to Basic UI"
Hi,
i'm on the latest version of IOS app + Iphone 12 + latest IOS version of the operation system.

When i do this:
`Switch item=LockON label="NG5 Lock" mappings=[ON="Close", OFF="Open"]`

Basic UI shows as expected:
![image](https://user-images.githubusercontent.com/7437150/118414758-bf956f00-b6a6-11eb-9098-ceee450fba86.png)

However the iOS presents it differently. Annoyingly, its not possible t

[2021-05-23 20:43] njordan77 commented on #614
i'm not sure if this is the right place to document issues with the Openhab App for iOS? is there any other place with more active interaction? for me the current situation is an issue and i wanted to clarify if its a bug or i'm doing something wrong. Kind Regards

[2021-05-30 19:56] Boby71 opened #615 "Broadcast notification always pops up twice"
**Describe the bug**
A simple broadcast from a rule leads always to TWO notifications at the same time. I can't tell exactly when it started to happen, but it wasn't always this way. I can confirm that my rules are debounced, so a double triggering is not the problem.
Besides that, I haven't changed my rules in the last months - and the problem appeared one day.

**To Reproduce**
Steps to reproduc

[2021-06-06 13:41] ARandomGitHubUser opened #616 "TestFlight isn't accepting new testers"
The TestFlight link in the README is old, "This beta isn't accepting any new testers right now."

[2021-06-11 14:40] Boby71 commented on #615
Is this repository still under maintenance?

[2021-06-24 07:13] #608 closed

[2021-06-29 20:58] becksen commented on #616
I have the same issue and experience. The current available apple watch release is not working at all. Please change the limit of testers as this was even before the only version version working with apple watch.

[2021-06-29 21:02] becksen commented on #570
Testflight seats are already occupied. Can you allow more testers?

[2021-07-06 14:31] JensHoRi opened #618 "Setpoint in App not work with new items"
If new item without value is defined as setpoint not able to change in App.

In basic UI no value is interpreted as 0, so increase and decrease works for new items not having a value yet.

In App increase and decrease (same item, same Sitemap) don’t work if initial value not set (shown as -)

[2021-07-12 16:43] giig1967g commented on #616
Same here.
Can the developer open for new tester?

[2021-08-04 13:16] weakfl commented on #616
There's no limit set but the latest build is expired. I'll do a new build tomorrow which should hopefully resolve your issue.

[2021-08-05 06:33] giig1967g commented on #616
Thanks a lot.
Looking forward to testing it.

[2021-08-05 10:50] giig1967g commented on #616
@weakfl
sorry for asking, why don't you publish the latest version as a standard version instead of a beta version?
This way it will not expire.

[2021-08-05 11:00] weakfl commented on #616
@giig1967g Tbh I don't know what the current state of the TF version is and if there are any unfinished/unstable changes that need attention.

@timbms do you know if there are any open issues that are preventing an official release?

[2021-08-05 16:28] timbms commented on #616
@weakfl

[2021-08-05 16:32] timbms commented on #616
@weakfl I am not aware of any reasons that would stop a release. Technically I was not able to push to AppStore because of permissions. You seem to have overcome the show stopper. Therefore, please go ahead. I am delighted 👍

[2021-08-05 16:53] weakfl commented on #616
Thanks @timbms, the I'll publish a new version a when the latest contracts have been accepted by the account owner 😉

Regarding builds, they're working on CI now, in case you need it...

[2021-08-05 17:02] digitaldan commented on #616
Pesky agreements , give it a try now , thanks !

[2021-08-06 01:06] dome2048 commented on #616
Just installed my first openHAB iOS beta in many months. Thanks for doing this!!

[2021-08-06 06:16] giig1967g opened #623 "iwatch app isn't working when using remote URL"
**New bug checklist**

- [x] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
After updating to the latest beta

[2021-08-08 07:02] iAcolyte opened #624 "Settings => Username entering issue with the Russian system language"
Hello.
I use the Russian system language on my iPhone. When I am selecting a "Username" field, I can't switch the language to English and enter the username.
I tested it also on the 2.4.36 Test Flight version. It has the same issue.

[2021-08-09 07:16] weakfl commented on #616
A new TestFlight version should be available by now and I've submitted a new release build for review...

[2021-08-09 07:16] #616 closed

[2021-08-15 12:11] desmond206x commented on #166
Why is this issue closed?

I want to set the order of my site maps for the android app. Not only alphabetically.

[2021-08-15 15:43] OneYellowLemon commented on #166
https://github.com/openhab/openhab-android

[2021-08-16 09:49] timbms commented on #607
Was handled by openhab/openhab-core#2113

[2021-08-16 09:49] #607 closed

[2021-08-16 10:10] timbms commented on #609
Can you post screenshots? What is shown on BasicUI/Android? What is instead shown on iOS?

[2021-08-17 22:09] ARandomGitHubUser commented on #239
Any update on this? Would be a really good nice to have.

[2021-08-18 04:15] holiday-sunrise commented on #239
Yes, but currently I have not enough time to develop it. Should the app have its own code or should we use system code ?

[2021-08-20 19:15] ARandomGitHubUser commented on #239
I don't know anything about making iOS apps so I don't know which would be easier. Whatever is easiest for you.

[2021-09-03 08:00] becksen commented on #570
Watchapp is still crashing. App version 2.4.6 (158041455) Doesn't matter which settings or Sitemaps I use. Either I get Http 401 error or the watch is closing without further notice.

[2021-09-04 14:49] timbms opened #625 "Connection to demo server is not working"
**New bug checklist**

- [x] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
Demo mode is not working
**To Repr

[2021-09-05 18:42] timbms commented on #613
Apple only supports one icon per application: https://stackoverflow.com/questions/23101758/how-to-change-icon-in-notification-ios/23101858

[2021-09-05 18:42] #613 closed

[2021-09-06 21:36] timbms commented on #166
Good point this needs to be reopened

[2021-09-20 17:43] maniac103 commented on #613
@timbms The screenshot is from the in-app notification list though, I doubt Apple restricts what is displayed there.

[2021-09-21 12:17] nanosonde opened #628 "[iOS 15] Add support for new delegate WKUIDelegate decideMediaCapturePermissionFor"
**New bug checklist**

- [x] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
Webviews that show web pages that

[2021-10-04 08:28] #628 closed

[2021-10-25 12:57] weakfl opened #632 "Fix watchOS deprecation warnings"
watchOS deprecations need to be fixed

[2021-11-12 10:26] domotica-undici opened #634 "Push notification with server different than openhab.org"
i have a own maintaned cloud server, and so do not use my.openhab.org. iOS app works perfectly except for push messages. it seems that doesn't do the apn registration because in file openHAB/OpenHABViewController.swift there is an hardcoded "if prefsURL.contains("openhab.org")"
I ask is if it's possible to allow APN registration where server path does not contains openhab.org
thank you

[2021-11-24 09:48] scotthulluk opened #635 "Apple Watch complications icon being partially cut off"
See image below.

Icon is partially cut off so it doesn't look round like the rest.

![openhab-icon-issue](https://user-images.githubusercontent.com/7878802/143214593-1d4e83b5-eb20-428e-a7cc-429dbe46f721.png)

[2021-11-26 11:03] boecko commented on #570
I had to remove my basic auth acl from my haproxy setup.
After that, i see my watch.sitemap

But removing auth is no option ;)

Is the password synced from the iphone-app?

[2021-12-13 20:19] dirkbe commented on #635
Hi,
i think the icon is too small, so top/bottom/left/right are not wide enough to create a circular impression?
Let me try to see if i can test it with more space around the logo...

[2021-12-13 20:48] dirkbe commented on #635
I tested with clock face "Infograph Modular" and "Infograph", in light and dark mode  (WatchOS 8.1) and works fine
![Watch_InfographModular](https://user-images.githubusercontent.com/8006572/145886023-f171a117-03c5-49d2-80d0-dd11c6a65786.PNG)
What clock face, watchOS 8.1, watch model are you using?

[2021-12-14 08:49] scotthulluk commented on #635
Hey,

I'm using Apple Watch Series 7 and the latest version of watchOS.

The issue happens on all faces.

[2021-12-16 10:39] dirkbe commented on #635
Hey Scott,
thanks for your feedback. I could reproduce your icon display cut off in the simulator with a 45mm watch. Let me next see how to fix ;-) Will keep you in the loop and hope to provide a test version soon...

[2022-01-21 19:35] aMU5Ed opened #640 "IOException in iOS Client"
In iOS Client 2.4.37 you get IOExceptions with broken pipes in OpenHAB 3.2.0 release build only when using the iOS client. Using the android oder basic web ui does not cause the IOExeptions.

Detailled report: https://community.openhab.org/t/oh3-1-0-m4-error-in-log-problem-with-writing-the-data-class-org-openhab-core-io-rest-sitemap-internal-pagedto-when-using-ios-app/121911

**To Reproduce**
Step

[2022-01-21 19:42] aMU5Ed commented on #640
Could have something to do with - https://github.com/openhab/openhab-ios/issues/390

[2022-01-29 00:09] dome2048 commented on #616
I hate to open a new issue just for this, so I'll try here first. The current beta expires in three days. Any chance you can push a new one through so we can keep the OH3 integration? Thanks!

[2022-01-29 15:07] weakfl commented on #616
Thanks for the heads-up @dome2048, I triggered a new build.

I'm wondering if we shouldn't just publish an App Store version as well 🤔 @timbms ?

[2022-01-30 07:32] timbms commented on #616
@weakfl : I would welcome an App Store very much. This could at least integrate #639.
Also some house keeping ( align master (or shouldn't it be renamed to main?) to develop ). Then we could do a TestFlight release for the Alamofire 5. If this goes well we could also finalise the migration to Swift Package Manager.

[2022-01-30 08:04] #632 closed

[2022-01-30 09:06] weakfl commented on #616
@timbms

Merged and new TF otw. I'll submit a new release afterwards.

I've renamed `master` to `main` and updated the workflows. It should be aligned though as `develop` is merged into `main` and tagged on each TestFlight build (if it's not from a feature branch).

That would be great! I've locally tried to convert the core frameworks to a swift package, but had trouble linking the watch extensio

[2022-01-30 11:10] weakfl commented on #616
@digitaldan unfortunately the agreement has changed again :/ Could you please accept the new one? Thanks...

[2022-01-30 14:20] EjvindHald commented on #640
Same problem here.

[2022-01-30 17:25] digitaldan commented on #616
Done!  It super annoying as the agreements we have to keep accepting are for paid apps, even though we don't have a paid app!

[2022-01-30 17:49] weakfl commented on #616
Yea, it's a pita, but thanks @digitaldan. I've submitted a new version.

[2022-01-30 21:29] attilabalazsy commented on #623
Is there any plan to fix this issue? It is quite important to have it working from watch through internet.

Thanks!

[2022-01-31 09:13] timbms commented on #640
I can reproduce the error. When I force close the app and then restart the app, the error message appears.
If somebody finds out, how to reset iOS, we can integrate it in the app.
Handling on server side is via the workaround of suppressing the log: openhab/openhab-distro#1180

[2022-01-31 10:06] andyk100185 commented on #574
Got the empty sitemap error when upgrading the app to 2.4.39
Tested all testflight versions but also not working
My wife's app version is 2.4.36 and it's working on her cellphone

[2022-01-31 20:22] qbqmb commented on #623
I am facing the same problem - with the watchOS App not working from internet, but from local network. It would be great if you could solve this issue.

[2022-02-01 12:58] Foppa58 commented on #574
I also get the empty sitemap error when upgrading the app to 2.4.39
ios version 15.3
openhab version 2.3.0

[2022-02-02 11:11] syoma755 opened #642 "Returned empty sitemap list - iOS App v 2.4.39"
Yesterday my iOS devices upgraded to v2.4.39 and since then I get Openhab returned empty sitemap list error. Web browser works OK.

- Breaking version: 2.4.39
- Last working version: one before

- Device: iPAD Pro, iPhone 13, iPhone X

- Openhab version 2.4.0

Output of http://192.168.0.200:8080/rest/sitemaps

[{"name":"default","label":"Penthouse","link":"http://192.168.0.200:8080/rest/sitemaps/d

[2022-02-02 14:50] augisbud commented on #642
Same issue here, latest iOS app return this. openHab 2.4.0

[2022-02-02 15:59] timbms commented on #642
The json sitemap list you provided is fine and is parsed.
The bug seems could be in the version detection as you are both on 2.4.0
@syoma755 , @augisbud: if you could give me remote access, I could try to debug. Or ideally, you try debugging yourself with Xcode.

[2022-02-02 16:02] weakfl commented on #642
@timbms if you're assumption is correct this could have been introduced with 510556533ebd3f4ec35d4108cc368ff19ed0c6d0. I've also tried the sitemap json and it looks ok.

[2022-02-02 16:12] weakfl commented on #635
@dirkbe think this should be fixed as you PR has been merged?

[2022-02-02 16:14] scotthulluk commented on #635
What version of the iOS app has this been fixed in?

[2022-02-02 16:45] weakfl commented on #635
@scotthulluk i think latest. But I'm not sure what exactly the PR addressed besides deprecations.

[2022-02-02 19:07] crnjan commented on #642
Tried on OH 3.2 and 2.5.12 and both seems to render sitemaps fine, unfortunately don't have access to 2.4 to debug/help any further, just fyi ...

[2022-02-02 21:21] gcatellani opened #643 "Weird crash on iOS due to using the icon pantry.svg"
Hi,

I've got a weird error since the newest version of the app (2.4.39 - 1580410489) came out (but I'm not 100% sure it's the apps fault, yet the error only started occuring after I did the update a few days back). No crash when accessing my sitemap via the browser on my PC, but a reproducable crash on multiple iPhones running the newest iOS 15.3, caused by the icon called pantry.svg. If I remove

[2022-02-02 21:33] #643 closed

[2022-02-02 21:34] gcatellani commented on #643
I closed the issue as the root cause is indeed the icon and there is already a ticket for that in openhab-core: https://github.com/openhab/openhab-core/issues/2113

[2022-02-02 22:19] wzinet commented on #642
[docker-compose.yml.zip](https://github.com/openhab/openhab-ios/files/7990393/docker-compose.yml.zip)
I also see this issue.
This is my docker-compose file that I use - hopefully it makes the issue replicable for you.
My Wife's phone auto-updated, and has this issue.  My phone doesn't (running version 2.4.36), and doesn't have the issue.

[2022-02-02 22:40] crnjan commented on #642
As discussed [here](https://community.openhab.org/t/sitemaps-empty-in-ios-app/112229/26) - [line](https://github.com/openhab/openhab-ios/commit/510556533ebd3f4ec35d4108cc368ff19ed0c6d0#diff-2f3d056586fd426ece63aecc705235e020de5d8c801003baa89181ab3c87744bR736) will evaluate to 1 since version returned in OH 2.4 is:

[code]

[2022-02-03 08:04] crnjan commented on #642
Just installed the provided OH 2.4 docker image and changing

[code]

to

[code]

(since `openHABVersion` should be 1 only for OH v1) and seems to work on all versions I tried so far.

[2022-02-03 11:05] matushromada commented on #642
@crnjan Thanks a lot for the quick fix! When can we expect a new version in [TestFlight](https://testflight.apple.com/join/563WBakc), please?

[2022-02-03 15:06] #642 closed

[2022-02-03 15:14] weakfl commented on #574
fixed with #644

[2022-02-03 15:14] #574 closed

[2022-02-03 17:25] matushromada commented on #642
I confirm that issue was resolved in iOS app [TestFlight](https://testflight.apple.com/join/563WBakc) version 2.4.41 👍

[2022-02-03 20:26] maniac103 commented on #642
Please note that

is a hack that still is wrong. *Any* OH version that allows parsing the version number from JSON is OH 2. If it were OH 1, the parse attempt would fail completely.
The 'version' in this context (rest endpoint JSON) refers to the version of the JSON interface, not the OH version.

[2022-02-03 20:37] crnjan commented on #642
And this is exactly how it works - only if parse attempt fails completely, `openHABVersion` is set to 1, in any other case value will be more than 1 (the `max` part takes care of that now). But I do agree this is a quick and dirty fix and this version thingy might need to be revisited ...

[2022-02-03 23:57] NickWaterton opened #646 "Sliders Start Moving the Wrong Slider Sometimes"
**Describe the bug**
On the current version (as of 3 days ago, 31st Jan 2022), if you try to move a slider, the slider above it or below it may move instead. The sliders jump about as you slide your finger from left to right. Sometimes it's not the slider immediately below or above, but one 2-3 sliders above or below. This is not a "fat finger issue".

This has been working properly for years, but

[2022-02-04 06:54] maniac103 commented on #642
I'm aware it works; I was just pointing out it works more or less by accident because 'openHAB server version' and 'openHAB JSON API version' are simply mashed together when they shouldn't be. After all, there is no OH5 yet ;-)
The correct logic would be 'if version >= 4, it's OH3, else OH2'.

[2022-02-05 14:24] dirkbe commented on #635
I created new icons for 41mm and 45mm but that did not fix the cutoff. Next would be to check which complication is using the icon to see if scale fixes the issue. Haven't found time to further investigate with the simulator yet.

[2022-02-05 17:27] timbms commented on #646
@NickWaterton: This is concerning.

The videos you provide unfortunately are not visible to me with Safari. I tried with Safari on MacOS and with GitHub app on iOS. Is there an issue on GitHub?

Can you provide server logs to analyse this in more detail?

[2022-02-05 23:46] agsochi commented on #646
Hi, real time slider was broken in last update.
If i move one slider, other random sliders moves too.

![image](https://user-images.githubusercontent.com/2944079/152662757-70d134d6-b042-4d60-b323-08878e4b0c9b.gif) s

[2022-02-06 10:09] weakfl commented on #646
@agsochi @NickWaterton please provide additional information: OH version, example sitemap to reproduce the issue, etc.

[2022-02-06 10:21] agsochi commented on #646
@weakfl
If i touch any slider, random one start moving too, and this random slider name duplicates slider name i touched.
OH 3.2.0 - Release Build
Part of Sitemap on video above
[code]

[2022-02-06 10:45] weakfl commented on #646
@agsochi I tried to reproduce this but it's working as expected. I'm not sure if this isn't caused by your config, rules, etc.

<img width="300" src="https://user-images.githubusercontent.com/614985/152677122-3533cc97-b77e-4c0b-879b-359700dd935b.gif">

[2022-02-06 10:55] agsochi commented on #646
I removed rules files, same behavior

[2022-02-06 11:03] agsochi commented on #646
I found what it is.
If i remove groups from item - it work ok
If i add item to group - issue back again

[2022-02-06 12:20] Cossey commented on #646
I had something similar happen on my `.sitemap` file recently too. I was intending on opening a issue, but **turning off Real-time sliders stopped it from happening** (possible culprit).

As mentioned above this only started happened with some of the recent test-flight versions (the build including the Main UI had the problem but not sure if the previous test-flight did, I didn't think so though).

[2022-02-06 14:20] NickWaterton commented on #646
I have found that "real time sliders" make everything worse, and changes the labels, but turning "real time sliders" off does not fix the issue, it reduces the frequency of the problem, but does not eliminate it.

Here is my site AP
[code]
Another video of the problem, "real time sliders" is off. I am only moving "Max Global Brightness", which does not have a channel or a rule attached to it.
http

[2022-02-06 14:31] weakfl commented on #646
@NickWaterton are you using groups for your items? Please provide the relevant *.items file(s) as well.

[2022-02-06 16:14] NickWaterton commented on #646
Yes I am.

Here is the relevant section of my .items file:
[code]

[2022-02-08 07:41] EjvindHald opened #648 "Custom icons not working in ios version 2.4.41"
A few days back my IPhone upgrade to the newest version 2.4.41

**Describe the bug**
The symptom is that some custom icons are not shown.

**To Reproduce**
Create a custom icon and put in the icons/classic folder and refer to this icon in the sitemap.

**Expected behavior**
I expect the icons to be shown.

**Screenshots**
I have attached screenshot showing missing icons.
![IconsNotWorking](https:/

[2022-02-08 07:52] weakfl commented on #648
@timbms I tend to agree that we should bring this option back for OH 3 clients and maybe just enable it by default depending on OH version. Thoughts?

[2022-02-08 14:05] weakfl commented on #648
@EjvindHald I'll re-enable the icon type setting in the upcoming TestFlight build as fallback option. Could you please elaborate which icons are not working? Then we could at least check if it's an issue in the SVG library or the icons per se.

[2022-02-08 15:19] aMU5Ed commented on #640
@timbms what do you mean bei "reset iOS"?

[2022-02-08 15:23] aMU5Ed commented on #543
I would like to see this feature either, because entering a username/password is ok for my setup where a nginx with basic auth secures the public access to openhab. These credentials are also used for the local server and this leads to a HTTP 401

[2022-02-08 20:02] pelerner opened #650 "openhab-ios 2.4.41 crashes when mapview uses a too large height parameter (e.g. height=400)"
**New bug checklist**

- [X] I updated the iOS openHAB app to the latest version.
- [X] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [X] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
The following sitemap snippet crashes the openhab-iOS App, latest version.

.sitemap
[code]

[2022-02-08 20:29] timbms commented on #648
Makes sense

[2022-02-08 21:00] EjvindHald commented on #648
I have uploaded one of my icons that are not working, so you can try yourself. It is a spot icon and it is both in PNG and SVG format. Each exists in 3 variants: without suffix, suffix off and suffix on. Total 6 files, which worked fine everywhere until IOS version 2.4.41

![spot](https://user-images.githubusercontent.com/25228230/153074540-dd418bd9-420d-42f8-bd21-a8f49b73361e.png)
![spot](https:/

[2022-02-08 21:08] weakfl commented on #650
Thanks for the detailed report, I wish everybody would take the time. I'll try to look into it tomorrow.

[2022-02-09 05:20] timbms commented on #640
With "how to reset iOS" I meant 'how to reset the connection from iOS app to server'.

Something seems to be dangling in the way.

[2022-02-09 05:25] timbms commented on #646
Could be related to an issue on reusable cells. @weakfl: try to have more than a screenful of cells in your test sitemap

Maybe a bug in merge of storyboard files

[2022-02-09 07:38] weakfl commented on #640
Duplicate of #390

[2022-02-09 07:38] #640 closed

[2022-02-09 08:11] weakfl commented on #648
@EjvindHald

I can confirm that the SVG versions of the icon are not working. I'd suggest to file an issue with [SVGKit](https://github.com/SVGKit/SVGKit/issues) directly, as that's the underlying cause.

Meanwhile you can switch to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version and switch back to PNG icons.

[2022-02-09 08:11] #648 closed

[2022-02-09 08:28] weakfl commented on #650
@pelerner

Please install the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version. You should be asked only once if you want to submit crashlogs. However you'll be asked again if another crash happens.

I tried to reproduce this with the item/sitemap you provided, but couldn't.

After installing the latest [TestFlight](https://testflight.apple.com/join/563WBakc) build please ch

[2022-02-09 10:27] pelerner commented on #650
Ok, done that.

Send 2 crash-logs right now.
Email and reference to that issue ist given in carshlog.

I noted that the App now crashed even earlier, when entering the sitemap level above.
Hmm ... maybe I was to early to relate it to the MapView.

[2022-02-09 11:41] weakfl commented on #650
@pelerner Thanks. Your issue seems to be caused by an SVG icon that causes a crash in the SVG library. You can either replace the SVG icon or switch "Icon Type" (Icon-Typ in German) to PNG in settings.

[2022-02-09 13:44] pelerner commented on #650
Just tested the current testflight openhab-ios with as follows ....

1) I have a openhab v3.2.x instance running in parallel to v2.5.x
2) Additionally I changed the Icon-Typ from SVG -> PNG

"Icon-Typ" set to SVG
v3.2 - No crashes. Even the mapview works as it should.
v2.5 - still and reliably **crashes** on mapview subfolder ...

"Icon-Typ" set to PNG, cleared icon cache, stopped iOS App w/wipe t

[2022-02-09 14:06] pelerner commented on #650
Switching back to SVG and ohab v2.5 ....

Now the crashes happen also on some other Group-Entry ... totally unrelated to the Mapview-Group.
Seems like some artifacts accumulate over time.

Deleted the app, installed fresh from the app store.
The Group that crashed before, now works again.

The only Group that reliably and repeatedly crashes is the above documneted mapview Group.
But maybe unrelate

[2022-02-09 16:49] weakfl commented on #650
@pelerner well, your crash log is pretty explicit about what's happening (see stack trace below):
1. SVG image is loaded
2. `SVGKit` library tries to parse the data
3. App crashes

So your observations are a bit inconclusive for me tbh.

[code]

[2022-02-09 21:15] pelerner commented on #650
I found the reason.

In my case it‘s an overly large height-parameter for the mapview.
I used height=400.

For a long time the mapview was very squashed only covering 1/4 of the screen.
I tried to optimize it, experimenting with height.

[Related 1](https://github.com/openhab/openhab-webui/issues/1064)
[Related 2](https://community.openhab.org/t/sitemap-mapview-height-not-working/99150/2)
[Related

[2022-02-10 07:53] weakfl commented on #650
I agree that the [documentation](https://www.openhab.org/docs/ui/sitemaps.html#element-type-mapview) is rather vague: **_"height is the number of element rows to fill."_**

On iOS a "row" defaults to 44 points, I don't know how other UIs handle this.

There is no such thing as allowed maximum for the device. Limiting this to the screen height sounds reasonable though. @timbms thoughts?

Agreed.

[2022-02-10 09:05] timbms commented on #646
I could reproduce the issue in demo mode on simulator:  Main Menu -> Widget Overview -> PERCENT-BASED WIDGETS, wiggle around when real-time sliders are selected. I haven't found the fix yet

[2022-02-10 10:34] pelerner commented on #650
From issue https://github.com/openhab/openhab-ios/issues/184 I read ...

P

[2022-02-10 11:09] abindi1 opened #651 "iOS app crashes if the icon pantry is used in the sitemap on a group"
My sitemap looks like this:

Group item=gSPE label="Speiss" icon="pantry" {
         Frame label="Licht" {
              Switch item=dining_Light_proxy mappings=[OFF="AUS", ON="EIN"]
        }
}

If I start the iOS app (Version 2.4.41 on iOS 15.3) it crashes imediatly.
When the icon of the group is changed to something else it works normaly.

**Smartphone (please complete the following information

[2022-02-10 11:29] weakfl commented on #651
Dupe of #643. Upgrade to OH3 or use PNG icons.

[2022-02-10 11:29] #651 closed

[2022-02-10 11:33] weakfl commented on #650
@pelerner we use a default height if no height is provided:

[code]

[2022-02-11 06:27] timbms commented on #646
@weakfl is there a structural issue here? Would we need to have a view model that holds the information and configures the cells? If so, why did it work up to now?

[2022-02-11 07:00] weakfl commented on #646
@timbms I doubt this has ever worked as intended.

Could be. Since the widget is not captured it might easily have changed when the closure executes, sending the value to the wrong widget.

Of course that would be a better approach. The view shouldn't store the widget at all imho.

Unrelated rant: we should look at raising the deployment target to iOS 13. Think SwiftUI, MVVM, Concurrency, Combine,

[2022-02-11 07:09] Cossey commented on #646
I use to use an iPhone 6 which  meant no iOS 13.

If you do consider upping the target os, consider what important features and fixes you want to bring in before it happens so that those with older iDevices don't miss out!

[2022-02-11 10:34] weakfl commented on #646
@Cossey we would definitely try to have a stable version that includes important features and bug fixes before we increase the deployment target.

But at some point we'll have to make a cut to be able to use new frameworks that facilitate development. After all the iPhone 6 has been released more than 7 years ago.

[2022-02-11 15:03] #650 closed

[2022-02-12 08:55] timbms commented on #646
I couldn't agree more. At some time we need to make a clear cut.
We could still release a separate app that stays on target iOS 11 and continues to support OH 1.x
However, as most users are on OH 3 and 2 and can upgrade to the latest iOS, the standard app should stay up to date with technology. We carry around so much legacy in the app. This slows down development and requires effort we cannot pro

[2022-02-12 20:45] a-umar commented on #646
https://user-images.githubusercontent.com/73140050/153727617-4c3acc16-3d58-4191-9426-8b6e343835dc.MOV

I‘m having the same issue. In the video I’m moving „Dimmer rechts“ and the other sliders start moving by the themselves after the update. In addition the names of the sliders keep switching by themselves.
Got this issue since the last update.
I‘m using App Version 2.4.41 and OpenHAB 2.5.

[2022-02-13 10:13] timbms commented on #646
@a-umar : please try to switch real-time sliders off. This could lessen the problem.

[2022-02-13 22:08] timbms commented on #648
@EjvindHald : I looked into your SVG files. The offending part is in the header.
The embedded DTD defines the entities ns_svg and nx_link:
[code]
SVGKit chokes on the substitution of the entity in the attribute of <svg> `xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;"`. Apparently this is not uncommon, see for instance: https://oreillymedia.github.io/Using_SVG/extras/ch01-XML.html.

You could make your

[2022-02-14 09:57] EjvindHald commented on #648
@timbms Thank you very much for looking into this. And yes, you are right - the icons were made with Illustrator and exported to svg format.

I am on vacation with no access to my setup, so I will look at this in approx. one week when I return.

[2022-02-14 10:59] attilabalazsy commented on #623
It seems the latest test version 2.4.42 (published through Test Flight) solves the problem, the sitemap started to load also through internet. There is an auth error first when switching to remote URL, but then it loads and works correctly. Thank you very much team! Really appreciate.

[2022-02-14 11:01] dirkbe opened #652 "App crashing using custom icons v2.4.41"
iOS openHAB app crashes when displaying custom icons with latest version 2.4.41 (iOS 15.3.1). This doesn't happen with version 2.4.36 (same sitemap), iPadOS 15.3.1

**Describe the bug**
App crashes, when using custom icons.

Following error shows in openhab.log

`2022-02-14 11:22:35.166 [ERROR] [rg.apache.cxf.jaxrs.utils.JAXRSUtils] - Problem with writing the data, class org.openhab.core.io.rest.s

[2022-02-14 20:40] timbms commented on #652
We have numerous reports on our app crashing on non-compliant SVG icons.
We however rely on SVGKit and the limitations of this framework.
I just committed an attempt to get the rendering more robust. @weakfl : Can you build a TestFlight release out of develop branch.
On another tone: your SVG embeds a PNG. What is the advantage of using SVG over PNG in this case?

[2022-02-15 07:28] dirkbe commented on #652
Thanks for your quick feedback. What makes the svg icon non-compliant or how can i create a compliant svg icon?

I use both icons as in the past years some UI's used png some svg (Android, iOS, Web).

[2022-02-15 12:33] #652 closed

[2022-02-15 15:54] timbms commented on #646
@weakfl any idea for a quick fix

[2022-02-16 20:47] weakfl commented on #646
@timbms I'll try to look into this at the weekend…

[2022-02-17 07:28] weakfl commented on #623
Look this is working again so I'll close this. Thanks for the feedback.

[2022-02-17 07:28] #623 closed

[2022-02-18 19:29] timbms commented on #652
@dirkbe Please try latest testflight
It should handle uncompliant svg gracefully.

[2022-02-23 07:37] dirkbe commented on #652
Thanks for following up Tim. The testflight app doesn't crash anymore but also doesn't display the icon - probably the expected behavior. I'll see if i can rearrange the file content to display correct according to your example above.

I could also workaround by changing the icon app settings to png but on another iphone i don't see that option (more investigation on app version, etc. needed...)

[2022-02-23 19:36] timbms commented on #652
Yes, OH iOS app 2.4.42 latest beta handles gracefully a non-compliant SVG file, and will replace it by blank icon. We could give more feedback to the user. 🤔 you could open a new issue if this is relevant

[2022-02-24 09:28] weakfl commented on #652
@timbms I think displaying some kind of "broken SVG" icon as a placeholder would be good. Makes it a lot easier for the users to know what's going wrong.

[2022-02-24 09:54] timbms commented on #652
Yes we could use OH error icon

[2022-02-24 09:57] weakfl commented on #652
Yes, good idea.

[2022-03-01 06:05] Mr-iX opened #656 "Authentication not working anymore"
**Describe the bug**
After the update to 2.4.42 I have to turn on Always send Credentials, otherwise I get the following error message when opening openHAB

**To Reproduce**
Steps to reproduce the behavior:
Open the openHAB app

**Screenshots**
![A846BE5F-144F-40EB-B7A7-F6C98B291E97](https://user-images.githubusercontent.com/25360303/156114145-58a00d23-4bfd-4e79-ad71-5533d13c3c73.png)

**App (plea

[2022-03-01 07:03] mdillmann commented on #656
Exact same behavior here on my side. Also same environment (Iphone on latest iOS, nginx proxy with basic auth).

[2022-03-01 08:23] nethiker opened #657 "Shortcuts no more working after latest app update"
**New regression checklist**

- [x] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**

I was using shortcuts with

[2022-03-01 09:26] heziegl commented on #656
Same here

[2022-03-01 10:18] blackcatoz commented on #642
This issue has resurfaced in all Testflight builds of 2.4.42 (currently 6 as of 1st of March 22).  2.4.41 works ok.

[2022-03-01 16:03] mjeshurun commented on #657
I have the same issue. Started after the OpenHAB app for iOS was updated to version 2.4.42.

[2022-03-01 21:27] kgoderis commented on #656
+1

[2022-03-02 15:03] Mr-iX commented on #656
@weakfl @timbms I downgraded via TestFlight as a workaround. Maybe also an option for the App Store until the bug is fixed.

[2022-03-02 16:59] DjSni commented on #657
Same here...

[2022-03-02 22:08] mjeshurun commented on #657
Issue still happens with app version 2.4.43.

[2022-03-02 22:12] nethiker commented on #657
Yes! Same issue also with app version  2.4.43.

[2022-03-03 08:10] weakfl commented on #656
@Mr-iX to which version/build?

[2022-03-03 08:30] Mr-iX commented on #656
@weakfl The bug was introduced in version 2.4.42, so I downgraded to the version 2.4.41

[2022-03-03 09:35] a-umar commented on #646
With the new app update the issue is still there. Any updates on this issue it’s pretty unusable for me right now :(

[2022-03-03 10:08] B4stl3r opened #658 "notification list gets appended after refreshing (instead of replaced?)"
**New bug checklist**

- [ ] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
if you refresh the notifications i

[2022-03-03 10:10] gilles537 opened #659 "App version 2.4.43 breaking change"
**New regression checklist**

- [x] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
The app is in a contant boo

[2022-03-03 14:32] timbms commented on #659
Which version of OH server are you using?

[2022-03-03 16:23] weakfl commented on #659
And which iOS version?

[2022-03-04 09:37] gilles537 commented on #659
All iPads are running IOS version 12.5.5.

[2022-03-04 11:03] weakfl commented on #659
@gilles537 Your crashes are probably caused by an Xcode bug. We have to wait for Apple to release a new version before we can resolve the issue (currently in beta, should hopefully be available soon).

Meanwhile you can either update your device to at least iOS 13 or install one of the prior openHAB versions via [TestFlight](https://testflight.apple.com/join/563WBakc).

Sorry for the inconvenience

[2022-03-04 19:56] Willem-Renders commented on #656
Got the same problem here.

IOS: 15.3.1
Version: 2.4.43

[2022-03-05 13:27] #658 closed

[2022-03-05 17:16] timbms commented on #658
One issue off the list! Great!

[2022-03-06 20:14] weakfl commented on #656
Can someone please test [this version](https://testflight.apple.com/join/qB5Xk1dR). Thanks...

[2022-03-07 06:05] Mr-iX commented on #656
@weakfl With your link I get the error that this app does not support new testers. And in the normal openHAB TestFlight I cannot see a new version

[2022-03-07 07:45] weakfl commented on #656
@Mr-iX I forgot to increase the testers limit, can you please try again?

[2022-03-07 10:28] D-J-See commented on #656
Thanks @weakfl! Basic Auth is working for me as it did pre 2.4.42. I don’t have any embedded links to test.

[2022-03-07 10:45] Mr-iX commented on #656
@weakfl Now I was also able to download the new version and everything works as it should even embedded websites work again. Thanks!

[2022-03-07 11:58] weakfl commented on #656
Perfect, thanks for the feedback @Mr-iX @D-J-See. I'll merge this and release a new version.

[2022-03-07 12:02] weakfl commented on #656
@Mr-iX @D-J-See I've add the build to the [main TestFlight group](https://testflight.apple.com/join/563WBakc). You should switch back to this one to keep getting future updates.

[2022-03-07 13:06] #656 closed

[2022-03-07 16:39] augisbud opened #662 "401 Unacceptable on IOS Mobile"
**New bug checklist**

- [ ] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [ ] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [ ] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
I get a 401 Unacceptable when tryi

[2022-03-07 18:16] weakfl commented on #662
Please check if this is covered by #656.

[2022-03-08 09:15] DjSni commented on #657
Same on 2.4.44

[2022-03-09 15:16] augisbud commented on #662
Yes, covered

[2022-03-09 22:23] abbe79 commented on #657
Same here, also on 2.4.44

[2022-03-10 06:27] timbms commented on #657
Apparently the files IntentHandler.swift, GetItemStateIntentHandler.swift, etc. are not part of the target openHABIntent anymore. Not clear to me how this got lost.

However, I can't proceed because I don't know how the Intent and Handling classes are generated from Intents.intentdefinition. @weakfl : Can you please have a look?

[2022-03-10 08:28] weakfl commented on #657
@timbms I can get it to build by running the intentbuilder through a run script phase, but this shouldn't be necessary. See branch [fix/657-intents](https://github.com/openhab/openhab-ios/tree/fix/657-intents) if you want to take a look.

Item resolution still fails with `"Unable to find an extension to run this intent. Is your intent listed in IntentsSupported in the extension Info.plist?"` (it i

[2022-03-11 09:26] weakfl commented on #659
@gilles537 Should be working with v2.4.44 from App Store. Can you please confirm?

[2022-03-15 20:37] Flole998 commented on #659
For me on 2.4.45 I am seeing the same behavior, App is unusable at the moment. I don't even have the chance to select the option to send the issue report when it opens as it doesn't react and then just crashes.

[2022-03-16 03:26] timbms commented on #659
@Flole998 Could you please isolate the svg file that is causing the crash and post it here.

[2022-03-16 08:17] weakfl commented on #659
@timbms probably the crash in [SVGKParser.m – line 111](https://console.firebase.google.com/u/1/project/openhab-mobile/crashlytics/app/ios:es.spaphone.openhab/issues/b2f07176f0eb23ea529dca01e457c406?time=last-seven-days).

I don't think we can fix this. It's happening on iOS 12 only. The SVG would of course still be helpful. And we might think about disabling SVGs on iOS 12 altogether...

[2022-03-17 20:34] Skysurfer1987 commented on #646
Same Problem here,

i activated and deactivated lifetime-sliders ….it seems to work……stay in touch

[2022-03-21 08:35] nbs2904 commented on #657
Still broken on 2.4.45.

[2022-03-24 13:48] barry-1337 commented on #646
Yeah, same here. Frustrating when turning down the living rooms light, the kids room light up...

[2022-03-27 16:00] timbms commented on #657
meta data for Intents.intentdefinition of openHAB seems to be broken:
Apparently intentdefinition files have not only a target membership but also instructions to generate the classes
<img width="1440" alt="Screenshot 2022-03-27 at 17 23 41" src="https://user-images.githubusercontent.com/5411131/160289961-c6ac9c61-3706-445d-a89c-8b72f4c2f048.png">
See for example on SoupChef the Apple demo
<img wi

[2022-04-03 13:01] mgeramb opened #663 "Independent Sliders are connected to each other"
I found a major bug in the handling of sliders. There are Sliders somehow magical connected.

**Steps to reproduce:**
* Create a items file ``test.items``:
[code]
* Create a sitemap file ``test.sitemap``:
[code]
* Open the sidemap in the iOS App
* Move Slider ``Test3``

**Current behavior:**
* Slider ```Test1```change to the same position then the moved Slider ```Test2```

**Expected behavior:**
S

[2022-04-07 12:59] proggprod commented on #657
Experiencing the same problem. Any progress on this?
I miss this feature so much!

[2022-04-07 18:26] ajbastien commented on #488
Sorry, I no longer have time to work on this.

[2022-04-07 18:31] ajbastien commented on #657
Sorry, I no longer have time to work on this.

[2022-04-08 19:33] vakdevi commented on #657
How about just rolling back to 2.4.41 for now then. I my self also depended on this feature, and releasing a version breaking this is quite disappointing.

[2022-04-08 21:32] mjeshurun commented on #657
That’s a good idea.
Better to roll back to the last working app version till this issue is fixed.

[2022-04-09 09:16] weakfl commented on #657
Should work again in the upcoming TestFlight build. Lmk if it does and I'll submit a new release build for review.

[2022-04-09 11:47] weakfl commented on #657
FYI: there's still an issue with the network connection when fetching items. Looking into it...

[2022-04-09 13:02] weakfl commented on #657
Upcoming build should at least work in your local network. If using https make sure to open the main app first and trust your certificate again.

I'll have to check why it doesn't work through myopenhab.org yet, won't be today though 😉

[2022-04-10 05:39] #657 closed

[2022-04-10 12:18] #659 closed

[2022-04-10 15:39] timbms commented on #663
duplicate of #646

[2022-04-10 15:39] #663 closed

[2022-04-10 17:38] proggprod commented on #657
Still not working for me.
openHAB app 2.4.46
IOS 15.4.1
OpenHAB 3.3.0M2

Trying both local (http and https) and remote url. Trying ignore SSL and always send credentials etc.
is there any other setup I’m missing?

I tried openHAB app 2.4.41 as suggested above but that didn’t work either

[2022-04-10 17:40] diRk262 commented on #657
Same for me.
Updated to 2.4.46 and shortcuts are still broken. Tested local and remote.

[2022-04-10 18:07] Philipp5796 commented on #657
Update 2.4.46 from the App Store is working for me on iOS 15.4.1. I am using myopenhab

[2022-04-10 18:27] abbe79 commented on #657
Tested TF and AppStore versions, all working, thanks guys!

[2022-04-10 20:40] vakdevi commented on #657
Working for me again (2.4.46) on iOS 15.1.
Not using myopenhab.
Thanks a lot 🙏

[2022-04-10 21:00] diRk262 commented on #657
Maybe someone can share the settings? I can’t get my shortcuts to work again.
Even with a new shortcut I can’t fetch my items to select one. (Fyi REST API is working with shortcuts, only openhab app doesn’t work in shortcuts)

[2022-04-10 21:20] weakfl commented on #657
@diRk262 are you using https for local connection?

Ignore SSL: off
Always send credentials: off

Set trust certificate to always when prompted.

How many items do you have? The timeouts might be a bit low if you have a lot of items, currently 5/10 seconds for local/remote.

If you guys still can't get it to work I'll add some logging when I have time…

[2022-04-10 22:56] proggprod commented on #657
Still not working for me.
2.4.46 (both TestFlight then deleted app then tried App Store download)
iOS 15.4.1
Settings as you suggest

I have 507 items

[2022-04-10 22:59] proggprod commented on #657
Also, just noticed that my Apple Watch app now crashes out when it tries to start.

[2022-04-11 09:54] muggel8378 opened #665 "apple watch app crashes every time"
**New bug checklist**

- [x ] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [ x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [ x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
Since update to Version 2.4.46

[2022-04-11 10:59] weakfl commented on #665
@digitaldan can you please accept the new agreement on https://developer.apple.com/account/? I need to create new profiles to resolve this issue.

[2022-04-11 11:01] muggel8378 commented on #665
How can I accept the agreement? I'm not a developer... and my apple-id is another than here at github.

[2022-04-11 11:02] weakfl commented on #665
@muggel8378 that's why i tagged @digitaldan and not you 😉

[2022-04-11 11:08] muggel8378 commented on #665
I say it quite a minute later and delete the post... ;)

[2022-04-11 11:28] weakfl commented on #665
@digitaldan was able to fix it without new profiles, still would be good if you could accept the new agreement whenever you have time...

[2022-04-11 11:36] weakfl commented on #657
@proggprod see #665. Fix should be available soonish...

[2022-04-11 11:50] muggel8378 commented on #665
additional info: watch app also crashes at apple watch gen 7

[2022-04-11 13:14] weakfl commented on #665
Should be fixed in v2.4.47 (pending review).

[2022-04-11 14:38] weakfl commented on #665
TestFlight version is now available.

[2022-04-11 17:06] weakfl commented on #665
@digitaldan it's probably not on AppStoreConnect, but on the dev portal: https://developer.apple.com/account/

[2022-04-11 17:58] digitaldan commented on #665
I don't see it there either (thats the first place i go before jumping to appstoreconnect) .

<img width="1272" alt="image" src="https://user-images.githubusercontent.com/1903737/162800717-14b22eb5-0410-4664-85f9-39e3d083064e.png">

[2022-04-11 19:21] timbms commented on #665
@digitaldan follow link to appstore. There you may get this message
![image](https://user-images.githubusercontent.com/5411131/162813875-b5e2febd-f618-469f-b845-71a708ed0d55.png)

[2022-04-11 19:34] #665 closed

[2022-04-12 00:26] proggprod commented on #657
Apple Watch fix appears to have worked with version 2.4.47. Thank you!
Unfortunately, iOS Shortcuts is still not giving me a list of items. Same behavior.

[2022-04-12 20:49] mjeshurun commented on #657
Thank you very much!
Shortcuts integration is working again with app versions 2.4.46 and 47.

[2022-04-12 22:11] proggprod commented on #657
Why is it working for everyone except me :(

[2022-04-13 08:22] diRk262 commented on #657
You are not the only one. My old shortcuts still don‘t work and if I create a new one I can‘t select an item :(

[2022-04-13 08:27] weakfl commented on #657
@proggprod @diRk262 are you both on OH 3.3.0M2/M3?

[2022-04-13 08:34] diRk262 commented on #657
No, I use openHAB 3.2.0 Release Build.

[2022-04-13 08:55] proggprod commented on #657
I'm on 3.3.0M3

[2022-04-13 09:20] weakfl commented on #657
I've already increased the timeout in the latest build, but if one of you could try if it works with just a few items in your config that would be much appreciated.

If I have time I'll add some logging this week to get some insights what's failing.

[2022-04-13 13:02] diRk262 commented on #657
When I create a new shortcut and use the „get item state“ function and use the „always ask“ option for the item there is no timeout. I waited a few minutes. Nothing happens.

Maybe there is a problem with the certificate. Where/how can I trust the certificate? There was no question about it to tust.

I got 239 items and use settings Ignore SSL: off and Always send credentials: off like you mention

[2022-04-13 14:12] proggprod commented on #657
I tried again with about 200 items, then again with 1.
Still no joy.

[2022-04-24 20:37] DjSni commented on #657
Hi,

@weakfl i thought at the beginning that it would work again with myopenhab.org. but it does not update the status, in the local network it works without problems.
I am currently using the App store version 2.4.47 and have OpenHAB 3.2 Stable.

[2022-04-26 21:32] a-umar commented on #646
@timbms Have you any updates on this issues?
Best regards!

[2022-05-24 21:38] timbms commented on #646
@weakfl : I deactivated real-time sliders to get over the problem - at least I was able to interact with the demo site. Maybe you can release on TestFlight for others to test.

[2022-06-09 11:06] DrRSatzteil opened #668 "Add Main UI support local/remote via myopenhab"
**New bug checklist**

- [X] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [X] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [X] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
As discussed in the community foru

[2022-06-10 07:51] hmerk commented on #668
@timbms Thanks for your effort, unfortunately, this is not working completely over remote connection, see added screencast.
[https://drive.google.com/file/d/1KBE-WT2k-voQtHM07Xk28c6FDfbAXszL/view?usp=sharing](url)

[2022-06-12 10:54] hmerk commented on #668
Latest Testflight version has an issue authorizing MainUI access via myopenHAB.

[2022-06-12 11:00] florian-h05 opened #669 "Notification is displayed twice"
**New bug checklist**

- [x] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
When I send one notification from

[2022-06-12 13:17] weakfl commented on #669
You probably have the same device registered twice. Please check your device identifiers on myopenhab and remove duplicate entries.

[2022-06-12 16:10] GiovanniBattista commented on #669
@weakfl Thanks, I was having the same problem and your advice fixed it.

[2022-06-13 10:13] florian-h05 commented on #669
@weakfl
Thanks for your help, that fixed it 👍

[2022-06-13 10:13] #669 closed

[2022-06-13 10:14] florian-h05 commented on #669
I switched to the openHAB iOS Beta and that registered my Apple devices, although they already have been registered.

[2022-06-13 12:05] Cossey commented on #556
I also have this issue. Please consider rephrasing the error message as I thought there was an issue with myopenhab service itself - not my instance being offline.

[2022-06-13 12:12] Cossey opened #670 "Sitemap List Order"
I classified it as a bug - but it could have been an intentional change. Quite a fair few versions ago (don't recall when) the openHAB iOS app would arrange the Sitemap List in the sidebar by the "name" field from the sitemap API, but now it arranges the order via the "label" field.

I know it may seem pedantic, but I had named my sitemaps in a specific way so they were ordered correctly in the ap

[2022-06-13 12:18] Cossey opened #671 "Settings > Info items "-""
Under the INFO in Settings, the openHAB Version, UUID and Secret are all `-`. I don't think I've ever seen this working. Should this submenu be removed? The version could instead be placed in the settings menu at the very bottom if its required?

[2022-06-18 16:27] hmerk commented on #668
There is a new Testflight version from today which shows MainUI over remote connection.
👍

[2022-06-19 07:45] timbms commented on #668
@hmerk Thanks for confirming that it works!

[2022-06-20 14:16] DrRSatzteil commented on #668
Seems to work fine, thank you for the quick support! Don’t forget to claim the bounty at bountysource. 🎉

[2022-06-20 14:16] #668 closed

[2022-06-22 10:04] timbms commented on #670
Implemented

[2022-06-22 11:22] hmerk commented on #166
@timbms
Could be closed as well as you implemented it.

[2022-06-22 11:30] hmerk commented on #523
@timbms
Isn‘t this not solved with last updates. I see all tiles now, not only MainUI.

[2022-06-22 11:32] hmerk commented on #494
I think this one should be closed, as we do not have any item based security atm.

[2022-06-22 11:55] timbms commented on #523
Yes, we can close this one as well.

[2022-06-22 11:55] #523 closed

[2022-06-22 11:56] #166 closed

[2022-06-22 13:44] hmerk commented on #354
More than two years gone past with many changes. Is this still valid or can this issue be closed now ?

[2022-06-22 13:45] hmerk commented on #373
With the new MainUI in place, is this still a valid enhancement or should this issue be closed ?

[2022-06-22 13:47] hmerk commented on #390
Is this still a valid issue!

[2022-06-22 13:49] hmerk commented on #420
Has this been fixed in the meantime ?

[2022-06-22 13:50] hmerk commented on #468
Is this still valid ?

[2022-06-22 13:57] hmerk commented on #486
Could this be closed now, as it seems to be solved with #476

Another remark, as we do it in other repositorys.
Could we simply add fixes #xxx or closes #yyyy to PR‘s, so according issues will be closed immediately with merging ?
Would make life a bit easier and we don‘t need to check old issues over and over….

[2022-06-22 14:02] DigiH commented on #354
Unfortunately yes, not to the extend it used to be, with current GM 2.4.47, but with me not using the iOS app that regularly here any longer it can be closed from my end.

[2022-06-22 14:09] hmerk commented on #488
As we have the iCloud binding working, not many change recently, I don‘t see a need for this enhancement and rather would suggest to close this isue as a „won’t fix“

[2022-06-22 16:05] hmerk commented on #354
Thanks, as you opened it, could you please close it, i can‘t.

[2022-06-22 16:17] #354 closed

[2022-06-22 17:11] alaub81 commented on #390
I am using the latest TestFlight iOS App 2.4.49 and openHAB 3.3.0.M6. I do not see any errors when I close the iOS app. And I know, that I had them, too.

[2022-06-22 17:15] choller123 commented on #390
Gone for me with openHAB 3.3 M7 - thanks to the one who has solved it!

[2022-06-22 17:42] hmerk commented on #390
Ok, then let's close this issue ad solved.

[2022-06-22 18:33] timbms commented on #390
Gladly I close the issue. Thanks to the people working in openHAB 3.3

[2022-06-22 18:33] #390 closed

[2022-06-22 18:36] timbms commented on #486
@hmerk: A bit of automated housekeeping would be ideal. Maybe we can do more with GitHub actions

[2022-06-22 18:37] #420 closed

[2022-06-22 18:38] timbms commented on #468
Not heard of in 2 years. Therefore will be closed

[2022-06-22 18:38] #468 closed

[2022-06-22 18:41] weakfl commented on #486
it's as eas as adding `closes #xyz` in the PR description. actions won't help if there's no reference to the issue unfortunately.

[2022-06-22 18:54] hmerk commented on #486
@weakfl Yes, that‘s why we have some kind of a guidance in other repos.
If a PR is opend, it should reference the underlying issue with
Closes
or
Fixes.
Just to make shure the issue gets closed after merging the PR.
Should be really simple to appl here as well.

[2022-06-22 19:09] DigiH commented on #468
@timbms just because we don't constantly nag, which I think would be bad form, if no comment or solution is heard from the developing side for 2 years doesn't mean it's fixed ;) Trust me, I would have commented this if it was not an issue any longer.

Just now verified with 2.4.47, and yes, it still happens, intermittently as before, but easy to catch on a 4-5th try opening a page with several cha

[2022-06-23 03:41] hmerk commented on #486
you can find a PR template here
https://github.com/openhab/openhab-addons/blob/main/.github/PULL_REQUEST_TEMPLATE.md
We would just adopt it to the guidelines for this repo and add the closes/fixes lines to it, as those are not included.
Maintainers of other repos remind users to add those information, sometimes they add it to PR comments themselves.
But as you @weakfl and @timbms are mostly creati

[2022-06-24 06:36] timbms commented on #624
Not reproducible to me.
On latest version 2.4.49 I get the world icon that allows to switch between all installed keyboards

[2022-06-24 06:36] #624 closed

[2022-06-24 12:23] #609 closed

[2022-06-24 13:23] #618 closed

[2022-06-25 08:58] EjvindHald opened #677 "Many errors in openhab.log file"
**New bug checklist**
I am using the newest test flight version of the iOS app. The problem has been there for several months.

**Describe the bug**
The log file openhab.log shows many various error messages when using the iOS app. Some are Java crash, some mentions 'Broken pipe' and others are related to REST API.

**To Reproduce**
I am sorry to say I cannot reproduce it consistently. I have trie

[2022-07-02 09:07] proggprod commented on #657
Been trying all the betas. Now on 2.4.50, but still no items displayed in iOS Shortcuts

[2022-07-02 14:56] SeveranExp commented on #556
This would be great +1

[2022-07-04 12:14] diRk262 commented on #657
Same for me. I can’t select an item and my old shortcuts are still not working.
No idea why this issue is marked as fixed.

[2022-07-20 07:39] diRk262 opened #683 "Add "Wrtite to NFC tag" feature"
**Problem:**
I was wondering why there is no NFC feature for the iOS App. I am able to read and write nfc tags with my iPhone and an app called "NFC Tools". So the hardware is capable doing this.

**Request:**
Add the "Wrtite to NFC tag" feature like it is available for the Android App.

**Screenshot Android:**
![nfc](https://user-images.githubusercontent.com/76136884/179924575-45650c86-c903-46d9-

[2022-07-24 09:54] romanstyler commented on #557
+1

[2022-07-25 08:29] vmaxdragon commented on #557
+1 - I also manage 4 installations for home, garden, son and a test installation.

[2022-08-19 20:15] kaikreuzer opened #685 "App fails to render the sitemap"
- [x] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**

When accessing openHAB, the iOS app does not render the

[2022-08-19 20:24] digitaldan commented on #685
I have a fix for this which i will be pushing up over the weekend.

[2022-08-23 15:50] #685 closed

[2022-08-27 07:00] Boldfor opened #687 "Black main UI screen (or empty graph pages) after App has been minimized and put to sleep by iOS"
- [x] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
After the App has been minimized (and put to sleep by iOS

[2022-08-28 17:48] digitaldan commented on #687
So I have noticed this as well, only happens when the app is in the background for some extended period of time.

I wonder if IOS is terminating the webview process  when in the background
https://developer.apple.com/documentation/webkit/wknavigationdelegate/1455639-webviewwebcontentprocessdidtermi

I would like to avoid reloading the web view when returning to the app every time, that can be trou

[2022-08-28 19:20] Boldfor commented on #687
I included another observation (see 7.3) which _i believe_ is eventually related to the same root cause (hence me including it here in this issue), but it could also be something else.

Let me know if I can contribute further.

[2022-08-28 21:09] digitaldan commented on #687
Yeah, after looking at your screen shots (i missed them in the email version of this ticket) , it might be also be the main UI is not able to connect to the URL it been loaded from and we need to rerun our network reachability code.  Do you use myopenhab.org ?  Does this happen more frequently when outside your network, or when you maybe switch between  internal/external networks while its in the

[2022-08-28 23:30] digitaldan commented on #685
This was just released and should be available in global app stores

[2022-08-29 19:54] kstuken commented on #677
I can confirm this. Lots "broken pipe" and "could not send message" errors in the log when using the iOS app.

After upgrading to OH3.3 the logging has somewhat evolved, I am now getting a lot of a new error that I had never seen under OH3.2 before:
`2022-08-29 21:40:19.114 [ERROR] [ab.core.ui.icon.internal.IconServlet] - Failed sending the icon byte stream as a response: null

2022-08-29 21:40:19

[2022-09-01 21:12] Boldfor commented on #687
Yes, I use myopenhab.org. But the problem also appears when I'm at home (local access).

And no, it does not appear to happen more frequently when outside of my network. I'd say it's identical, whether I'm inside (local) or outside (myopenhab.org) of my network.

[2022-09-03 13:05] timbms opened #689 "Implement forceAsItem-option"
### Discussed in https://github.com/openhab/openhab-ios/discussions/667

<div type='discussions-op-text'>

<sup>Originally posted by **Flole998** April 19, 2022</sup>
This is part of https://github.com/openhab/openhab-core/issues/2185.

In https://github.com/openhab/openhab-core/pull/2657 an option to force charts for groups to be rendered as value of the group instead of rendering all members of

[2022-09-18 12:16] Boldfor commented on #687
Not sure if something was changed and automatically deployed to the iOS App, but the problem seems to be gone?

[2022-10-27 21:19] vakdevi commented on #657
For me it works only on my local network. On remote I am able to select items after waiting 10-12 seconds, but executing gets/sets does not work and ends up with a timeout halting the shortcut.

[2022-11-04 05:20] mmiller1987 opened #695 "iOS Ver. 2.4.54 Crash On Open"
**New regression checklist**

- [x] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**
The app crashes immediately

[2022-11-07 13:36] jmActifio opened #696 "iOS app 2.4.54 gives "empty site map list" error on OH 2.3"
There have previously been several instances where an update to the iOS app breaks compatibility with OH 2.3.  The latest update, 2.4.54, has brought back the old "empty site map list" error.

[2022-11-08 09:45] usamer77 commented on #696
The update should bring "Advanced reachability logic". This caused an error loading my Sitemap via the local URL. But it works via the external URL (myopenhab.org)!
Curious to know how to fix it!

[2022-11-09 00:54] blackcatoz commented on #696
Same issue for me.Seems this issue was re-introduced with release 1580410521.

[2022-11-09 01:50] mmiller1987 commented on #696
Same issue here. I opened an issue here last week. Since then I've downloaded testflight, uninstalled and re-intlled the app through test flight, updated ios to ver 16.1, none of which worked. I'm happy to help test things if I can to solve the problem because my family and I use the app daily, locally and remotely. Luckily my alexa connections to openhab still work so I just use alexa or alexa ap

[2022-11-09 01:52] mmiller1987 commented on #695
I've also update iOs to version 16.1. I still have same results. Let me know how I can help.

[2022-11-09 02:45] blackcatoz commented on #696
@mmiller1987 In Testflight, select Previous Builds, then the last build available is 1580410520, which will buy you 18 days of use until it expires.  Hopefully it can be fixed before it expires... a similar issue with family usage for me as well - they don't have Testflight installed on their devices...

[2022-11-09 02:57] mmiller1987 commented on #696
@blackcatoz thank you. I didn't realize how TestFlight worked when I posted that earlier. I then investigated by testing all 2.4.54 builds and landed on the same build you mentioned.

[2022-11-09 12:07] blackcatoz commented on #642
bumping this issue as it has resurfaced again since 1580410521 & now app store release. open issue #696

[2022-11-09 13:51] usamer77 commented on #696
I got it back to work - somehow.

Have you included the protocol for your internal URL, like this:(http://192.168.0.120:8080

Ignore SSL: OFF
Send credentials always: OFF

Et voila! The sitmap was loading again via the internal URL.

Let me know if that helped you as well!

BR
U

[2022-11-10 03:32] jmActifio commented on #696
No, that does not work for me.  Are you using OH 2.3?  We've had this seemingly exact bug before that specifically impacts only OH 2.3.

[2022-11-10 10:50] hmerk commented on #696
@jmActifio Is there any reason why you stay at an old, no longer maintained version of openHAB ?
Please understand that we cannot support such old versions for ages.
openHAB 3.0 was released almost 2 Years ago.

[2022-11-10 11:57] blackcatoz commented on #696
for me, I just haven't had the time to re-visit the upgrade again.  2.4 has been solid and stable.  the last server restart I did had a 365+ day uptime.  I tried initially to upgrade to v3 but my rule files failed and simply did not have the time to debug/re-write them for v3.  as OH has become so entwined in the house, it is hard sometimes to do upgrades and keep all the household members happy (

[2022-11-10 13:57] jmActifio commented on #696
@hmerk In short "because it works".  The longer answer is that I have a large financial investment in what is now rather outdated security and lighting control hardware, among other things.  The maintainers of add-ons for such things seem to have petered out.  Over the years I've managed to pull in the right add-ons, sometimes making custom tweaks, and now I have a rock-solid control system.  Even

[2022-11-10 14:54] digitaldan commented on #696
Hi can someone post the sitemap code they are using?  I'm going to take a look at this shortly.

[2022-11-10 15:36] digitaldan commented on #696
I am building a new testflight version out now, i'll let you know when its published.

[2022-11-10 16:22] jmActifio commented on #696
Thank you @digitaldan.  Standing by to test it.

[2022-11-10 21:00] matushromada commented on #696
I confirm that released test version fixed the issue.

[2022-11-10 21:50] digitaldan commented on #696
Sounds like its working, we have a crash i am testing a fix for as well, and will push an app store build once its done.

[2022-11-10 22:32] blackcatoz commented on #696
I can also confirm it is working on OH 2.4  Thanks @digitaldan Appreciate your work!

[2022-11-10 22:41] jmActifio commented on #696
Confirmed on 2.4.55 as well.  Working again with OH 2.3.

[2022-11-10 22:59] mmiller1987 commented on #695
@digitaldan thank you. I just tested TestFlight ver 2.4.55 build (1580410526) and can confirm all is in working order with OH ver 2.4

[2022-11-11 07:59] matushromada commented on #696
The Testflight build 1580410528 (no build comments - please always put comments for build - what to test) broke it again - error "returned empty site map list"
OH 2.4.0

[2022-11-11 08:38] timbms commented on #696
Thanks for alerting. This was a build independent of this fix! I pulled it back from testing.

[2022-11-11 16:18] digitaldan commented on #696
Sorry missed this thread (@timbms  i  just emailed you ) , So what build is currently pushed out on testflight ?  is it based on develop or my branch ?  Thanks!

[2022-11-11 16:23] digitaldan commented on #696
It looks like it's still based on develop, i'm going to rebuild a new one on the fix branch to be safe.

[2022-11-11 17:13] wtrucci commented on #696
The Testflight build 1580410529 I see error "returned empty site map list"
OH 2.3.0

[2022-11-11 17:15] digitaldan commented on #696
Testflight build 1580410530 is now active and should have the latest fixes.

[2022-11-11 17:18] wtrucci commented on #696
@digitaldan Yessss now it's working with OH 2.3 many thanks!

[2022-11-11 20:07] jmActifio commented on #696
1580410530 also working for me with OH 2.3, no issues.

[2022-11-11 20:45] timbms commented on #696
@digitaldan I am fiddling around with github actions. I am committing my small changes directly to develop

[2022-11-14 05:03] digitaldan commented on #696
@timbms can you take a look the the github actions?  I'm having trouble creating a release build.  Thanks!

[2022-11-14 06:37] timbms commented on #696
I am looking at the GitHub actions. However, this is independent of this issue.
Therefore, I will close this thread.

[2022-11-14 06:37] #696 closed

[2022-11-15 01:52] #695 closed

[2022-11-26 09:45] florian-h05 opened #700 "MainUI is not working via myopenHAB when `Default Path` is set"
**New bug checklist**

- [x] I updated the iOS openHAB app to the latest [TestFlight](https://testflight.apple.com/join/563WBakc) version.
- [x] I read the [Contribution Guidelines](https://github.com/openhab/openhab-ios/blob/develop/CONTRIBUTING.md)
- [x] I searched for [existing GitHub issues](https://github.com/openhab/openhab-ios/issues)

**Describe the bug**

When I am access my openHAB serve

[2022-11-26 17:02] digitaldan commented on #700
Yep, i can reproduce this as well, strange, i will take a look.

[2022-11-27 22:14] digitaldan commented on #700
So this is a little odd.  Somewhere in the Main UI its doing a redirect when you try to navigate directly to a route.  This  redirect is the route with the trailing slash appended.  Since the local connection from the cloud addon back to openHAB on localhost is using http  (and not https) , it sends a redirect to `http://home.myopenhab.org:443/page/somepage/` , which is obviously not going to work